<template lang="pug">
  .section.background-image
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KRCFZQ' height='0' width='0' style='display:none;visibility:hidden')
    //div.absolute.alert.alert-warning.alert-dismissible.d-none.d-sm-none.d-md-block
        | Haz clic en el botón verde de todas las aseguradoras que te interesen.
        button.close(type='button' data-dismiss='alert' aria-label='Close')
          span| &times;

    div.container
      div.row
        div.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
          div.nav.navbar-nav
            ul.nav.navbar.navbar-light
              li.nav-item
                  a.nav-link.active.ml-33(href='/')
                    .sprite-logo
              li.nav-item
                a.nav-link(href='#')
              li.nav-item
                a.nav-link(href='#')
              li.nav-item
                img.sizelogo(src='img/funnel-imagenes/best_prize.png' alt='Logotipo Ahorra Seguros Autos' title='Logotipo Ahorra Seguros Autos' class="img-fluid")
        .container
          .col-12.col-md-8.offset-md-2.col-xl-8.offset-xl-3.pb-3
            h5.sbold.colorAhorra.movile_text ¡{{this.$store.state.formCotizacion.nombre}}, encontramos los mejores precios para tu seguro de auto!
          .offset-md-1.mb-5.mb70.text-center.d-none.d-sm-none.d-md-block
            ul.f11
              li.ulline 
               span.fa.fa-info-circle.fa-lg.colorinfo
               |  Verifica que la versión de tu auto sea la correcta  
              li.ulline 
               span.fa.fa-info-circle.fa-lg.colorinfo 
               |  Haz clic en el botón verde de todas las aseguradoras que te interesen  
    .container
      .row
        .col-12.p-12leo
          div.alert.alert-warning.alert-dismissible.d-none.d-sm-none.d-md-block
            | Haz clic en el botón verde de todas las aseguradoras que te interesen.
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span| &times;

          .mb-5.text-center.d-sm-block.d-md-none.d-lg-none.f11.mb-15
            .alert.alert-warning.alert-dismissible(role='alert')
              p.hline.mt-1 Haz clic en el botón verde de todas las aseguradoras que te interesen.
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;

           

    div
      .container-fluid
        .row
          .col-xl-10.offset-xl-1.col-lg-12.col-md-12.col-sm-12.col-12
            .row
              .col-12
                br
                div.tab-content
                ul.nav.nav-tabs.listcategori.tab(role='tablist')
                  li.nav-item
            div(id="accordion", v-if="!$store.state.control.vista")
              div.box.mb-2(v-for="(c, indexList) in $store.state.cotizaciones", :data_id="''+indexList+''")
                list-component(:cotizacion="c",:indice="indexList")
              div.header-card.box.mb-2(v-for="(a, indexList) in $store.state.allAseguradoras", :data_id="''+indexList+''")
                aseguradoras-sin-cotizacion(:aseguradora="a",:indice="indexList")

            loader-component(v-if="$store.state.config.loading")
</template>
<script>

  import AseguradorasSinCotizacion from '~/components/common/AseguradorasSinCotizacion.vue'
  import LoaderComponent from '~/components/common/Loader.vue'
  import ListComponent from '~/components/Cotizacion.vue'
  //import CotizacionGaleriaComponent from '~/components/CotizacionGaleria.vue'
  import Alert from '~/components/Alert.vue'
  //import CardsSinCotizacion from '~/components/common/CardSinCotizacion.vue'

  export default {
    data() {
      return {
        vista: false,

        alerts: [
          // {message: 'Verifica que la información de tu automóvil sea la correcta.', timeout: 15000},
          {message: 'Haz clic en el botón verde de todas las aseguradoras que te interesen.'}
        ]
      }
    },
    components: {

      //ControlComponent,
      ListComponent,
      LoaderComponent,
      AseguradorasSinCotizacion,
      Alert,
      //CotizacionGaleriaComponent,
      //CardsSinCotizacion
    },
    created() {

    },
    methods: {
      removeAlert(index) {
        this.alerts.splice(index, 1);
      },
    }
  };
</script>
<style>
  body {background-color: #f2f2f2 !important;}
  .ulline{float: left;padding:0px 16px;}
  .colorinfo{color:#1ab366;}
  .f11{font-size: 12px;}
  .background-image {background-color: #f2f2f2;}
  .alert-dismissible{padding-right: 58px;}
  .btn-secondary {border: none !important;}
  .alert-dismissible .close {position: absolute;top: 0;right: 0;padding: 10px 20px;color: inherit;font-size: 20px;}
  .alert-warning {background-color: #bef0d9;border-color: #bef0d9;color:#302e2e;}
  .infospan{font-size: 12px;color: #888;}
  .absolute {top: 10px;right: 0px;width: 400px;height: 65px;color: #302e2e;z-index: 1;padding: 12px 22px;position: fixed;font-size: 13px;border-radius: 5px;animation: timer 3s;
}
  @keyframes timer { 0% {opacity: 0;} 100% {opacity: 1;} }
  .hline{line-height: 14px;}
  </style>

