<template lang="pug" xmlns="">
  .container
    .row.py-5(id="contenedorPadre")
      .col-md-8
        .steps-form-2
          .steps-row-2.setup-panel-2.d-flex.justify-content-between
            .steps-step-2
              a.btn.btn-info.btn-circle-2.waves-effect.ml-0(href="#step-1",type="button",data-toggle="tooltip",data-placement="top",title="CONDUCTOR",@click="nextStep('step-1')")
                i.fa.fa-user-circle.fa-2x(aria-hidden="true",@click="nextStep")
                .w-100
            .steps-step-2
              a.btn.btn-pink.btn-circle-2.waves-effect.p-3(href="#step-2",type="button",data-toggle="tooltip",data-placement="top",title="ZONA",@click="nextStep('step-2')")
                i.fa.fa-map-marker.fa-2x(aria-hidden="true",@click="nextStep")
                .w-100
            .steps-step-2
              a.btn.btn-pink.btn-circle-2.waves-effect.p-3(href="#step-3",type="button",data-toggle="tooltip",data-placement="top",title="AUTO",@click="nextStep('step-3')")
                i.fa.fa-car.fa-2x(aria-hidden="true",@click="nextStep")
                .w-100
            .steps-step-2.no-height
              a.btn.btn-pink.btn-circle-2.waves-effect.p-3(href="#step-4",type="button",data-toggle="tooltip",data-placement="top",title="Datos del Pago",@click="nextStep('step-4')")
                i.fa.fa-cc-visa.fa-2x(aria-hidden="true",@click="nextStep")
                .w-100
      .col-md-9
        form(role="form",action="",method="post",@submit.prevent="onSubmit")
          <form-conductor></form-conductor>
          <form-zona></form-zona>
          <form-auto></form-auto>
          <form-pago></form-pago>
      .col-lg-3.col-md-4.col-sm-8.col-xs-12.sidebar.mb-3
        .card
          .card-header.bg-primary.mb-3
            .col-sm-12.text-white(style="align-content") Resumen de Compra
          .card-body
            .col-sm-12(style="align-content")
              img.figure-img.rounded(:src="'/img/aseguradoras/ANA.png'",width="200px")
            .col-sm-12.text-left
              table(style="font-size: small;")
                tbody
                  tr
                    td.bold #_Seguimiento:
                    td "PENDIENTE"
                  tr
                    td.bold Tipo de Uso:
                    td {{this.$store.state.emision.Vehiculo.Uso}}
                  tr
                    td.bold Marca:
                    td
                      span {{this.$store.state.emision.Vehiculo.Marca}}
                  tr
                    td.bold Descripción:
                    td {{this.$store.state.emision.Vehiculo.Descripcion}}
                  tr
                    td.bold Modelo:
                    td {{this.$store.state.emision.Vehiculo.Modelo}}
                  tr
                    td(colspan="2")
                      p.text-center
                        h3 {{this.$store.state.emision.Cotizacion.PrimaTotal | currency}}
              .col-sm-12
                p.text-center
                  button.btn.btn-outline-success.btn-lg.btn-block(name="btnEmitirDos",type="button") Pagar
</template>
<style lang="css">
  .steps-form-2 {
    display: table;
    width: 100%;
    position: relative; }
  .steps-form-2 .steps-row-2 {
    display: table-row; }
  .steps-form-2 .steps-row-2:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #7283a7; }
  .steps-form-2 .steps-row-2 .steps-step-2 {
    display: table-cell;
    text-align: center;
    position: relative; }
  .steps-form-2 .steps-row-2 .steps-step-2 p {
    margin-top: 0.5rem; }
  .steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
  .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
    width: 70px;
    height: 70px;
    border: 2px solid #59698D;
    background-color: white !important;
    color: #59698D !important;
    border-radius: 50%;
    padding: 22px 18px 15px 18px;
    margin-top: -22px; }
  .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
    border: 2px solid #4285F4;
    color: #4285F4 !important;
    background-color: white !important; }
  .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
    font-size: 1.7rem; }

</style>
<script>
  import FormConductor from '~/components/emision/FormularioEmisionDataConductor.vue'
  import FormZona from '~/components/emision/FormularioEmisionDataZona.vue'
  import FormAuto from '~/components/emision/FormularioEmisionDataAuto.vue'
  import FormPago from '~/components/emision/FormularioEmisionDataPago.vue'
  export default {
    components: {
      FormConductor,
      FormZona,
      FormAuto,
      FormPago
    },
    mounted () {

      // Tooltips Initialization
      var navListItems = $('div.setup-panel-2 div a'),
        allWells = $('.setup-content-2'),
        allNextBtn = $('.nextBtn-2'),
        allPrevBtn = $('.prevBtn-2');
        allWells.hide();
      $('div.first').show();
      navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
          $item = $(this);

        if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-amber').addClass('btn-blue-grey');
          $item.addClass('btn-amber');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
        }
      });

      allPrevBtn.click(function(){
        var curStep = $(this).closest(".setup-content-2"),
          curStepBtn = curStep.attr("id"),
          prevStepSteps = $('div.setup-panel-2 div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

        prevStepSteps.removeAttr('disabled').trigger('click');
      });

      allNextBtn.click(function(){
        var curStep = $(this).closest(".setup-content-2"),
          curStepBtn = curStep.attr("id"),
          nextStepSteps = $('div.setup-panel-2 div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='url']"),
          isValid = true;

        $(".form-group").removeClass("has-error");
        for(var i=0; i< curInputs.length; i++){
          if (!curInputs[i].validity.valid){
            isValid = false;
            $(curInputs[i]).closest(".form-group").addClass("has-error");
          }
        }

        if (isValid)
          nextStepSteps.removeAttr('disabled').trigger('click');
      });

      $('div.setup-panel-2 div a.btn-amber').trigger('click');

    },
    methods: {
      onSubmit() {
        this.$validator.validateAll();
        if (!this.errors.any()) {
          //alert('submit');
        } else {
          //alert('submit-otro');
        }
      },
      nextStep: function(id) {
        this.$validator.validateAll().then((result) => {
          //console.log(result);
          //alert(result);
        });
      }
    }
  }
</script>
