/*images*/
body{background: #f5f5f5;font-family:'Open Sans', sans-serif;font-size: 16px;font-size: 1rem;font-weight: 400;line-height: 1.5;color:#3b3b3b !important;text-align: left;}
.chevron{background-image:url(~/static/img/funnel-imagenes/flechadown.svg);height:auto;display:block;background-size:12px;background-position:right 0.8em center;background-repeat:no-repeat;}
.illustration{background-image:url(~/static/img/funnel-imagenes/ilustrationcard.svg);height:300px;display:block;background-size:70%;background-position:center;background-repeat:no-repeat;opacity:0.8;}
.panel-default > .panel-heading {background-color: transparent !important;border-color: #fff;}
.bannerP{display:block;max-width:488px;width:100%;height:auto;}
.fotoPerfilg{width:100%;}
.section-bannerP{display:flex;z-index:2;margin:-30px auto 0;}
/*sprites*/
.sprite-aba{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-8px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-afirme{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-87px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-aig{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-170px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-ana{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-245px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
/**/
.sprite-atlas{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position: -320px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-axa{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position: -410px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-banorte{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position: -560px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-aguila{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position: -640px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-general{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position: -720px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-sura{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-790px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-vexmas{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-885px 0px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
/**/
.sprite-gnp{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-9px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-hdi{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-90px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-inbursa{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-166px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-latino{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-246px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-mapfre{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-325px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-multiva{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-405px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-qualitas{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-643px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-rsa{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-720px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-zurich{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-793px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-miituo{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-486px -142px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-potosi{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-481px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-primero{background-image:url(~/static/img/funnel-imagenes/spritelogos.png);background-position:-561px -77px;width:76px;height:76px;display:block;background-repeat:no-repeat;}
.sprite-card {background-image: url(~/static/img/funnel-imagenes/spritelogos.png);background-position: -220px -155px;width: 159px;height: 23px;display: block;background-repeat: no-repeat;}
.sprite-logo {background-image: url(~/static/img/funnel-imagenes/spritelogos.png);background-position: -8px -166px;width: 220px;height: 37px;display: block;background-repeat: no-repeat;}
/*fonts*/
/*Arbitrario*/
.styl{list-style-type:none;}
.fs14{font-size: 16px;}
/*estilos de modal panel*/
.modal-title {margin-bottom: 0;line-height: 1.5;font-size: 15px !important;}
/**/
a:not([href]):not([tabindex]) {color: #999;text-decoration: none;}
/*Check personalizado*/
.checkbox {}
.checkbox label {display: inline-block;position: relative;padding-left: 5px; }
.checkbox label::before {content: "";display: inline-block;position: absolute;width: 12px;height: 12px;left: 0;margin-left: -17px;border: 1px solid #cccccc;border-radius: 3px;background-color: #fff;margin-top: 4px;}
.checkbox label::after {display: inline-block;position: absolute;width: 6px;height: 6px;left: 0;top: 0;margin-left: -21px;padding-left: 5px;padding-top: 3px;font-size: 9px;color: #555555;}
.checkbox input[type="checkbox"] {opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome';content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed; }
.checkbox.checkbox-circle label::before {border-radius: 50%; }
.checkbox.checkbox-inline {margin-top: 0; }
.checkbox-primary input[type="checkbox"]:checked + label::before {background-color: #309bff;border-color: #309bff; }
.checkbox-primary input[type="checkbox"]:checked + label::after {color: #fff; }
.ul-noli {list-style: none;float: left;padding: 3px 0;font-size: 18px;}
ul.ul-noli li{float:left;}
ul.slides{list-style:none;display:block;float:left;padding:0;list-style: none;margin-top: -30px;margin-bottom: 40px;}
ul.slides li{float:left;margin: 0 5px;}
.overhidden{overflow:hidden;}
.em06{padding:0.6em;}
.imgPrincip{display:block;width:100%;}
.colorfa{color: #014f9e;}
.box-sh{box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);}
.border--round{border-radius:6px;}
ol{list-style-position:outside;list-style-type:number;}
.process-3::before{content:'';position:absolute;height:100%;width:1px;left:5.657143em;top:0;border-left:1px dashed #ddd;}
.process-3 li:not(:last-child){margin-bottom: 3.71428571em;}
.process-3 li {position:relative;z-index:1;overflow:hidden;}
.process-3 li .process__number {float: left;width: 15%;width: 3.71428571em;height: 3.71428571em;border-radius: 50%;border: 2px solid #0065c5;background-color: #fff;text-align: center;z-index: -1;line-height: 2;}
.process-3 li .process__number span {font-size: 1.35714286em;font-weight: bold;color: #0065c5;position: relative;top: 6px;}
.process-3 .process__number > span::before{/*counter-increment:number;*/content:counter(number);}
.process-3 li .process__body {width:80%;float: right;}
input[type="number"],select{-moz-appearance:textfield!important;appearance:textfield!important;}
.dropdown-divider{margin:1rem 0!important;}
/*prefrec*/
.pregFrec{padding-bottom:3em;}
.panel-default {border-color: #fff;}
.panel-default > .panel-heading {color:#666;background-color:#fff;border-color:#fff;}
.panel-heading {padding:10px 15px;}
.panel-title {font-size:20px;}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{border-top: 2px solid #0cdb0f;}
.panel-body{padding:35px;}
.btn-success{color: #fff;background-color: #30c13e;border-color:#30c13e;font-weight: 700;}
.btn-success:hover {color: #fff;background-color: #30c13e;border-color: #1ab362;}
.poppover{max-width: 240px;}
/*footer*/
.imgFooter{display:block;float:left;width:150px;height:auto;}
footer ul:not(.list-inline):not(.slides) > li {line-height: 2.32142857em !important;}
ul.menu li a{color:#fff;text-rendering:optimizeLegibility;}
a.li-title{font-weight:600;font-size:1.4em;border-bottom:none;text-decoration:none;}
.icon-svg{min-width:80px;display:inline-block;}
.bgAhorraSeguros3{background:#0a3968;background-color: rgb(10, 57, 104);background-color: #0a3968;}
.heightFoot {padding:40px 0;font-size: 14px;}
.brrrr{background-color: #044f99 !important;background:#044f99 !important;padding-bottom:1em;}
.matamarginTop{margin-top:0!important;}
ul.menu{list-style:none;}
ul#menu-footer-1 > #menu-item-2816 > a, ul#menu-footer-2 > #menu-item-2821 > a, ul#menu-footer-3 > #menu-item-2826 > a, ul#menu-footer-4 > #menu-item-2101 > a {text-transform:normal;font-weight: 700;font-size: 1.4rem;border-bottom: none;text-decoration: none;}
a {color: #014f98;}
a.colorBlanco:hover{color:#fff;}
.spacefoo{margin-top: 10px;margin-bottom: 10px;}
.bgColorgris {background-color: #fff;padding: 20px;background: #fff !important;box-shadow: 5px 2px 20px 1px #eae9e9 !important;}
.footerh3{font-size: 18px !important;color: #044f99 !important;font-weight: bolder;}
.no-rastreator {background: #fff;box-shadow: 0px -3px 10px #eae9e9;}
/*colors*/
.colorBlanco{color:#fff;}
.colorAhorra{color:#014f98}
a.alink.colorAhorra{color: #014f98;}
.colorGray1{color:#9e9e9e;}
.cYellow{color:#facd49; }
.pa-r0{padding-right:0;padding-top:0.4rem;}
/*Estilos para tooltip agradecimiento*/
.poperscontain{line-height: 1.2em;font-size: 13px;color:#555;}
.poperscontain img{float: left;margin-top: 0;margin-left:0;margin-right: 6px;height:30px;width: auto;}
/*FUNCION TOOLTIP*/

.popover .arrow {-webkit-animation-name: sincolor;animation-name:  sincolor;-webkit-animation-duration: 7s; animation-duration: 7s; opacity:0; position: absolute; display: block; width: 1rem; height: 0.5rem; margin: 0 0.3rem;opacity: 0}

@keyframes sincolor {
0% {opacity:.9;}  50% {opacity: .7;} 100% {opacity: 0;}
}
@-webkit-keyframes sincolor {
 0% {opacity:.9;}  50% {opacity: .7;} 100% {opacity: 0;}
}

.p_popover{-webkit-animation-name: cambiarColortext;animation-name: cambiarColortext;-webkit-animation-duration: 7s;animation-duration: 7s;color: transparent;font-size: 0px;text-transform: uppercase;}
@-webkit-keyframes cambiarColortext {
  0% {color: #555;font-size: 11px} 50% {color: #777;font-size: 11px} 75%{color: #999;font-size: 11px} 100% {color: #fff;height: 0;font-size: 11px}
}
@keyframes cambiarColortext {
   0% {color: #555;font-size: 11px} 50% {color: #777;font-size: 11px} 75%{color: #999;font-size: 11px} 100% {color: #fff;height: 0;font-size: 11px}
}

.imgpop{-webkit-animation-name: imagentransparent;animation-name: imagentransparent;-webkit-animation-duration: 8s; animation-duration: 8s; opacity:0;}
@keyframes imagentransparent {
   0% {opacity:.9;}  50% {opacity:.7;}  75% {opacity: .3}  100% {opacity:0;}
}
@keyframes imagentransparent {
   0% {opacity:.9;} 50% {opacity: .7;}   75%{opacity: .3}  100% {opacity: 0;}
}

.popover {position: absolute;top: 0;left: 0;z-index: 1060;display: block;max-width: 276px;font-weight: 400;line-height: 1.5;text-align: left;text-align: start;text-decoration: none;text-shadow: none;text-transform: none;letter-spacing: normal;word-break: normal;word-spacing: normal;white-space: normal;line-break: auto;font-size: 0.875rem;word-wrap: break-word;background-color: transparent;border: none;background-clip: padding-box;border-radius: 0.3rem;-webkit-animation-name: cambiarColor;animation-name: cambiarColor;-webkit-animation-duration: 8s;animation-duration: 8s;/*  -webkit-animation-iteration-count: infinite;*/}
@keyframes cambiarColor {
  0% {border: 1px solid rgba(0, 0, 0, 0.2);background:#ffff;}
 50% {border: 1px solid rgba(0, 0, 0, 0.2);background: #ffff;}
100% {background: transparent;border: 1px solid rgba(0, 0, 0, 0);color: #fff;}}
@-webkit-keyframes cambiarColor {
  0% {border: 1px solid rgba(0, 0, 0, 0.2);background: #ffff;}
 50% {border: 1px solid rgba(0, 0, 0, 0.2);background: #ffff;}
100% {background: transparent;border: 1px solid rgba(0, 0, 0, 0);color: #fff;}}
/*FIN FUNCION TOOLTIPS*/
/**/
/*estilos para campos del formulario*/
.multiselect{width:auto!important;}
.multiselect__select{display:none!important;}
.multiselect__tags{min-height:40px;display:block;padding:8px 40px 0 0px !important;border-radius:5px;border:none!important;background:transparent!important;font-size:14px!important;}
.card{border-radius: 4px;background: #fff;box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);padding: 14px 80px 18px 36px;}
.form-control {color: #3b3b3b !important;}
.form-control::placeholder {color: #3b3b3b !important;opacity: 1;font-size: 16px !important;}
.form-style{font-size: 1rem;height: 48px;}
span.votes {font-size: 0.5em;}
.sizelogoAhorrafoo{width: 250px;}
.imggoogle {width: 60px;height: auto;margin: 11px 41px 0px;display: block;}
.average {display: inline-block;float: left;margin: 0.5rem;}
.average1 {display: block;margin: -62px 0px 0px 40px;}
.starCalif {font-size: 1.5rem;font-weight: bold;color: #5c5c5c !important;}
.space_star{margin-left: 100px;margin-top: -20px;}
.pCero {padding: 0 !important;}
.img_badget {max-width: 120px;margin-bottom: 10px;}
/*tamaños*/
.size13{font-size:13px;color:#999;margin-bottom: -40px;}
.size18{font-size:18px;}
.size16{font-size:16px;}
.titles{font-size:2em;}
.mt-6{margin-top: 59px;}
.text-card{font-size: 12px;text-transform: uppercase;}
.pago_card{width: 150px;margin: 17px auto;}
.sizelogo {width: 200px;}
.sizelogoAhorra{width:100px;height:auto;display:block;}
.sizelogosTarjetas{width:150px;height:auto;display:block;}
.sizeRing{width:50px;height:auto;display:block;margin:0 auto;}
.w-100{width:100% !important;}
.separador{width:100%!important;height:30px;}
.alturaBtn{height:60px;}
/*animation*/
.spin{animation:loadingcillo 2s infinite linear;}
@keyframes loadingcillo {0% {transform:rotate(0deg);} to {transform:rotate(1turn);}}
/*----------------------------------------
  General Responsive layout
------------------------------------------*/
@media(min-width:1601px) and (max-width:4000px){.multiselect {font-size: 1rem !important;}.ml-33{margin-left: 0px;}}
@media(min-width:1201px) and (max-width:1600px){.multiselect {font-size: 1rem !important;}.ml-33{margin-left: 0px;}}
@media(min-width:1025px) and (max-width:1200px){.back1{background-image: url(~/static/img/funnel-imagenes/fondosection.svg);background-position: bottom;background-size: 100%;background-repeat: no-repeat;height: 100px;}.ul.slides li{float:left;margin: 0;}.ml-33{margin-left: 0px;}}
@media(min-width:901px) and (max-width:1024px){ul.slides li{float:left;margin: 0;}.ml-33{margin-left: 0px;}.fs14{font-size: 12px !important;}.form-control::placeholder {font-size: 12px !important;}fs14{font-size: 12px !important;}.multiselect {font-size: 1rem !important;}.form-control-lg{padding: 8px 3px !important;}}
@media(min-width:801px) and (max-width:900px){ul.slides li{float:left;margin: 0;}.ml-33{margin-left: 0px;}.fs14{font-size: 12px !important;}.form-control-lg{padding: 8px 3px !important;}.multiselect {font-size: 1rem !important;}.back1{height: 80px;}.form-control::placeholder {font-size: 12px !important;}form-control-lg{padding: 8px 8px !important;}.multiselect__input{font-size: 12px !important;}.multiselect__single {font-size: 12px !important;}}
@media(min-width:769px) and (max-width:800px){ul.slides li{float:left;margin: 0 !important;}.ml-33{margin-left: 0px;}.fs14 {font-size: 12px;}.form-control::placeholder {font-size: 13px !important;}.form-control-lg{padding: 8px 3px !important;}.multiselect__input{font-size: 12px !important;}.back1 {height: 100px;}.multiselect__single{font-size: 12px !important;}}
@media(min-width:600px) and (max-width:768px){.textcenter{text-align: center;}.text-card {margin-left: 0px;font-size: 12px;}ul.slides li{float:left;margin: 0 !important;}ul.slides1 li{float:left;margin: 0;}
.form-control::placeholder {font-size: 13px !important;}
.form-control-lg{padding: 8px 8px !important;}
.fs14 {font-size: 12px;}
.form-style{font-size: .9rem !important;}
.multiselect {font-size: .9rem !important;}
.multiselect__single{font-size: 12px !important;}
.multiselect__input{font-size: 12px !important;}
.multiselect__tags {min-height: 40px !important;font-size: 12px !important;}
ul.slides {margin-top: -10px;}
ul.slides1 {float:left;margin-top: -30px;margin-bottom: 0}
.back1 {height: 100px;}
.text-danger {font-size: 10px;}
.ml-33{margin-left: 0px;}}
@media(min-width:481px) and (max-width:599px){.textcenter{text-align: center;}.text-card {margin-left: 0px;font-size: 12px;}
ul.slides li{margin: 0;}
.ml-33{margin-left: 0px;}
.form-control::placeholder {font-size: 12px !important;}
.fs14 {font-size: 12px;}
.form-style{font-size: .9rem !important;}
.form-control-lg{padding: 8px 8px !important;}
.multiselect {font-size: .9rem !important;}
.multiselect__single{font-size: 13px !important;}
.multiselect__input{font-size: 12px !important;}
.multiselect__tags {min-height: 30px !important;font-size: 12px !important;}
.back1 {height: 60px;}
.text-danger {color: #dc3545 !important;font-size: 12px;}}
@media(min-width:320px) and (max-width:480px){
.sprite-logo {background-position: 0px -97px;width: 140px;height: 37px;display: block;background-repeat: no-repeat;background-size: 600px;}
.ml-33{margin-left: -33px;}
.section-bannerP{display:flex;z-index:2;margin:0px auto 0;}
.illustration{background-image:url(~/static/img/funnel-imagenes/ilustrationcard.svg);height:100px;display:block;background-size:90%;background-position:center;background-repeat:no-repeat;opacity:0.8;}
.textcenter{text-align: center;}.text-card {font-size: 8px;}
ul.slides li{float:left;margin: 0;}
.size13 {font-size: 9px;}
.fs14 {font-size: 14px;}
.form-control::placeholder {font-size: 12px !important;}
.fs14 {font-size: 12px;}
.form-style{font-size: .9rem !important;}
.form-control-lg{padding: 8px 8px !important;}
.multiselect {font-size: .9rem !important;}
.multiselect__single{font-size: 13px !important;}
.multiselect__input{font-size: 12px !important;}
.multiselect__tags {min-height: 30px !important;font-size: 12px !important;}
.btn-block {display: block;width: 100%;font-size: 1rem !important;}
.average1 {display: block;margin: -45px 0px 0px 97px;}
.space_star{margin-left: 100px;margin-top: -10px;}
.back1 {height: 50px;background-size: cover;}
.text-danger {color: #dc3545 !important;font-size: 10px;}
.p_popover{font-size: 9px;}
}
@media(min-width:240px) and (max-width:320px){
.sprite-logo {background-position: 0px -97px;width: 140px;height: 37px;display: block;background-repeat: no-repeat;background-size: 600px;}
.ml-33{margin-left: -33px;}
.back1 {height: 50px;}
.textcenter{text-align: center;}.text-card {font-size: 6px;margin-top: 3px;}
.size13 {font-size: 9px;}
ul.slides li{float:left;margin: 0;}
.size13 {font-size: 9px;}
.fs14 {font-size: 14px;}
.form-control::placeholder {font-size: 12px !important;}
.fs14 {font-size: 12px;}
.form-style{font-size: .9rem !important;}
.form-control-lg{padding: 8px 8px !important;}
.multiselect {font-size: .9rem !important;}
.multiselect__single{font-size: 13px !important;}
.multiselect__input{font-size: 12px !important;}
.multiselect__tags {min-height: 30px !important;font-size: 12px !important;padding: 1px 39px 0 0px !important;}
.btn-block {display: block;width: 100%;font-size: 1rem !important;}
.btn-block {display: block;width: 100%;font-size: 1rem !important;}
.average1 {display: block;margin: -45px 0px 0px 97px;}
.space_star{margin-left: 100px;margin-top: -10px;}
.back1 {height: 50px;background-size: cover;}
.text-danger {color: #dc3545 !important;font-size: 10px;}
.p_popover{font-size: 9px;}
}
.paddTitles{padding:0 0 25px;}
.bgColorgris{background-color:#FBFBFB;background-color:#fff;padding:20px;background:#fff!important;box-shadow:5px 2px 20px 1px #eae9e9!important;}
.img_vargasdesignmx{max-width:110px;margin:15px 0;display:block;}
.vargasdesignmx{margin:15px auto 0;font-size:20px !important;color:#044f99 !important;font-weight:bolder;}
.ttlefoot{margin:20px auto 2rem;}
.centeronlysm{text-align:left;}
.height90{height:90px;}
/*INI Stars*/
fieldset, label {margin: 0; padding: 0!important;}
.rating {border:none!important;float:inherit!important;}
.rating > .nocolor {color:#ddd!important;}
.rating > .sicolor{color:#FFD700!important;}
.txtColorGray2{color:#436998;}
.average{display:inline-block;float:left;margin:0.5rem;line-height:0.8;}
span.votes{font-size:0.5em;}
.imggoogle{width:60px;height:auto;margin:0px auto 0;}
.sizeW{font-size:20px !important;}
.shadow-cards{box-shadow:4px 4px 17px rgba(228, 221, 221, 0.66);}
.pCero{padding:0!important;}
.logo-newasmx-large{width:50%;margin: 0 auto;display:inline-block;height: auto;}
.bgGrayFoot{background:#f3f2f2;padding:3em;color:#656565;}
.pacdi{padding:3em 2em;}
li.lio {display:inline-flex;}
li.lio a{margin:0px auto 10px;display:block;color:#9e9e9e;}
li.lio a:hover{margin:0px auto 10px;display:block;color:#656565;}
.copiando-a-rastreator{background:#fff;box-shadow:0px -3px 10px #eae9e9;}
@media(min-width:320px) and (max-width:768px){.centeronlysm{text-align:center;}}
@media (min-width: 1600px) {.container{max-width:1480px;}}
/**/
.colorAhorra{color:#014f98}
.colorGray{color:#515559;}
.colorGray2{color:#a7a7a7;}
.colorbeneficios{color:#1f435d;opacity:0.7;}
.btn-cotizar{background-color:#00e066;border-color:#00e066;}
.btn-cotizar:hover{background-color:#01d762;border-color:#01d762;}
.btn-cotizar:active{background-color:#01d762;border-color:#01d762;}
.btn-cotizar:not(:disabled):not(.disabled):active{background-color:#01d762;border-color:#01d762;}
.colorboton{background-color:#00de67;color: #ffff;margin: 5px auto;width: 100%;}
.colorboton1{background-color:#1ab362;color: #ffff;margin: 45px auto;width: 100%;height: 55px;}
.colorboton2{background-color:#1ab362;color: #ffff;margin: 12px auto;width: 100%;}
.card-filter{padding-top: 11px;height: 43px;border-radius: 5px 5px 0 0;border:none;border-bottom:1px solid #ededed;}
.color-filter-arrow{color:#8c8d8d;}
.color-fa-filter{color:#8c8d8d;}
.card_height{height: 140px;}
.cardheight2{height: 34px!important;margin-top: -6px;}
.cardheightnoprice2{height: 34px!important;margin-top: -15px;}
.header-card:nth-child(1) {border: solid aquamarine;}
/*tamaños*/
.title1{font-size: 16px;}
.fs15{font-size: 15px;}
.img_stars{width: 100px;}
.stars{margin-top: -20px;margin-bottom: 0;font-size: 24px;color: gold;}
.imgcall{height:50px;}
.flonone{float:none;display:-webkit-box;}
.p-tam{padding:5px;width:25px;margin:-6px auto 0;background-color:#044f99;border-radius:50%;}
.leadito{font-weight: 700 !important;font-size:1.125rem;font-weight: 300;}
.card_nonep{padding: 0;}
.m-r-1{margin-left: -20px;}
.text_index{font-size: 1.9rem;}
.sizelogoAhorra{width:250px;height:auto;display:block;}
.colorprice{color: #1ab362;font-size: 1.8rem;font-weight: bold;}
.colorprice2{color: #24d175;font-size: 1.8rem; margin-bottom: 0;}
.card_pago{width: 120px;margin-top: -18px;margin-left: 31px;}
.headercard{margin-top: 11px;border-bottom: none;margin-bottom: 10px;}
.tab-content{margin: -26px 0;}
.style_table{font-size: .7rem;}
.ptable{font-size: 12px;margin: 0;}
.margintop{margin: 8px auto;}
.marginboottom{margin: 20px 0;}
.marginrate{margin: -15px 0;}
.marginrate1{margin: 5px 0;}
.margintexto{margin: 20px 0 auto;}
.iconahorra{width: 35px;}
.iconsvg1{width: 30px;margin-right: .5em;}
.iconsvgfa{width: 12px;margin-right: .5em;}
.iconsvgcall{width: 16px !important;}
.pfilter{margin:-24px auto 0;text-align:center;font-size: .9em;}
.bars{margin:0 0 0 -25px;color: #0065c5;}
.listcategori{border-radius: 5px 5px 0 0;}
.listfilter2{text-align: right;margin-top: -24px;list-style: none;}
.img_asegura{width: 100px;margin-top: 20px;margin-bottom: 0;}
.filter_card1{height: 50px;margin-left: -24px;}
.p_card_info{padding: 10px;}
.promo{font-size: 12px;}
.badgetpromo{bottom: 0;clear: both;font-size: 11px!important;left: 0;padding: .5em;position: relative;width: 100%;background: #bef0d9;font-weight: bold;color: #1ab362;}

.badgetpromocall{bottom:0;color: #fff;font-size: 11px!important;left: 0;letter-spacing: 0px;position: relative;width: 70%;background:#2176e3;margin:20px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:hover:not(.disabled){background:#1e62b9;bottom:0;color: #fff;font-size: .75em;left: 0;letter-spacing: 0px;position: relative;width: 70%;margin:20px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:not(:disabled):not(.disabled):active{bottom:0;color: #fff;font-size: .75em;left: 0;letter-spacing: 0px;position: relative;width: 70%;background:#1e62b9;margin:20px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}

.badgetpromocomprar{background:#1dbe69;/*font-weight:bold;*/ text-transform: uppercase; bottom:0;font-size: 11px!important;left: 0;letter-spacing: 0px;position: relative;width: 70%;margin:10px auto -10px !important;color: #fff;border-color: #28a745;background-image:url(../img/funnel-imagenes/btncarrito.svg);background-repeat:no-repeat;background-size:95%!important;background-position:center center;}
.badgetpromocomprar:hover:not(.disabled){background:#02843f;bottom:0;font-size: 11px!important;left: 0;letter-spacing: 0px;position: relative;width: 70%;margin:10px auto -10px !important;color: #fff;border-color: #fff;background-image:url(../img/funnel-imagenes/btncarrito.svg);background-repeat:no-repeat;background-size:95%!important;background-position:center center;}
.badgetpromocomprar:not(:disabled):not(.disabled):active{background:#02843f;bottom:0;font-size: 11px!important;left: 0;letter-spacing: 0px;position: relative;width: 70%;margin:10px auto -10px !important;border-color: #fff;background-image:url(../img/funnel-imagenes/btncarrito.svg );background-repeat:no-repeat;background-size:95%!important;background-position:center center;}

.disabled{-moz-background-color:gray;-ms-background-color:gray;-o-background-color:gray;-webkit-background-color:gray;background-color:gray;}
.disabled:hover,.disable:active{-moz-background-color:gray;-ms-background-color:gray;-o-background-color:gray;-webkit-background-color:gray;background-color:gray!important;}
.alineado{text-align: right;}
.card_galeria{margin-top: 10px;height: 400px;}
.p_ncotiza{font-size: 16px;text-align: left;color: #7ac8f6;margin-top: 20px;}
ul > li{list-style: none;}
.bg-white {background-color: #fff !important;}
.btn-primary.disabled,.btn-primary:disabled {color: #fff;background-color: gray;border-color: gray;}
.Cblue{color:#89acd2!important;}
.span_style{color: black;font-size: 14px;padding:0;}
.price{margin: 0 auto;line-height: 1;text-align: center;font-size:11px;}
.custom-control{padding-left: 0;font-size: 13px;}
.box{box-shadow: 5px 2px 20px 1px #eae9e9 !important;}
.card-header{background-color: #ffff;}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {border-top: 2px solid #cbe2f4;}
.label_star{font-size: 25px;}
.label1 {color: #66a7ef;font-size: 20px;}
.font_li{font-size: 12px;}
.spacesection{background-color: #ffff;}
.label1:hover,
.label1:hover ~ label {background-color: #00de67;}
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background-color: #00de67;border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }
.w-100{width:100% !important;}
input[type="number"],select{-moz-appearance:textfield!important;appearance:textfield!important;}
.alturaBtn{height:60px;}
/*animation*/
.spin{animation:loadingcillo 2s infinite linear;}
@keyframes loadingcillo {0% {transform:rotate(0deg);} to {transform:rotate(1turn);}}
@media (min-width: 1281px) {
.position_left{left:-62px;}
.m_pt {margin-bottom: 10px;}}
.card_ben{width: 100%;padding: 59px 49px 50px 46px;border-radius: 5px;} 
.img_pago{width: 150px;margin: 15px auto;}
.ratep{font-size: 12px;} 
@media(min-width:1601px) and (max-width:4000px){.f11{font-size: 13px;}.h5style{font-size: 29px;font-weight: bold!important;}.card_heght{height: 140px;}.card_ben{width: 80%;padding: 66px 47px;margin: 0 19%;}.text_index{font-size: 1.9rem;}.m_pt {margin-bottom: 10px;}.sizelogoAhorra{width: 240px;}}
@media(min-width:1201px) and (max-width:1600px){
.card_ben{width: 100%;padding: 66px 40px 66px 40px;}
.mb-12{margin-bottom: -12px;} 
.style_table{font-size: .7rem;}
.tab-content{margin: -26px 0;}
.ptable{font-size: 11px;}
.margintop{margin: 6px auto;}
.marginboottom{margin: 20px 0;}
.marginrate{margin: -10px 0;}
.margintexto{margin: 20px 0 auto;}
.h5style{font-size: 27px;font-weight: bold;}
.iconsvg1{width: 20px;margin-right:0}
.iconsvgfa{width: 12px;margin-right:0}
.colorprice{font-size: 1.5rem;}
.colorprice1{font-size: 1.5rem;margin: 0;}
.card_pago{width: 100px;margin-top: -18px;}
.i_margin{margin: 3px -10px;}
.card_height{height: 145px;}
.text_index{font-size: 1.9rem;}
.m_pt {margin-bottom: 10px;}
.sizelogoAhorra{width: 240px;}
.arrowstyle{margin-top: -20px;}}
@media(min-width:1025px) and (max-width:1200px){
 .position_left{left:-10px;}
.tab-content{margin: -26px 0;}
.badgetpromo{margin-top: 10px;font-size: .7em;}
.style_table{font-size: .8rem;}
.ptable{font-size: 11px;}
.h5style{font-size: 22px;font-weight: bold;}
.f11{font-size: 10px;}
a.colortelnoprice{font-size: 16px !important;margin-left: 4px !important;}
.p_ncotiza{font-size: 17px;}
.margintop{margin: 8px auto;}
.marginboottom{margin: 20px 0;}
.marginrate{margin: -15px 0;}
.margintexto{margin: 20px 0 auto;}
.margin-17{margin-top: 4px;}
.iconsvg1{width: 20px;margin-right: 0px;}
.iconsvgfa{width: 12px;margin-right: 0px;}
.colorprice{font-size: 1.4rem;margin-left: -17px;}
.colorprice1{font-size: 1.7rem;margin: 0;}
.card_pago{width: 90px;margin-top: -23px;}
.card_height{height: 133px;}
.card_ben {width: 100%;padding:65px 11px 65px 21px;} 
.font_li{font-size: 9px;}
.size13 {font-size: 11px;color: #999;margin-bottom: -30px;}
.text_index{font-size: 1.6rem;}
.m_pt {margin-bottom: 10px;}
.sizelogoAhorra{width: 240px;}}
@media(min-width:901px) and (max-width:1024px){
.position_left{left:-10px;}
.mb70{margin-bottom: 69px !important;}
.text_index{font-size: 1.6rem;}
.tab-content{margin: -26px 0;}
.style_table{font-size: .8rem;}
.ptable{font-size: 10px;}
a.colortelnoprice{font-size: 16px !important;margin-left: 4px !important;}
.margintop{margin: 10px auto;}
.marginboottom{margin: 20px 0;}
.marginrate{margin: -15px 0;}
.margintexto{margin: 20px auto;}
.iconsvg1{width: 20px;margin-right: .2em;}
.iconsvgfa{width: 12px;margin-right: .2em;}
.colorprice{font-size: 1.4rem;margin-left: 0px;text-align: center;}
.colorprice1{font-size: 1.7rem;margin: 0;}
.card_pago{width: 90px;margin-top: -23px;}
.movile_text{font-size: 18px;}
.f11{font-size: 10px;}
.badgetpromocall{bottom:0;color: #fff;font-size:11px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 85%!important;background:#2176e3;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:95%!important;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #fff;font-size:11px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 85%!important;background:#1e62b9;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:95% !important;background-position:center center;}
.badgetpromocall:hover:not(.disabled){background:#1e62b9;bottom:0;color: #fff;font-size:11px!important;left: 0;letter-spacing: .3px;position: relative;width: 85% !important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:95%!important;background-position:center center;}
.badgetpromocall:not(:disabled):not(.disabled):active{bottom:0;color: #fff;font-size:11px!important;left: 0;letter-spacing: .3px;position: relative;width: 85%!important;background:#1e62b9;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:95%;background-position:center center;}


.badgetpromocomprar{bottom:0;font-size:11px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 85%!important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:95%!important;background-position:center center;}
.badgetpromocomprar:hover{bottom:0;font-size:11px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 85%!important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);}
.badgetpromocomprar:hover:not(.disabled){bottom:0;font-size:11px!important;left: 0;letter-spacing: .3px;position: relative;width: 85% !important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:95%!important;background-position:center center;}
.badgetpromocopmrar:not(:disabled):not(.disabled):active{bottom:0;font-size:11px!important;left: 0;letter-spacing: .3px;position: relative;width: 85%!important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:95%!important;background-position:center center;}


.badgetpromo{font-size: 10px;padding: .8em;}
.card_height{height: 135px;}
.card_ben {width: 100%;padding: 66px 20px;} 
.font_li{font-size: 7px;}
.size13 {font-size: 11px;color: #999;margin-bottom: -30px;}
.m_pt {margin-bottom: 10px;}
.arrowstyle{margin-top: -10px;}}
@media(min-width:801px) and (max-width:900px){
.tab-content{margin: -26px 0;}
.f10{font-size: 10px;}
.mb70{margin-bottom: 69px !important;}
.margintop{margin: -6px auto;}
.marginboottom{padding:0;}
.marginrate{margin: -15px 0;}
.margintexto{margin: 20px auto;}
.iconsvg1{width: 23px;margin-right: 0;}
.iconsvgfa{width: 12px;}
.card_pago{width: 100px;margin-top: -27px;}
.style_table{font-size: .8rem;}
.ptable{font-size: 10px;text-align: center;}
.pmoviletable{text-align: center;font-size: 14px;}
.colorboton1{margin-top: -20px;}
.colorprice{font-size: 1.4em;text-align: center;}
 .colorboton2{margin: 3px auto;}
 .btn-label{padding: 9px 1px;}
 .movile_text{font-size: 14px;padding-bottom:0px;}
.lis{font-size: 11px;margin-left: -4px;}
.i_margin{margin: 3px -9px -0;}
.alineado{text-align: center;}
.selct_p{max-height: 107px !important;}
.badgetpromocall{bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: .3px;position: relative;width: 90%!important;background:#2176e3;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: .3px;position: relative;width: 90%!important;background:#1e62b9;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90% !important;background-position:center center;}
.badgetpromocall:hover:not(.disabled){bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: .3px;position: relative;width: 90%!important;background:#1e62b9;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90% !important;background-position:center center;}

.badgetpromocomprar{bottom:0;font-size:9px!important;left: 0;letter-spacing: .3px;position: relative;width: 90% !important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocomprar:hover{bottom:0;font-size:9px!important;left: 0;letter-spacing: .3px;position: relative;width: 90% !important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocomprar:hover:not(.disabled){bottom:0;font-size:9px!important;left: 0;letter-spacing: .3px;position: relative;width: 90% !important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}


.badgetpromo{font-size: 0.6em;padding: .8em;}
.mb_d{margin-top: -7px;}
.marginrate_movile{margin: 0;}
.p_ncotiza{text-align: center;}
.card_height {height: 152px;}
.card_ben {width: 100%;padding: 66px 20px;} 
.text_index{font-size: 1.6rem;}
.size13 {font-size: 11px;color: #999;margin-bottom: -30px;}
.m_pt {margin-bottom: 10px;}
.arrowstyle{margin-top: -10px;}}
@media(min-width:769px) and (max-width:800px){
.mb70{margin-bottom: 69px !important;}
.sizelogoAhorrafoo{width: 200px !important;}
.alert-warning{font-size: 12px;}
.tab-content{margin: -26px 0;}
.margintop{margin: -6px auto;}
.marginboottom{padding:0;margin-top: 10px;}
.marginrate{margin: -15px 0;}
.margintexto{margin: 20px auto;}
.iconsvg1{width: 27px;}
.iconsvgfa{width: 12px;}
.card_pago{width: 100px;margin-top: -27px;}
.style_table{font-size: .8rem;}
.ptable{font-size: 10px;text-align: center;}
.pmoviletable{text-align: center;font-size: 14px;}
.colorboton1{margin-top: -20px;}
.colorprice{font-size: 1.4em;text-align:center;}
.badgetpromo{font-size: 0.55em !important;}
.arrowstyle{margin-top: -10px;}
.colorboton2{margin: 3px auto;}
.btn-label{padding: 9px 1px;}
.movile_text{font-size: 14px;padding-bottom: 10px;}
.lis{font-size: 11px;margin-left: -4px;}
.i_margin{margin: 3px -9px -0;}
.alineado{text-align: center;}
.selct_p{max-height: 107px !important;}
.badgetpromocall{bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;background:#2176e3;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;background:#1e62b9;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90% !important;background-position:center center;}
.badgetpromocall:hover:not(.disabled){bottom:0;color: #fff;font-size:9px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;background:#1e62b9;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%;background-position:center center;}
.badgetpromocall:not(:disabled):not(.disabled):active{bottom:0;color: #fff;font-size:9px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;background:#1e62b9;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90% !important;background-position:center center;}
.badgetpromocomprar{bottom:0;font-size:9px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;}
.badgetpromocomprar:hover{bottom:0;font-size:9px!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;}
.badgetpromocomprar:hover:not(.disabled){bottom:0;font-size:9px!important;left: 0;letter-spacing: .3px;position: relative;width: 90% !important;}
.badgetpromocopmrar:not(:disabled):not(.disabled):active{bottom:0;font-size:9px!important;left: 0;letter-spacing: .3px;position: relative;width: 90%!important;}
.mb_d{margin-top: -16px;}
.marginrate_movile{margin: 0;}
.p_ncotiza{text-align: center;}
.card_height {height: 152px;}
.card_ben {width: 100%;padding: 66px 20px;} 
.text_index{font-size: 1.6rem;}
.py-4{margin-bottom: 0px !important;margin-top: 5px;}
.mb_d{margin-top: -7px;}
.m_pt {margin-bottom: 10px;}}
@media(min-width:600px) and (max-width:768px){

.sizelogoAhorra{width: 200px;}
.alert-warning{font-size: 12px;}
 .sizelogoAhorrafoo{width: 250px !important;}
.py-4{margin-bottom: -65px !important;margin-top: 5px;}
.tab-content{margin: -26px 0;}
.marginrate{margin: -15px 0;}
.margintexto{margin: 12px auto;}
.iconsvg1{width: 30px;}
.iconsvgfa{width: 12px;}
.card_pago{width: 100px;margin-top: -10px;}
.style_table{font-size: .8rem;}
.ptable{font-size: 12px;text-align: center;}
.pmoviletable{text-align: center;font-size: 14px;}
.colorboton1{margin-top: -20px;}
.colorprice{margin-top: 0px;}
.img_asegura{width: 120px;margin-top: 20px;}
 .colorboton2{margin: 3px auto;}
 .btn-label{padding: 9px 1px;}
 .movile_text{font-size: 14px;padding-bottom: 10px;}
.lis{font-size: 11px;margin-left: -4px;}
.i_margin{margin: 3px -9px -0;}
.alineado{text-align: center;}
.selct_p{max-height: 50px !important;}
.badgetpromocall{bottom:0;color: #fff;font-size: .75em!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;background:#1dbe69;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #fff;font-size: .75em!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;background:#02843f;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:hover:not(.disabled){bottom:0;color: #fff;font-size: .75em!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;background:#1dbe69;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:not(:disabled):not(.disabled):active{bottom:0;color: #fff;font-size: .75em!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90%;background:#02843f;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}

.marginboottom {margin: 20px 0;}
.badgetpromocomprar{bottom:0;font-size: .75em!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90% !important; margin-top:-20px !important;}
.badgetpromocomprar:hover{bottom:0;font-size: .75em!important;left: 0;letter-spacing: .3px!important;position: relative;width: 90% !important;margin-top:-20px !important;}
.badgetpromocomprar:hover:not(.disabled){bottom:0;font-size: .75em!important;left: 0;letter-spacing: .3px;position: relative;width: 90% !important;margin-top:-20px !important;}
.badgetpromocopmrar:not(:disabled):not(.disabled):active{bottom:0;font-size: .75em!important;left: 0;letter-spacing: .3px;position: relative;width: 90%!important;margin-top:-20px !important;}
.mb_d{margin-top: -5px;}
.m_pt{margin-bottom: 10px;}
.marginrate_movile{margin: 0;}
.p_ncotiza{text-align: center;}
.card_height {height: 302px;}
.cardheight2 {height: 80px !important;margin-top: -60px;}
.cardheightnoprice2 {height: 83px !important;margin-top: -92px;}
.card_ben {width: 100%;padding: 0px;text-align: center;margin-top: -35px;margin-bottom: 55px;} 
.text_index{font-size: 1.2rem;}
.mt-4{margin-top: .4rem !important;}
.m_pt {margin-bottom: 10px;}
.mt-30{margin-top: -30px;}
.mt40{margin-top: 40px;}}
@media(min-width:481px) and (max-width:599px){
	/*FUNCION TOOLTIP*/

 .alert-warning {font-size: 12px;text-align: left;top: 0;padding: 10px;height: 50px;}
 .m-t20{margin-top: -20px;}
 .mb-15{margin-bottom: 0px !important;}
   .sizelogoAhorrafoo{width: 200px !important;margin-left: 0px;}
  .py-4{margin-bottom: -65px !important;margin-top: 5px;}
  .ptable{font-size: 10px;text-align: center;padding: 0px;}
  .card_pago{width: 100px;margin-top: -10px;}
  .colorboton1{margin-top:-30px;}
  .colorboton2{margin: 3px auto;}
.colorprice{text-align: center;}
.movile_text{font-size: 14px;padding-bottom: 10px;}
.mtop-23{margin-top: -23px;}
.mtop-60{margin-top: -60px;}
.marginrate {margin: -10px 0;}
.tab{font-size: 11px;}
.mb_d{margin-top: -5px;}
.m_pt{margin-bottom: 10px;}
.alineado{text-align: center;}
.m_pt{margin-bottom: 8px;}
.selct_p{max-height: 107px !important;}
.badgetpromocall{bottom:0;color: #fff;font-size: 12px!important;left: 0;letter-spacing: 0px!important;position: relative;width: 90%!important;background:#2176e3;margin:20px auto 0px !important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:hover{bottom:0;color: #fff;font-size: 12px!important;left: 0;letter-spacing: 0px!important;position: relative;width: 90%!important;background:#1e62b9;margin:20px auto 0px !important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:hover:not(.disabled){background:#1e62b9;bottom:0;color: #fff;font-size:12px!important;left: 0;letter-spacing: 0px!important;position: relative;width: 90% !important;margin:20px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocall:not(:disabled):not(.disabled):active{bottom:0;color: #fff;font-size:12px!important;left: 0;letter-spacing: 0px!important;position: relative;width: 90%!important;background:#1e62b9;margin:20px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.marginrate_movile{margin: 0;}

.badgetpromocomprar{bottom:0;font-size: 12px!important;left: 0;letter-spacing: 0px!important;position: relative;width: 90%!important;margin-top: -10px !important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocomprar:hover{bottom:0;font-size: 12px!important;left: 0;letter-spacing: 0px!important;position: relative;width: 90%!important;margin-top: -10px !important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocomprar:hover:not(.disabled){bottom:0;font-size:12px!important;left: 0;letter-spacing: 0px!important;position: relative;width: 90% !important;margin-top: -10px !important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.badgetpromocomprar:not(:disabled):not(.disabled):active{bottom:0;font-size:12px!important;left: 0;letter-spacing: 0px!important;position: relative;width: 90%!important;margin-top: -10px !important;background-image:url(../img/funnel-imagenes/fondoflecha.svg);background-repeat:no-repeat;background-size:90%!important;background-position:center center;}
.p_ncotiza{text-align: center;margin-top: 20px;font-size:18px;}
.card_height {height: 266px;}
.cardheight2 {height: 80px !important;}
.cardheightnoprice2 {height: 80px !important;margin-top: -80px;}
.p_cali{font-size: 24px;font-weight: bold;color: #a7a7a7;margin-bottom: 0;}
.color_star{color: gold;}
.card_ben {width: 100%;padding: 0px;text-align: center;margin-top: -35px;margin-bottom: 55px;height: 50px;} 
.text_index{font-size: 1.2rem;}
.mt-4{margin-top: .8rem !important;}
.m_pt {margin-bottom: 10px;}
.mt-5{margin-top: 3rem !important;}
.mt-30{margin-top: -30px;}}
@media(min-width:320px) and (max-width:480px){
/*FUNCION TOOLTIP*/

.alert-warning {font-size: 12px;text-align: left;top: 0;padding: 5px;}
.mb-15{margin-bottom: 15px !important;}
.m-t20{margin-top: -20px;}
.sizelogoAhorra{width: 150px !important;margin-left: -22px;}
.sizelogo {width: 120px;}
.p-tam {padding: 5px;width: 20px;margin: -5px auto 0;}
.sizelogoAhorrafoo{width: 220px !important;margin-left: 0px;}
.leadito {font-size: 11px !important;}
.ptable{font-size: 10px;text-align: center;padding: 0px;}
a.colortelnoprice{font-size: 16px !important;}
.iconsvg1 {width: 0px;margin-right: 0;}
.infospantel{font-size: 9px;color: #888;text-transform: uppercase;font-weight: bold;padding: 1px;}
.card_pago{width: 100px;margin-top:0px;}
.img_asegura{margin-top: 10px;}
.colorboton1{margin-top:-30px;}
.colorboton2{margin: 3px auto;}
.colorprice{font-size: 1.3rem;text-align: center;}
.movile_text{font-size: 14px;padding-bottom: 10px;}
.mtop-23{margin-top: -23px;}
.mtop-60{margin-top: -60px;}
.marginrate {margin: -10px 0;}
.marginboottom{margin:10px 0;}
.tab{font-size: 11px;}
.mb-d{margin-bottom: 30px;}
.alineado{text-align: center;}
.m_pt{margin-bottom: 8px;}
.selct_p{max-height: 107px !important;}
.badgetpromocall{bottom:0;color: #fff;font-size:10px!important;left: 0;letter-spacing: 0px;position: relative;width: 96% !important;background:#2176e3;margin:10px auto 0 !important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:100%!important;background-position:center center;height:40px!important;}
.badgetpromocall:hover{bottom:0;color: #fff;font-size:10px!important;left: 0;letter-spacing: 0px;position: relative;width: 96% !important;background:#1e62b9;margin:10px auto 0 !important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:100%!important;background-position:center center;height:40px!important;}
.badgetpromocall:hover:not(.disabled){background:#1e62b9;bottom:0;color: #fff;font-size:10px!important;left: 0;letter-spacing: 0px;position: relative;width: 96% !important;margin:10px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:100%!important;background-position:center center;height:40px!important;}
.badgetpromocall:not(:disabled):not(.disabled):active{bottom:0;color: #fff;font-size:10px!important;left: 0;letter-spacing: 0px;position: relative;width: 96%!important;background:#1e62b9;margin:10px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:100%!important;background-position:center center;height:40px!important;}

.badgetpromocomprar{bottom:0;font-size:9px!important;left: 0;letter-spacing: 0px;position: relative;width: 96% !important;margin:-15px auto 10px !important;height:40px!important;background-size:100%!important;background-position:center center;}
.badgetpromocomprar:hover{bottom:0;font-size:9px!important;left: 0;letter-spacing: 0px;position: relative;width: 96% !important;margin:-15px auto 10px !important;height:40px!important;background-size:100%!important;background-position:center center;}
.badgetpromocomprar:hover:not(.disabled){bottom:0;font-size:9px!important;left: 0;letter-spacing: 0px;position: relative;width: 96% !important;margin:-15px auto 10px!important;height:40px!important;background-size:100%!important;background-position:center center;}
.badgetpromocomprar:not(:disabled):not(.disabled):active{bottom:0;font-size:9px!important;left: 0;letter-spacing: 0px;position: relative;width: 96%!important;margin:-15px auto 10px!important;height:40px!important;background-size:100%!important;background-position:center center;}
.btn{margin-top: 3px;}
.mb_d{margin-top: -5px;}
.marginrate_movile{margin: 0;}
.p_ncotiza{text-align: center;margin-top: 20px;margin-bottom: 0px;font-size:15px;}
.card_height {height: 255px;}
.cardheight2 {height: 60px !important;}
.cardheightnoprice2 {height: 80px !important;margin-top: -80px;}
.p_cali{font-size: 24px;font-weight: bold;color: #a7a7a7;margin-bottom: 0;}
.color_star{color: gold;}
.card_ben {width: 100%;padding: 5px;text-align: center;margin-top:0px;margin-bottom: -10px;height: 55px;} 
.text_index{font-size: 1rem;}
.mt-4{margin-top: 1rem !important;}
.mt-20{margin-top: -18px;margin-bottom: 6px;}
.mt-30{margin-top: -30px;}
.mt40{margin-top: 40px;}}
@media(min-width:240px) and (max-width:320px){
	/*FUNCION TOOLTIP*/
.btn{margin-top: 3px;}
.alert-warning {font-size: 11px;text-align: left;top: 0;padding: 7px;height: 55px;}
.iconahorra {width: 25px;}
.mb-15{margin-bottom: 15px !important;}
.m-t20{margin-top: -20px;}
.sizelogo {width: 120px;}
.sizelogoAhorra{width: 140px !important;margin-left: -30px;}
.p-tam {padding: 5px;width: 20px;margin: -5px auto 0;}
.sizelogoAhorrafoo{width: 200px !important;margin-left: 0px;}
.leadito {font-size: 11px !important;}
.ptable{font-size: 9px;text-align: center;padding: 0px;}
a.colortelnoprice{font-size: 15px !important;}
.iconsvg1 {width: 0px;margin-right: 0;}
.infospantel{font-size: 9px!important;color: #888;text-transform: uppercase;font-weight: bold;padding:1px;}
.img_asegura{margin-top: 10px;}
.card_pago{width: 100px;margin-top: 0px;margin-left: 0;}
.colorboton1{margin-top:-30px;}
.colorboton2{margin: 3px auto;}
.colorprice{font-size: 1.3rem;text-align: center;}
.movile_text{font-size: 14px;padding-bottom: 10px;}
.mtop-23{margin-top: -23px;}
.mtop-60{margin-top: -60px;}
.margintop{margin: 2px auto;}
.marginboottom{margin:10px 0;}
.marginrate{margin-top: -10px;margin-bottom: 20px;}
.tab{font-size: 11px;}
.mb-d{margin-bottom: 30px;}
.alineado{text-align: center;}
.m_pt{margin-bottom: 8px;}
.selct_p{max-height: 107px !important;}
.badgetpromocall{bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: 0px;position: relative;width: 97% !important;background:#2176e3;margin:20px auto 0 !important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:100%!important;background-position:center center;height:40px}
.badgetpromocall:hover{bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: 0px;position: relative;width: 97% !important;background:#1e62b9;margin:20px auto 0 !important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:100%!important;background-position:center center;height:40px!important;}
.badgetpromocall:hover:not(.disabled){background:#1e62b9;bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: 0px;position: relative;width: 97%!important;margin:20px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:100%!important;background-position:center center;}
.badgetpromocall:not(:disabled):not(.disabled):active{bottom:0;color: #fff;font-size: 9px!important;left: 0;letter-spacing: 0px;position: relative;width: 97%!important;background:#1e62b9;margin:20px auto 0px!important;background-image:url(../img/funnel-imagenes/imgboton.svg);background-repeat:no-repeat;background-size:100%!important;background-position:center center;}

.badgetpromocomprar{bottom:0;font-size:7px!important;left: 0;letter-spacing: 0px;position: relative;width: 97% !important;margin:5px auto -10px !important;height:40px!important;width: 97% !important;}
.badgetpromocomprar:hover{bottom:0;font-size:7px!important;left: 0;letter-spacing: 0px;position: relative;width: 97% !important;margin:5px auto -10px !important;height:40px!important;width: 97% !important;}
.badgetpromocomprar:hover:not(.disabled){bottom:0;font-size:7px!important;left: 0;letter-spacing: 0px;position: relative;width: 97% !important;margin:5px auto -10px!important;height:40px!important;width: 97% !important;}
.badgetpromocomprar:not(:disabled):not(.disabled):active{bottom:0;font-size:7px!important;left: 0;letter-spacing: 0px;position: relative;width: 97%!important;margin:5px auto -10px!important;height:40px!important;width: 97% !important;}

.mb_d{margin-top: -5px;}
.marginrate_movile{margin: 0;}
.p_ncotiza{text-align: center;margin-top: 20px;margin-bottom: 0px;font-size:15px;}
.p_phone{ border: 1px solid #349ee0;border-radius: 5px;padding: 5px;}
.card_height {height: 255px;}
.cardheight2 {height: 60px !important;}
.cardheightnoprice2 {height: 70px !important;margin-top: -54px;}
.badgetpromo {font-size: 0.55em!important;padding: .8em;margin-top: 8px;}
.p_cali{font-size: 24px;font-weight: bold;color: #a7a7a7;margin-bottom: 0;}
.card_ben {width: 100%;padding: 5px;text-align: center;margin-top: -30px;margin-bottom: -10px;height: 55px;} 
.color_star{color: gold;}
.text_index{font-size: 1rem;}
.mt-4{margin-top: 1rem !important;}
.mt-20{margin-top: -12px;margin-bottom: -10px;}
.mt-30{margin-top: -30px;}
.mt40{margin-top: 40px;}
}
/**/
a.colortelnoprice{color:#0056b3;float:none;font-size: 17px;margin-left:6px;margin-top: 20px;}
a.colortelnoprice:hover{color:#0056b3;float:none;}
.infospantel{font-size:10px;color:#888;text-transform:uppercase;}
/**/
.colorheadset{color:#044f99;}
/**/
.p-12leo{padding:0 35px;}

