<template>
<div id="notificationLeo" class="container-fluid bgalert">
  <div class="container alert" role="alert" style="border:none;">
    <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
    <div class="media">
      <div class="row">
      <div class="media-left col-3 col-md-1 col-lg-1 d-none d-sm-block d-md-block d-lg-block d-xl-block">
        <svg class="imgstyle" style="float:right;fill:#fff;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 512 512"  xml:space="preserve">
<g><g><path d="M505.403,406.394L295.389,58.102c-8.274-13.721-23.367-22.245-39.39-22.245c-16.023,0-31.116,8.524-39.391,22.246
      L6.595,406.394c-8.551,14.182-8.804,31.95-0.661,46.37c8.145,14.42,23.491,23.378,40.051,23.378h420.028
      c16.56,0,31.907-8.958,40.052-23.379C514.208,438.342,513.955,420.574,505.403,406.394z M477.039,436.372
      c-2.242,3.969-6.467,6.436-11.026,6.436H45.985c-4.559,0-8.784-2.466-11.025-6.435c-2.242-3.97-2.172-8.862,0.181-12.765
      L245.156,75.316c2.278-3.777,6.433-6.124,10.844-6.124c4.41,0,8.565,2.347,10.843,6.124l210.013,348.292
      C479.211,427.512,479.281,432.403,477.039,436.372z"/></g></g>
<g><g><path d="M256.154,173.005c-12.68,0-22.576,6.804-22.576,18.866c0,36.802,4.329,89.686,4.329,126.489
      c0.001,9.587,8.352,13.607,18.248,13.607c7.422,0,17.937-4.02,17.937-13.607c0-36.802,4.329-89.686,4.329-126.489
      C278.421,179.81,268.216,173.005,256.154,173.005z"/></g></g>
<g><g><path d="M256.465,353.306c-13.607,0-23.814,10.824-23.814,23.814c0,12.68,10.206,23.814,23.814,23.814
      c12.68,0,23.505-11.134,23.505-23.814C279.97,364.13,269.144,353.306,256.465,353.306z"/>
</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
</svg>
      </div>
      <div class="media-body col-12 col-md-11 p-0">
        <p class="media-heading textpromo" style="color:#fff!important;">¡El Seguro de auto ya es obligatorio!</p>
        <span class="textspan">A partir del 1 de Enero, no contar con una póliza de seguro puede costar una multa de hasta $4,080 pesos.</span>
      </div>
      </div>
  </div>
    </div>
  </div>
  </div>
</div>
</template>
<style scoped="">
.btn-bn-fin {font-weight: 500;border-color: #fff;padding: 2px 12px;font-size: 14px;line-height: 1.5;border-radius: .25rem;
background-color:rgb(252, 164, 44);opacity: .8;}
.fon13{font-size: 14px;color: white;letter-spacing: 2px;/* */text-transform:uppercase;opacity:1;font-weight:600;letter-spacing:0;}
h5{font-size: 12px;margin-top: 7px;font-weight: 700;color: white;}
.styleclose{/*margin-top: 10px;*/color:#fff;}
.fixedtext{margin-left: 70px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:35px!important;padding:3px 0 5px;}
p.textpromo{font-size:14px;font-weight:600;color:#fff;margin-bottom:0;}
span.textspan{font-size:12px;color:white;margin-top:-6px;color:#fff;line-height:1.5;}
.alert1 {position: relative;padding: 0;margin-bottom: 0px;margin-top: 0;border: 1px solid transparent;border-radius: 0rem;}
.m0{padding-left: 0;padding-right: 0;}
.padd0{padding: 0;}
.f10{font-size: 10px;}
.promo {top: 0px;width: 100%;z-index: 999;color: #777;padding-left: 46px;padding-right: 46px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.fontclose{font-size: 22px;}
.bgalert{background-color:#fc5a5f;}
.alert{padding:0!important;margin-bottom: 0;}
.styleclosemovile{color: white;opacity: .8;margin-right: -23px;}
@media (max-width: 768px) and (min-width: 600px){.alert{background-color: transparent;}}
@media (max-width: 599px) and (min-width: 481px){.alert{background-color: transparent;}}
@media (max-width: 480px) and (min-width: 320px){
.promo{padding-left: 0px;padding-right: 0px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:35px!important;padding:5px 0 5px;}
p.textpromo{margin-top:5px!important;font-size:14px;}
span.textspan{font-size:12px;line-height:1.5;display:inline-block;}
}
@media (max-width: 320px) and (min-width: 280px){
.promo{padding-left: 0px;padding-right: 0px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
p.textpromo{margin-top: 5px;font-size:14px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:35px!important;padding:5px 0 5px;}
span.textspan{font-size:12px;line-height:1.5;display:inline-block;}
}
button.close{color:#fff!important;opacity:1!important;}
</style>
