<template lang="pug">
  div.tab-pane.active(id="#amplia")
    div.card-header.headercard.card_nonep.card_height
      .row
        .col-6.col-sm-6.col-md-3.col-lg-2(align='center')
          figure.figure
            img.figure-img.img-fluid.rounded.img_asegura(:src="'img/funnel-imagenes/logos_svg/' + aseguradora.nombre +'.svg'")

          .marginrate(align='center')
                p.stars {{$store.state.aseguradoras[aseguradora.nombre].stars}}
                p.ratep {{$store.state.aseguradoras[aseguradora.nombre].popularidad}}

        .col-6.col-sm-6.d-none
            .marginrate(align='center')
                p.p_cali {{$store.state.aseguradoras[aseguradora.nombre].calificacion}} <span class="fa fa-star color_star checked"></span>
                span  {{$store.state.aseguradoras[aseguradora.nombre].popularidad}}

        .col-6.col-sm-4.col-md-3.col-lg-2(align='center')
          p.p_ncotiza.sbold  {{$store.state.aseguradoras[aseguradora.nombre].promo}} <br>



        .col-12.col-sm-6.col-md-3.col-lg-3.margintexto.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
          ul.promo.colorGray
            li.promo
              .fa.fa-check.colorinfo
              |  Robo Total
            li.promo
              .fa.fa-check.colorinfo
              |  Da&ntilde;os de autom&oacute;vil
            li.promo
              .fa.fa-check.colorinfo
              |  Da&ntilde;os a terceros
            li.promo
              .fa.fa-check.colorinfo
              |  Gastos médicos

        .col-6.col-sm-6.col-md-3.col-lg-2.marginboottom(align='center')
          span.infospantel.d-none.d-sm-none.d-md-block Llama gratis
          .fa.fa-headphones.colorheadset
          a.colorprice.marginboottom.colortelnoprice.sbold(:href="'tel:'+$store.state.aseguradoras[aseguradora.nombre].phonecotizar") {{$store.state.aseguradoras[aseguradora.nombre].phonecotizar}}
          br
          span.infospantel {{$store.state.aseguradoras[aseguradora.nombre].horario_atencion}}

        .col-6.col-sm-6.col-md-3.col-lg-3(align='center')
          b-btn.btn-block.badgetpromocall.imgcall.pt-2(data-toggle="popover" , :id="aseguradora.nombre" @click="obtieneDatosAseguradora" v-bind:class="{disabled:aseguradora.btn}") COMPRAR
            br 
            span 
              strong POR TELÉFONO
          b-popover(:target="aseguradora.nombre" placement="bottom" ,triggers='click')
            div.poperscontain
              img.imgpop.figure-img.img-fluid.img_asegura_tooltip.mr-3(:src="'img/funnel-imagenes/logos_svg/' + aseguradora.nombre +'.svg'") 
              p.mb-0.p_popover Un asesor experto de <b>{{$store.state.aseguradoras[aseguradora.nombre].text_poppers}}</b> te contactará a la brevedad
          //- b-btn.btn-block.badgetpromocall.imgcall(data-toggle="popover" v-b-popover.bottom="'Un asesor experto de '+ aseguradora.nombre.toLowerCase()+' te contactará'", :id="aseguradora.nombre" @click="obtieneDatosAseguradora" v-bind:class="{disabled:aseguradora.btn}") Recibir asesoría
          //-   br 
          //-   span 
          //-     strong GRATUITA
         
    div.card-header.card_nonep.card_height.cardheightnoprice2
      .row    
        .col-md-4.col-lg-4.d-none.d-sm-none.d-md-block.text-center
          .alert.badgetpromo.azul.gray(role='alert')
            //.fa.fa-headphones.colorheadset
            i.fa.fa-tag.fa-lg.font-weight-bold
            | &nbsp; {{$store.state.aseguradoras[aseguradora.nombre].textbadget}}

        .col-12.col.col-sm-12.col-md-6.col-lg-6
          p.ptable.margintop.px-4.text-white Estás cotizando un:

        
        .col-md-12.col-lg-12.d-sm-block.d-md-none.d-lg-none.d-xl-none.text-center.m-b1.mt-3
          .alert.badgetpromo.azul.gray(role='alert')
            //.fa.fa-headphones.colorheadset
            i.fa.fa-tag.fa-lg.font-weight-bold
            | &nbsp; {{$store.state.aseguradoras[aseguradora.nombre].textbadget}}





</template>
<script>
  import newContactoInteresadoService from '~/plugins/wsContactoInteresado'
  export default {
    props: {
      aseguradora: {type: Object, required: true},
      indice: {type: Number, required: true}
    },
     methods: {
       obtieneDatosAseguradora(event){
          if(!this.$store.state.aseguradoras[event.target.getAttribute('id')].btn) {
            this.$store.state.aseguradoras[event.target.getAttribute('id')].btn=true;

            var jsonContactoInterezadoWs = {
              id_cotizacion_a: -1,
              id_aseguradora: this.$store.state.aseguradoras[event.target.getAttribute('id')].id_aseguradora,
              id_cotizacion: this.$store.state.cotizaciones[0].configuracionPeticion.id_cotizacion,
              id_pagina:this.$store.state.aseguradoras[event.target.getAttribute('id')].id_pagina,
              id_campana:this.$store.state.aseguradoras[event.target.getAttribute('id')].id_campana,
              grupo_callback:this.$store.state.aseguradoras[event.target.getAttribute('id')].callback,
              telefono_as:this.$store.state.aseguradoras[event.target.getAttribute('id')].DID
            };


            //Se valida si se esta trabajando con ambiente de pruebas
            if(!this.$store.state.ambientePruebas) {
                newContactoInteresadoService.nuevoContacto(
                  JSON.stringify(jsonContactoInterezadoWs)
                ).then(respContactoInterezado => {
                  //METER AQUI EL SCRIPT PARA DASABILITAR EL BOTON EN CASO DE HAYA ALGUN ERROR
                });
            }else{
              console.log("Llamada al cliente.... ambiente de pruebas ");
            }



            /* VISTA DE EMISION  */
            //$nuxt._router.push({path: 'emitir'});
          }
      }
  }
}
</script>
<style>
.disabled:hover{
    -moz-background-color:gray!mportant;
    -ms-background-color:gray!mportant;
    -o-background-color:gray!mportant;
    -webkit-background-color:gray!mportant;
    background-color:gray!mportant;
  }
.azul{background-color:#e8f0fe!important;}
.gray{color:#676768 !important;}
</style>
