<template lang="pug">
  div
    .card-header.card_galeria
      .row
        .col-sm-12(style="align-content")
        .col.sm-12.text-center
          img.figure-img.rounded.text-center(:src="'img/aseguradoras/'+ c.Aseguradora +'.png'",height="50px")
        .col-sm-12.text-center
          .marginrate1(align='center')
                img.figure-img.img-fluid.rounded.img_stars(:src="'img/stars/' + $store.state.aseguradoras[c.Aseguradora].stars +'.png'")
                p {{$store.state.aseguradoras[c.Aseguradora].popularidad}}


        .col-sm-12.text-center
          p.price.p_card_info {{c.Vehiculo.Descripcion}}
        .col-sm-12.text-center
         p.p_ncotiza.sbold  35% de descuento via telefònica <br>
            span
              img.img-fluid.card_pago(src='img/images/cards.png')
        .col-12
          .row
            .col-12
              button.btn.btn-md.btn-block.btn-primary.colorboton2(:idCompra="indice", @click="obtieneDatosAseguradora", v-bind:class="{disabled: c.configuracionPeticion.btnDisabled}", type='button' data-content="Nos comunicaremos contigo en segundos o contactanos al numero 55 34567321")
                i.fa.fa-phone.fa-lg
                |  Solicita asesoria GRATUITA

            //- ESTE ES EL BOTON DE LA LISTA
            //- .col-12.col-sm-4.col-md-3.col-lg-3(align='center')
            //-   b-btn.btn-block.badgetpromocall.imgcall(data-toggle="popover" v-b-popover.bottom="'Un asesor experto de '+ aseguradora.nombre.toLowerCase()+' te contactará'", :id="indice" @click="obtieneDatosAseguradora" v-bind:class="{disabled:aseguradora.btn}")


</template>
<script>
export default {
  props: {
    c: {type: Object, required: true},
    indice: {type: Number, required: true}
  }
}
</script>
