<template lang="pug">
  div.card-header.card_nonep

    .row
      .col-12.col-sm-12.col-md-12
        .card-filter
          ul.px-0
            li
              a.bars(data-toggle="collapse",href="#collapseExample3",role="button",aria-expanded="false",aria-controls="collapseExample3")
                //- i.fa.fa-bars.fa-lg
            li.pfilter.sregular FILTRAR POR:
      .col-md-12.col-lg-12.collapse.show(id="collapseExample3")
        .col-sm-12
         .row

        .col-sm-12
            .card-body.filter_card1
              ul.list-inline
                li.list-inline-item.mr-0
                li.list-inline-item.mr-0
                  a(href="javascript:void(0);",data-toggle="tooltip",title="Lista!",@click="$store.state.control.vista=false")
                    i.fa.fa-list.pull-right.fa-lg
                li.list-inline-item.mr-0
                  a(href="javascript:void(0);",data-toggle="tooltip",title="Galería!",@click="$store.state.control.vista=true")
                    i.fa.fa-th-large.pull-right.fa-lg

        .col-sm-12
          .row
            .col-sm-12 &nbsp;
              div(data-toggle="collapse",href="#collapseExample",role="button",aria-expanded="false",aria-controls="collapseExample")

                //- i.fa.fa-filter.colorAhorra.Aseguradora
                span.span_style  Aseguradoras
                ul
                 li.listfilter2
                  a(data-toggle='collapse' href='#footwear2')
                      i.fa.fa-angle-double-down.color-filter-arrow
            .col-sm-12.collapse.show(id="collapseExample")
              .card-body
                ul.px-0
                  li(v-for="(a, index) in $store.state.cotizaciones")
                    label.form-check-label
                      input.myCheckbox.form-check-input(@click="eventoMuestraAseguradora",:name="''+a.Aseguradora+''",type="checkbox",:id="''+a.Aseguradora+''",:value="''+a.Aseguradora+''",:data_id="''+index+''", :checked="a.Show")
                      div {{a.Aseguradora}}
        .col-sm-12
          .row
            .col-sm-12.ml-0 &nbsp;
              div(data-toggle="collapse",href="#collapseExampleDos",role="button",aria-expanded="false",aria-controls="collapseExampleDos")
                  //- i.fa.fa-copy.colorAhorra
                  span.span_style  Ordenar
                  li.listfilter2
                    a(data-toggle='collapse' href='#footwear2')
                      i.fa.fa-angle-double-down.color-filter-arrow

            .col-sm-12.collapse.show(id="collapseExampleDos")
              .card-body
                          .col

                          span.span_style
                          p.text-left.m-r-1 Precio
                            div.custom-control.custom-radio
                                input.custom-control-input(type="radio",id="r1",name="customRadio",@click="ordenarAsc")
                                label.custom-control-label(for="r1") ascendente
                            div.custom-control.custom-radio
                              input.custom-control-input(type="radio",id="r2",name="customRadio",@click="ordenarDesc")
                              label.custom-control-label(for="r2")   descendente

                          .col

                          span.span_stylePrecio
                          p.text-left.m-r-1 Popularidad
                            div.custom-control.custom-radio
                              input.custom-control-input(type="radio",id="r3",name="customRadio",@click="ordenarCalificacionAsc")
                              label.custom-control-label(for="r3") ascendente
                            div.custom-control.custom-radio
                              input.custom-control-input(type="radio",id="r4",name="customRadio",@click="ordenarCalificacionDesc")
                              label.custom-control-label(for="r4")  descendente
</template>
<script>
  export default {
    methods: {
      eventoMuestraAseguradora: function (event) {
        if (event) {
          this.$store.state.cotizaciones[event.currentTarget.getAttribute('data_id')].Show = event.target.checked;
        }
      },ordenarAsc: function () {
        this.$store.state.cotizaciones.sort(function(a,b){
          return a.Cotizacion.PrimaTotal - b.Cotizacion.PrimaTotal;
        })
      },
      ordenarDesc: function () {
        this.ordenarAsc();
        this.$store.state.cotizaciones.reverse();
      },
      ordenarCalificacionAsc: function () {
        this.$store.state.cotizaciones.sort(function(a,b){
          return a.Calificacion - b.Calificacion;
        })
      },
      ordenarCalificacionDesc: function () {
        this.ordenarCalificacionAsc();
        this.$store.state.cotizaciones.reverse();
      }
    }
  }
</script>
