<template>
   <p class="alert alert-primary">
    <slot></slot>
    </p>
  </template>

  <script >
export default {
  props: ['timeout'],
  mounted() {
    setTimeout(() => {
      this.removeAlert();
    }, this.timeout);
  },

  methods: {
    removeAlert() {
      this.$emit('remove');
    },
  },
}
    </script>