<template lang="pug">

  div.tab-pane.active(id="#amplia")
    div.card-header.headercard.card_nonep
      .row
        .col-12.col-sm-12.col-md-3.col-lg-3
          figure.figure
            img.figure-img.img-fluid.rounded.img_asegura(:src="'img/aseguradoras/ANA.png'")
          .marginrate.d-none.d-sm-none.d-md-block.d-lg-block.d-xl-block(align='center')
            a(href="#",data-value="1",title="Votar con 1 estrellas" class="label_star") &#9733;
            a(href="#",data-value="2",title="Votar con 2 estrellas" class="label_star") &#9733;
            a(href="#",data-value="3",title="Votar con 3 estrellas" class="label_star") &#9733;
            a(href="#",data-value="4",title="Votar con 4 estrellas" class="label_star") &#9733;
            a(href="#",data-value="5",title="Votar con 5 estrellas" class="label_star") &#9733;
            p.text-center.colorGray.p_reputacion Muy Popular

        .col-12.col-sm-4.d-sm-block.d-lg-none.d-md-none.d-xl-none
          .marginrate(align='center')
            a(href="#",data-value="1",title="Votar con 1 estrellas" class="label_star") &#9733;
            a(href="#",data-value="2",title="Votar con 2 estrellas" class="label_star") &#9733;
            a(href="#",data-value="3",title="Votar con 3 estrellas" class="label_star") &#9733;
            a(href="#",data-value="4",title="Votar con 4 estrellas" class="label_star") &#9733;
            a(href="#",data-value="5",title="Votar con 5 estrellas" class="label_star") &#9733;
            p.text-center.colorGray.p_reputacion Muy Popular

        .col.col-12.col-sm-4.col-md-2.col-lg-2.marginboottom(align='center')
          p.colorprice.sbold {{cotizacion.Cotizacion.PrimaTotal | currency}}<br>
            span
              img.img-fluid.card_pago(src='img/images/ahorraseguros_pagos.png')

        .col-12.col-sm-4.col-md-4.col-lg-4.margintexto.d-none.d-md-block.d-lg-block.d-xl-block
          ul.plist.colorGray
            li
              img.iconsvg1(src='img/images/robo_total.svg')
              |  Robo Total
            li
              img.iconsvg1(src='img/images/daños-al-automovil.svg')
              |  Da&ntilde;os de autom&oacute;vil
            li
              img.iconsvg1(src='img/images/daños-a-terceros.svg')
              |  Da&ntilde;os a terceros
            li
              img.iconsvg1(src='img/images/gastos-medicos.svg')
              |  Gastos medicos

        .col-12.col-sm-4.col-md-3.col-lg-3(align='center')
          b-btn.btn-block.badgetpromocall.imgcall(data-toggle="popover" v-b-popover.bottom="'Un asesor experto de '+ cotizacion.Aseguradora.toLowerCase()+' te contactará'", :id="indice", @click="obtieneDatosAseguradora" v-bind:class="{disabled: cotizacion.configuracionPeticion.btnDisabled}")



      .row
        .col-12.col.col-sm-12.col-md-6.col-lg-6
          p.ptable.margintop.px-4.colorGray2 Estás cotizando un: Algo


        .col-12.col-sm-12.col-md-6.col-lg-6.alineado
          .btn
            span.alink.colorAhorra Más información &nbsp; &nbsp;
              i.fa.fa-angle-down.fa-lg



      .col-md-12.col-lg-12.d-none.d-sm-block.text-center.m-b1.px-0
        .alert.badgetpromo(v-show="indice==0",role='alert') Este es el mejor precio para tu seguro de auto



    .row
      .col-12.col-sm-12
        .collapse(:id="collapse", :aria-labelledby="'heading-ANA'", data-parent="#accordion")
          div.card-header.table-responsive
            //- .form-group
            //-  label(for='exampleSelect1') Selecciona version
            //-  select#exampleSelect1.form-control.chevron
            //-    option Selecciona la versión exacta de tu vehículo
            //-    option 2
            //-    option 3
            //-    option 4
            //-    option 5
            table.table.table-hover.table-sm.colorGray.style_table
              thead
                tr
                  th Coberturas
                  th Suma asegurada
                  th Deducible
              tbody
                  tr DatoUno
                  tr DatoDos
                  tr DatoTres


</template>

<script>


  export default {
    props: {
      cotizacion: {type: Object, required: true},
      indice: {type: Number, required: true}
    },
    methods: {

    },
    created() {

    },
  }
</script>

