<template lang="pug">
  div(v-if="c.Show")
    .card-header.card_galeria
      .row
        .col-sm-12(style="align-content")
        .col.sm-12.text-center
          img.figure-img.rounded.text-center(:src="'img/aseguradoras/'+ c.Aseguradora +'.png'",height="50px")
        .col-sm-12.text-center
          .marginrate1(align='center')
                img.figure-img.img-fluid.rounded.img_stars(:src="'img/stars/' + $store.state.aseguradoras[c.Aseguradora].stars +'.png'")
                p {{$store.state.aseguradoras[c.Aseguradora].popularidad}}
           

        .col-sm-12.text-center
          p.price.p_card_info {{c.Vehiculo.Descripcion}}
        .col-sm-12.text-center
         p.colorprice2.sbold {{c.Cotizacion.PrimaTotal | currency}}<br>
            span
              img.img-fluid.card_pago(src='img/images/cards.png')
        .col-12
          .row
            .col-12
               a.btn.btn-md.btn-block.colorboton2(:id="indice", href="#",data-toggle="modal",data-target="#exampleModal",@click="editModal",:data_id="''+c.Aseguradora+''") Mas informacion
            .col-12
              button.btn.btn-md.btn-block.btn-primary.colorboton2(:idCompra="indice", @click="obtieneDatosAseguradora", v-bind:class="{disabled: c.configuracionPeticion.btnDisabled}", type='button' data-content="Nos comunicaremos contigo en segundos o contactanos al numero 55 34567321")
                i.fa.fa-phone.fa-lg
                |  Solicita asesoria GRATUITA


            //- este es el boton de la lista para que lo puedas configurar
            //- .col-12.col-sm-4.col-md-3.col-lg-3(align='center')
            //-   b-btn.btn-block.badgetpromocall.imgcall(data-toggle="popover" v-b-popover.bottom="'Un asesor experto de '+ aseguradora.nombre.toLowerCase()+' te contactará'", :id="indice" @click="obtieneDatosAseguradora" v-bind:class="{disabled:aseguradora.btn}")


        <!-- INICIO DEL MODAL -->
        .modal.fade(id="exampleModal",tabindex="-1",role="dialog",aria-labelledby="exampleModalLabel",aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        .col-11.modal-title(id="exampleModalLabel")
                            br
                            .col-sm-12.text-center
                                img.figure-img.rounded.img-fluid(:src="'img/aseguradoras/'+ this.$store.state.cotizaciones[this.$store.state.control.modalAseguradora].Aseguradora +'.png'",width="200px")
                            
                            .col-sm-12.text-center
                              .marginrate1(align='center')
                                img.figure-img.img-fluid.rounded.img_stars(:src="'img/stars/' + $store.state.aseguradoras[c.Aseguradora].stars +'.png'")
                                p {{$store.state.aseguradoras[c.Aseguradora].popularidad}}
                                  
                            .col-sm-12.text-center {{this.$store.state.cotizaciones[this.$store.state.control.modalAseguradora].Vehiculo.Descripcion}}
                            .col-sm-12.text-center {{this.$store.state.cotizaciones[this.$store.state.control.modalAseguradora].Cotizacion.PrimaTotal | currency}}
                        button(type="button",class="close",data-dismiss="modal",aria-label="Close")
                        span(aria-hidden="true") &times;
                    .modal-body
                        table.table-hover.table-sm.colorGray.style_table
                            thead
                                tr
                                    th Coberturas
                                    th Suma asegurada
                                    th Deducible
                            tbody
                                tr(v-for="c in this.$store.state.cotizaciones[this.$store.state.control.modalAseguradora].Coberturas[0]")
                                  th {{c | showName}}
                                  td {{c | showSuma}}
                                  td {{c | showDeducible}}
                    .modal-footer
                        button.btn.btn-secondary(type="button",data-dismiss="modal") Close


</template>
<style>
    .ec-stars-wrapper {
        font-size: 0;
        display: inline-block;
    }
    .ec-stars-wrapper a {
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
        font-size: 2rem;
        color: #888;
    }
    .ec-stars-wrapper:hover a {
        color: rgb(39, 130, 228);
    }
    .ec-stars-wrapper > a:hover ~ a {
        color: #888;
    }
</style>

<script>
    import cpService from '~/plugins/codigoPostal';
    import bancoService from '~/plugins/bancos';
    import newContactoInteresadoService from '~/plugins/wsContactoInteresado'
    export default {
      props: {
        c: {type: Object, required: true},
        indice: {type: Number, required: true}
      },
        data(){
            return{
              indexArray:0,
            }
        },
        methods: {
            editModal(event){
              this.$store.state.control.modalAseguradora=event.target.getAttribute('id');
            },
            limpiarCoberturas() {
              if (this.$store.state.cotizaciones[this.$store.state.control.modalAseguradora].Coberturas) {
                for (var c in this.$store.state.cotizaciones[this.$store.state.control.modalAseguradora].Coberturas[0]) {
                  if (this.$store.state.cotizaciones[this.$store.state.control.modalAseguradora].Coberturas[0][c] === "-") {
                    delete this.$store.state.cotizaciones[this.$store.state.control.modalAseguradora].Coberturas[0][c];
                  }
                }
              }
            },
          obtieneDatosAseguradora(event){
            if(!this.$store.state.cotizaciones[event.target.getAttribute('idCompra')].configuracionPeticion.btnDisabled) {
              this.$store.state.cotizaciones[event.target.getAttribute('idCompra')].configuracionPeticion.btnDisabled=true;
              this.$store.state.emision = this.$store.state.cotizaciones[event.target.getAttribute('idCompra')];
              this.$store.state.emision.Cliente.Nombre = this.$store.state.formCotizacion.nombre;
              this.$store.state.emision.Cliente.ApellidoPat = this.$store.state.formCotizacion.apellidoPaterno;
              this.$store.state.emision.Cliente.ApellidoMat = this.$store.state.formCotizacion.apellidoMaterno;
              this.$store.state.emision.Cliente.Telefono = this.$store.state.formCotizacion.telefono;
              this.$store.state.emision.Cliente.Email = this.$store.state.formCotizacion.correo;
              this.$store.state.emision.Cliente.Edad = this.$store.state.formCotizacion.edad;
              this.$store.state.emision.Cliente.FechaNacimiento = this.$store.state.formCotizacion.fechaNacimiento;
              this.$store.state.emision.Cliente.TipoPersona = "";
              /*
              cpService.search(this.$store.state.formCotizacion.codigoPostal)
                .then(resp => {
                  this.$store.state.formCotizacion.colonias = resp;
                  this.$store.state.emision.Cliente.Direccion.Ciudad = this.$store.state.formCotizacion.colonias[0].estado;
                  this.$store.state.emision.Cliente.Direccion.Poblacion = this.$store.state.formCotizacion.colonias[0].delMun;
                });
              bancoService.search(this.$store.state.emision.Aseguradora)
                .then(resp => {
                  this.$store.state.formCotizacion.bancos = resp;
                });*/

              var jsonContactoInterezadoWs = {
                id_cotizacion_a: this.$store.state.cotizaciones[event.target.getAttribute('idCompra')].configuracionPeticion.idCotizacion_a,
                id_cotizacion: this.$store.state.cotizaciones[event.target.getAttribute('idCompra')].configuracionPeticion.id_cotizacion,
                id_pagina:this.$store.state.aseguradoras[this.$store.state.cotizaciones[event.target.getAttribute('idCompra')].Aseguradora].id_pagina,
                id_campana:this.$store.state.aseguradoras[this.$store.state.cotizaciones[event.target.getAttribute('idCompra')].Aseguradora].id_campana,
                grupo_callback:this.$store.state.aseguradoras[this.$store.state.cotizaciones[event.target.getAttribute('idCompra')].Aseguradora].callback,
                telefono_as:this.$store.state.aseguradoras[this.$store.state.cotizaciones[event.target.getAttribute('idCompra')].Aseguradora].DID,
              };

              newContactoInteresadoService.nuevoContacto(
                JSON.stringify(jsonContactoInterezadoWs)
              ).then(respContactoInterezado => {
                //METER AQUI EL SCRIPT PARA DASABILITAR EL BOTON EN CASO DE HAYA ALGUN ERROR
              });
              //console.log(jsonContactoInterezadoWs);
              //$nuxt._router.push({path: 'emitir'});
            }



          },
        },
        created() {
          this.limpiarCoberturas();
        },
        filters: {
          showName: function (value) {
            return value.substring(value.lastIndexOf("-N") + 2, value.lastIndexOf("-S"))
          },
          showSuma: function (value) {
            return value.substring(value.lastIndexOf("-S") + 2, value.lastIndexOf("-D"))
          },
          showDeducible: function (value) {
            return value.substring(value.lastIndexOf("-D") + 2, value.lastIndex)
          }
        }
    }
</script>
