<template lang="pug">
  div.tab-pane.active(id="#amplia")
    div.card-header.card_nonep.card_height(v-if="cotizacion.Show")
      .row
        .col-6.col-sm-6.col-md-3.col-lg-2(align='center')
          figure.figure
            //img.figure-img.img-fluid.rounded.img_asegura.mb-0(:src="'img/funnel-imagenes/logos_svg/' + this.$store.state.aseguradoras[cotizacion.Aseguradora].logo_aseg +'.svg'")
            img.figure-img.img-fluid.rounded.img_asegura.mb-0(:src="'img/funnel-imagenes/logos_svg/' + cotizacion.Aseguradora +'.svg'")

          .marginrate.mb-0(align='center')
            p.stars {{$store.state.aseguradoras[cotizacion.Aseguradora].stars}}
            p.ratep {{$store.state.aseguradoras[cotizacion.Aseguradora].popularidad}}

        .col-6.col-sm-6.d-none
          .marginrate(align='center')
            p.p_cali {{$store.state.aseguradoras[cotizacion.Aseguradora].calificacion}} <span class="fa fa-star color_star checked"></span>
            span  {{$store.state.aseguradoras[cotizacion.Aseguradora].popularidad}}


        .col-6.col-sm-6.col-md-3.col-lg-2.text-center.marginboottom
          p.colorprice.sbold {{cotizacion.Cotizacion.PrimaTotal | currency}}<br>
            span
              img.img-fluid.card_pago(src='img/funnel-imagenes/ahorraseguros_pagos.png')


        .col-12.col-sm-6.col-md-3.col-lg-3.margintexto.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
          ul.plist.colorGray
            li.promo
              .fa.fa-check.colorinfo
              |  Robo Total
            li.promo
              .fa.fa-check.colorinfo
              |  Da&ntilde;os de autom&oacute;vil
            li.promo
              .fa.fa-check.colorinfo
              |  Da&ntilde;os a terceros
            li.promo
              .fa.fa-check.colorinfo
              |  Gastos médicos

        .col-6.col-sm-6.col-md-3.col-lg-2.text-center.marginboottom
          span.infospantel.d-none.d-sm-none.d-md-block Llama gratis
          //img.iconsvg1(src='img/images/headset.svg')
          .fa.fa-headphones.colorheadset
          a.colorprice.marginboottom.colortelnoprice.sbold(:href="'tel:'+$store.state.aseguradoras[cotizacion.Aseguradora].phonecotizar") {{$store.state.aseguradoras[cotizacion.Aseguradora].phonecotizar}}
          br
          p.infospantel.mt-1 {{$store.state.aseguradoras[cotizacion.Aseguradora].horario_atencion}}


        .col-6.col-sm-6.col-md-3.col-lg-3(align='center')
          b-btn.btn-block.badgetpromocomprar.imgcall.pt-2(v-show="$store.state.aseguradoras[cotizacion.Aseguradora].emision", :id="'compra-'+cotizacion.Aseguradora", @click="conectarAEmision(indice)" v-bind:class="{disabled: this.$store.state.cotizaciones[indice].configuracionPeticion.habilitar}") COMPRAR
            br
            span
              strong EN LÍNEA

          b-btn.btn-block.badgetpromocall.imgcall(:id="cotizacion.Aseguradora", @click="obtieneDatosAseguradora" v-bind:class="{disabled: $store.state.cotizaciones[indice].configuracionPeticion.btnDisabled}") COMPRAR
            br 
            span 
              strong POR TELÉFONO
          b-popover(:target="cotizacion.Aseguradora" placement="bottom" ,triggers='click')
            div.poperscontain
              img.imgpop.figure-img.img-fluid.img_asegura_tooltip.mr-3(:src="'img/funnel-imagenes/logos_svg/' + cotizacion.Aseguradora +'.svg'") 
              p.mb-0.p_popover Un asesor experto de <b>{{$store.state.aseguradoras[cotizacion.Aseguradora].text_poppers}}</b> te contactará a la brevedad

    div.card-header.card_nonep.card_height.cardheight2(v-if="cotizacion.Show")
      .row
        .col-md-4.col-lg-4.d-none.d-sm-none.d-md-block.text-center
          .alert.badgetpromo.gray.margin-17(v-show="indice==0",role='alert')
            i.fa.fa-tag.fa-lg.font-weight-bold.f10
            | &nbsp; {{$store.state.aseguradoras[cotizacion.Aseguradora].textogenerico}}
          .alert.badgetpromo.azul.gray.margin-17(v-show="indice>0",role='alert')
            //.fa.fa-headphones.colorheadset
            i.fa.fa-tag.fa-lg.font-weight-bold
            | &nbsp; {{$store.state.aseguradoras[cotizacion.Aseguradora].textbadget}}


        .col-9.col-sm-8.col-md-5.col-lg-5.mt-20.margin-17
          p.ptable.margintop.colorGray2 Estás cotizando un: {{cotizacion.Vehiculo.Modelo}} {{cotizacion.Vehiculo.Descripcion}}


        .col-3.col-sm-4.col-md-3.col-lg-3.text-center.align-self-center.justify-content-around.mt-20
          .btn(v-if="cotizacion.Show",:id="'heading-'+ cotizacion.Aseguradora.toLowerCase()+''", data-toggle="collapse", :data-target="'#collapse-'+ cotizacion.Aseguradora.toLowerCase()+''", aria-expanded="true", :aria-controls="'collapse-'+ cotizacion.Aseguradora.toLowerCase()+''")

            span.alink.colorAhorra.d-none.d-sm-none.d-md-block.fs15.arrowstyle.margin-17 Mas información 
              i.fa.fa-angle-down.fa-lg

            span.alink.colorAhorra.d-lg-none.d-md-none.d-sm-block
              i.fa.fa-angle-down.fa-lg

        .col-12.col-sm-12.d-sm-block.d-md-none.d-lg-none.d-xl-none.text-center
          .alert.badgetpromo.gray(v-show="indice==0",role='alert')
            i.fa.fa-tag.fa-lg.font-weight-bold
            | &nbsp; {{$store.state.aseguradoras[cotizacion.Aseguradora].textogenerico}}
          .alert.badgetpromo.azul.gray(v-show="indice>0",role='alert')
            //.fa.fa-headphones.colorheadset
            i.fa.fa-tag.fa-lg.font-weight-bold
            | &nbsp; {{$store.state.aseguradoras[cotizacion.Aseguradora].textbadget}}



    .row
      .col-12.col-sm-12
        .collapse(:id="'collapse-'+ cotizacion.Aseguradora.toLowerCase()+''", :aria-labelledby="'heading-'+ cotizacion.Aseguradora.toLowerCase()+''", data-parent="#accordion")
          div.card-header.table-responsive
            label.colorGray2 {{cotizacion.Cotizacion.CotID!=null?"A-"+cotizacion.Cotizacion.CotID:"AS-"+cotizacion.configuracionPeticion.idCotizacion_a}}
            //.row
              .input-group.mb-3
                .input-group-prepend
                  label
                .input-group.mb-3(v-if="Object.keys($store.state.aseguradoras[cotizacion.Aseguradora].detallesAseguradora).length > 0")
                .input-group-prepend
                  label.input-group-text(for="inputGroupSelect01") Selecciona version
                select.custom-select(id="inputGroupSelect01", :nombreAseguradora="cotizacion.Aseguradora", @change="reCotizarAseguradora", v-model="selectedDetalle", :idNodo="indice")
                  option(selected="true") Seleccionar una opcion...
                  option(v-for="detalleAs in $store.state.aseguradoras[cotizacion.Aseguradora].detallesAseguradora", :value="detalleAs") {{detalleAs.text}}
            table.table.table-hover.table-sm.colorGray.style_table
              thead
                tr
                  th Coberturas
                  th Suma asegurada
                  th Deducible
              tbody
                tr(v-for="c in cotizacion.Coberturas[0]")
                  th {{c | showName}}
                  td {{c | showSuma}}
                  td {{c | showDeducible}}
    loader-component(v-if="!cotizacion.Show")


</template>

<script>
  import Vue from 'vue'
  import cpService from '~/plugins/codigoPostal';
  import bancoService from '~/plugins/bancos';
  import detallesService from '~/plugins/detalles'
  import newContactoInteresadoService from '~/plugins/wsContactoInteresado'
  import cotizacionService from '~/plugins/cotizacion'
  import LoaderComponent from '~/components/common/Loader.vue'
  import newLidGnp from '~/plugins/wsLidsGnp'
  import newGetIdCoticacionGnp from '~/plugins/wsGetIdCotizacionGnp'
  import newLeadElAguila from '~/plugins/wsLeadsElAguila'
  import ws_lead_aba from '~/plugins/ws_lead_ABA'
  import ws_lead_hdi from '~/plugins/ws_lead_HDI'
  import ws_lead_vendido from '~/plugins/wsLeadVendido'
  import ws_lead_callBack from '~/plugins/wsVentaLeadCallBack'

  import moment from 'moment'
  import base64 from 'base-64'


  export default {
    data() {
      return {
        detalles: [],
        selectedDetalle: [],
        resultDatosTabla: {},
      }
    },
    computed: {
      reversedMessage: function () {
        return this.message.split('').reverse().join('')
      }
    },
    props: {
      cotizacion: {type: Object, required: true},
      indice: {type: Number, required: true},
    },
    components: {
      LoaderComponent
    },
    methods: {
       conectarAEmision(indice) {
        if (!this.$store.state.cotizaciones[this.indice].configuracionPeticion.habilitar) {
        this.$store.state.cotizaciones[this.indice].configuracionPeticion.habilitar = true;
      
        //Llamar a funcion para guardar lead
        var jsonContactoInterezadoWs = {
          id_cotizacion_a: this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a,
          id_cotizacion: this.$store.state.cotizaciones[this.indice].configuracionPeticion.id_cotizacion,
          id_pagina: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].id_pagina,
          id_campana: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].id_campana,
          grupo_callback: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].callback,
          telefono_as: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].DID,
        };
        //Se valida si se esta trabajando con ambiente de pruebas
        if (!this.$store.state.ambientePruebas) {
          newContactoInteresadoService.nuevoContacto(
            JSON.stringify(jsonContactoInterezadoWs)
          ).then(respContactoInterezado => {
            //Crea JSON y conecta con proyecto de emision
            console.log(respContactoInterezado);
            var peticion = [];
            peticion.push({
              "idSolicitud": respContactoInterezado.idSolicitud,
              "aseguradora": this.$store.state.cotizaciones[this.indice].Aseguradora,
              "descripcion": respContactoInterezado.modelo,
              "subDescripcion": respContactoInterezado.detalle,
              "descuento": this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].descuento,
              "cotizacion": this.$store.state.cotizaciones[this.indice],

            });

            window.open("https://poliza.ahorraseguros.mx/?id="+base64.encode(JSON.stringify(peticion[0])), "_blank");

          }).catch(e => console.error('Error al guardar prospecto' + e));
        } else {
          console.log("Llamada al cliente.... ambiente de pruebas ");
        }

        }
      },

      closeAllPopovers() {
        this.$root.$emit('bv::hide::popover.bottom');
      },

      reCotizarAseguradora(event) {
        this.$store.state.cotizaciones[event.target.getAttribute('idNodo')].Show = false;
        var aseguradoraRecotizacion = event.target.getAttribute('nombreAseguradora');
        var aseguradoraNodoRecotizacion = event.target.getAttribute('idNodo');
        var attributesRecotizacion = [];

        attributesRecotizacion = {
          aseguradoraRecotizacion: aseguradoraRecotizacion,
          aseguradoraNodoRecotizacion: aseguradoraNodoRecotizacion,
          selectedDetalleId: this.selectedDetalle.id,
          selectedDetalleText: this.selectedDetalle.text,
        }

        this.$store.commit('reCotizarAseguradoraStore', attributesRecotizacion);

      },
      limpiarCoberturas() {
        if (this.cotizacion.Coberturas) {
          for (var c in this.cotizacion.Coberturas[0]) {
            if (this.cotizacion.Coberturas[0][c] === "-") {
              delete this.cotizacion.Coberturas[0][c];
            }
          }
        }
      },

      obtieneDatosAseguradora(event) {
        console.log("obtieneDatosAseguradora");
        console.log(this.indice);
        console.log(this.indice);
        if (!this.$store.state.cotizaciones[this.indice].configuracionPeticion.btnDisabled) {

          this.$store.state.cotizaciones[this.indice].configuracionPeticion.btnDisabled = true;
          /*
          this.$store.state.emision = this.$store.state.cotizaciones[this.indice];
          this.$store.state.emision.Cliente.Nombre = this.$store.state.formCotizacion.nombre;
          this.$store.state.emision.Cliente.ApellidoPat = this.$store.state.formCotizacion.apellidoPaterno;
          this.$store.state.emision.Cliente.ApellidoMat = this.$store.state.formCotizacion.apellidoMaterno;
          this.$store.state.emision.Cliente.Telefono = this.$store.state.formCotizacion.telefono;
          this.$store.state.emision.Cliente.Email = this.$store.state.formCotizacion.correo;
          this.$store.state.emision.Cliente.Edad = this.$store.state.formCotizacion.edad;
          this.$store.state.emision.Cliente.FechaNacimiento = this.$store.state.formCotizacion.fechaNacimiento;
          this.$store.state.emision.Cliente.TipoPersona = "";
*/
          /*
          cpService.search(this.$store.state.formCotizacion.codigoPostal)
            .then(resp => {
              this.$store.state.formCotizacion.colonias = resp;
              this.$store.state.emision.Cliente.Direccion.Ciudad = this.$store.state.formCotizacion.colonias[0].estado;
              this.$store.state.emision.Cliente.Direccion.Poblacion = this.$store.state.formCotizacion.colonias[0].delMun;
            });
          bancoService.search(this.$store.state.emision.Aseguradora)
            .then(resp => {
              this.$store.state.formCotizacion.bancos = resp;
            }); */


          //CONDICION:  EN CASO DE QUE SE SELECCION EL AGUILA

          switch (this.$store.state.cotizaciones[this.indice].Aseguradora.toUpperCase()) {

            case 'ELAGUILA':
              var start = new Date();
              start.setFullYear(start.getFullYear() - this.$store.state.formCotizacion.edad);
              var startf = start.toISOString().slice(0, 10).replace(/-/g, "/");
              startf = new Date(startf);
              startf = startf.getDate() + "/" + ("0" + (startf.getMonth() + 1)).slice(-2) + "/" + startf.getFullYear();
              var jsonPeticionWsLidGnp = {
                strNombres: this.$store.state.formCotizacion.nombre,
                strApellidoP: '-',
                strApellidoM: '-',
                strTelefono: this.$store.state.formCotizacion.telefono,
                strfechaNacimiento: startf,
                strEmail: this.$store.state.formCotizacion.correo,
                strSexoConductor: this.$store.state.formCotizacion.genero.charAt(0),
                strEdoiCivil: 'C',
                intCP: this.$store.state.formCotizacion.codigoPostal,
                strSubRamo: 'R',
                intModelo: this.$store.state.cotizaciones[this.indice].Vehiculo.Clave,
                intModeloAuto: this.$store.state.formCotizacion.modelo,
                intformaPago: '1',
                strNombreCobertura: 'Amplia Normal',//AMPLIA NORMAL
                dbmTotal: this.$store.state.cotizaciones[this.indice].Cotizacion.PrimaTotal,
                dbPrimerPgo: '0',
                dbSegundoPgo: '0',
                numero_cotizacion_a: this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a,
              };
              //Se valida si se esta trabajando con ambiente de pruebas
              console.log("CALL WS EL AGUILA");
              if (!this.$store.state.ambientePruebas) {
                newLeadElAguila.nuevoLeadAguila(
                  JSON.stringify(jsonPeticionWsLidGnp)
                ).then(respLidGnp => {


                      console.log("SEND RESULT WS EL AGUILA");
                      ws_lead_vendido.nuevoLeadVendido(
                        this.$store.state.cotizaciones[this.indice].configuracionPeticion.id_cotizacion,
                        this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a,
                      ).then(respLidGnp => {
                        console.log("SEND WS LEAD VENDIDO");
                      });

                      /*console.log("CALL VENTA_LEAD_CALLBACK ");
                      //ws_lead_callBack
                      ws_lead_callBack.leadCallBack(
                        this.$store.state.formCotizacion.telefono
                      ).then(resp => {
                        console.log("SEND WS LEAD VENDIDO");
                      });*/


                });
              } else {
                console.log("Llamada al cliente.... ambiente de pruebas(LEADS EL AGUILA) ");
              }
              break;
            case 'GNP':

                //Se valida si se esta trabajando con ambiente de pruebas
                  console.log("CALL- WS - GNP");
                  var jsonPeticionWsLidGnp = {
                    sitio:this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].id_pagina,
                    idCotizacion:this.$store.state.cotizaciones[this.indice].Cotizacion.CotID!=null?this.$store.state.cotizaciones[this.indice].Cotizacion.CotID:this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a,
                    fecha:moment().format('YYYY-MM-DD'),
                    hora:moment().format('HH:mm:ss'),
                    tipoVehiculo:'AUT',
                    modelo: this.$store.state.formCotizacion.modelo,
                    marca: this.$store.state.formCotizacion.marca,
                    submarca:this.$store.state.formCotizacion.descripcion+' '+this.$store.state.formCotizacion.subDescripcion,
                    descripcion:this.$store.state.cotizaciones[this.indice].Vehiculo.Descripcion,
                    edad:this.$store.state.formCotizacion.edad,
                    genero:this.$store.state.formCotizacion.genero.charAt(0),
                    cp: this.$store.state.formCotizacion.codigoPostal,
                    correo: this.$store.state.formCotizacion.correo,
                    tipoTelefono:'MOVIL',
                    lada:'52',
                    telefono: this.$store.state.formCotizacion.telefono,
                    prima:this.$store.state.cotizaciones[this.indice].Cotizacion.PrimaTotal,
                    periodicidad:'Anual',
                    cobertura:'AMPLIA',
                    numCliente:'',
                    paso:'cotizar',
                    url:'https://www.ahorraseguros.mx/seguros-de-autos/comparar-seguros-de-autos/',
                    llamada:'',
                    idCotizacionAs:'',
                    nombre:this.$store.state.formCotizacion.nombre
                  };
                  console.log(jsonPeticionWsLidGnp);
                  //Se valida si se esta trabajando con ambiente de pruebas
                  if (!this.$store.state.ambientePruebas) {
                    newLidGnp.nuevoLidGnp(
                      JSON.stringify(jsonPeticionWsLidGnp)
                    ).then(respLidGnp => {
                    });
                  } else {
                    console.log("Llamada al cliente.... ambiente de pruebas ");
                  }

              break;
            case 'ABA2':
              var json = {
                codigoPostal: this.$store.state.formCotizacion.codigoPostal,
                email: this.$store.state.formCotizacion.correo,
                nombre: this.$store.state.formCotizacion.nombre,
                telefono: this.$store.state.formCotizacion.telefono,
                marca: this.$store.state.cotizaciones[this.indice].Vehiculo.Marca,
                vehiculo: this.$store.state.cotizaciones[this.indice].Vehiculo.Descripcion,
                modelo: this.$store.state.cotizaciones[this.indice].Vehiculo.Modelo,
                fecha: moment().format('YYYY-MM-DD'),
                idCotizacion: this.$store.state.cotizaciones[this.indice].Cotizacion.CotID,
                idCotizacionA: this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a
              };
              //Se valida si se esta trabajando con ambiente de pruebas
              console.log("Executing ws to ABA");
              if (!this.$store.state.ambientePruebas) {
                ws_lead_aba.nuevoLeadAba(
                  JSON.stringify(json)
                ).then(respAba => {

                  console.log("OK lead aba");
                  ws_lead_vendido.nuevoLeadVendido(
                    this.$store.state.cotizaciones[this.indice].configuracionPeticion.id_cotizacion,
                    this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a,
                  ).then(respLidGnp => {
                    console.log("SEND WS LEAD VENDIDO");
                  });


                });
              } else {
                console.log("Llamada al cliente.... ambiente de pruebas(LEADS ABA) ");
              }
              break;


            case 'HDI2':
              //ENTRE SEMANA DE 9:00 A 19:00
              if(new Date().getDay()>=1 && new Date().getDay() < 6 && new Date().getHours() >= 9 && new Date().getHours() <=18) {
                var json = {
                  correoE: this.$store.state.formCotizacion.correo,
                  nombre: this.$store.state.formCotizacion.nombre,
                  telefono: this.$store.state.formCotizacion.telefono,
                  cotizacion: this.$store.state.cotizaciones[this.indice].Cotizacion.IDCotizacion,
                  idCotizacionA: this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a
                };
                //Se valida si se esta trabajando con ambiente de pruebas
                console.log("Executing ws to HDI ENTRE SEMANA");
                if (!this.$store.state.ambientePruebas) {
                  ws_lead_hdi.nuevoLeadHdi(
                    JSON.stringify(json)
                  ).then(respHDI => {
                    console.log("OK lead hdi");
                  });
                } else {
                  console.log("Llamada al cliente.... ambiente de pruebas(LEADS HDI) ");
                }
              }else if(new Date().getDay() == 6 && new Date().getHours() >= 9 && new Date().getHours() <=10){
                //FIN DE SEMANA...

                var json = {
                  correoE: this.$store.state.formCotizacion.correo,
                  nombre: this.$store.state.formCotizacion.nombre,
                  telefono: this.$store.state.formCotizacion.telefono,
                  cotizacion: this.$store.state.cotizaciones[this.indice].Cotizacion.IDCotizacion,
                  idCotizacionA: this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a
                };
                //Se valida si se esta trabajando con ambiente de pruebas
                console.log("Executing ws to HDI FIN DE SEMANA ");
                if (!this.$store.state.ambientePruebas) {
                  ws_lead_hdi.nuevoLeadHdi(
                    JSON.stringify(json)
                  ).then(respHDI => {
                    console.log("OK lead hdi");
                  });
                } else {
                  console.log("Llamada al cliente.... ambiente de pruebas(LEADS HDI) ");
                }

              }else{

                console.log("COTIZACION NORMAL...HDI");
                var jsonContactoInterezadoWs = {
                  id_cotizacion_a: this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a,
                  id_cotizacion: this.$store.state.cotizaciones[this.indice].configuracionPeticion.id_cotizacion,
                  id_pagina: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].id_pagina,
                  id_campana: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].id_campana,
                  grupo_callback: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].callback,
                  telefono_as: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].DID,
                };
                //Se valida si se esta trabajando con ambiente de pruebas
                if (!this.$store.state.ambientePruebas) {
                  newContactoInteresadoService.nuevoContacto(
                    JSON.stringify(jsonContactoInterezadoWs)
                  ).then(respContactoInterezado => {
                  });
                } else {
                  console.log("Llamada al cliente.... ambiente de pruebas ");
                }

              }



              break;
            default: //Caso para todas las aseguradoras donde no se vendan leads
              console.log("COTIZACION NORMAL...");
              var jsonContactoInterezadoWs = {
                id_cotizacion_a: this.$store.state.cotizaciones[this.indice].configuracionPeticion.idCotizacion_a,
                id_cotizacion: this.$store.state.cotizaciones[this.indice].configuracionPeticion.id_cotizacion,
                id_pagina: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].id_pagina,
                id_campana: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].id_campana,
                grupo_callback: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].callback,
                telefono_as: this.$store.state.aseguradoras[this.$store.state.cotizaciones[this.indice].Aseguradora].DID,
              };
              //Se valida si se esta trabajando con ambiente de pruebas
              if (!this.$store.state.ambientePruebas) {
                newContactoInteresadoService.nuevoContacto(
                  JSON.stringify(jsonContactoInterezadoWs)
                ).then(respContactoInterezado => {
                });
              } else {
                console.log("Llamada al cliente.... ambiente de pruebas ");
              }
          }


          /* VISTA DE EMISION  */
          //$nuxt._router.push({path: 'emitir'});
        }
      },


    },
    created() {
      this.cotizacion.Aseguradora==='ABA2'?this.cotizacion.Aseguradora='ABA':(this.cotizacion.Aseguradora==='HDI2'?this.cotizacion.Aseguradora='HDI':this.cotizacion.Aseguradora)
      this.limpiarCoberturas();
    },
    filters: {
      showName: function (value) {
        return value.substring(value.lastIndexOf("-N") + 2, value.lastIndexOf("-S"))
      },
      showSuma: function (value) {
        return value.substring(value.lastIndexOf("-S") + 2, value.lastIndexOf("-D"))
      },
      showDeducible: function (value) {
        return value.substring(value.lastIndexOf("-D") + 2, value.lastIndex)
      }
    }

  };
</script>

<style scoped>
  body{background-color:#f2f2f2!important;}
  .azul{background-color:#e8f0fe!important;}
  .gray{color:#676768 !important;}
  .disabled:hover {
    -moz-background-color: gray !important;
    -ms-background-color: gray !important;
    -o-background-color: gray !important;
    -webkit-background-color: gray !important;
    background-color: gray !important;
  }
  .badgetpromo{padding: .5em !important;}
</style>
