<template lang="pug">
  .row.setup-content-2(id="step-2")
    .col-md-12
      h3.font-weight-bold.pl-0.my-4
        strong Dirección del Cliente
      .form-row(id="direccionCliente")
        .col.pb-2
          input.form-control(name="Pais", id="pais", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Pais", :class="{'input': true, 'is-invalid': errors.has('pais') }", aria-label="Pais", maxlength="50", type="text", placeholder="Pais", readonly)
          small.form-text.text-danger(v-show="errors.has('pais')")
            i.fa.fa-exclamation-triangle {{ errors.first('pais') }}
        .col.pb-2
          input.form-control(name="Ciudad", id="ciudad", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Ciudad", :class="{'input': true, 'is-invalid': errors.has('ciudad') }", aria-label="Ciudad", maxlength="50", type="text", placeholder="Ciudad", readonly)
          small.form-text.text-danger(v-show="errors.has('ciudad')")
            i.fa.fa-exclamation-triangle() {{ errors.first('ciudad') }}
        .w-100
        .col.pb-2
          input.form-control(name="poblacion", id="poblacion", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Poblacion", :class="{'input': true, 'is-invalid': errors.has('poblacion') }", aria-label="Poblacion", maxlength="50", type="text", placeholder="Poblacion", readonly)
          small.form-text.text-danger(v-show="errors.has('poblacion')")
            i.fa.fa-exclamation-triangle {{ errors.first('poblacion') }}
        .col.pb-2
          select.form-control.selectpicker(name="colonia", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Colonia", :class="{'input': true, 'is-invalid': errors.has('colonia') }", aria-label="Colonia", placeholder="Colonia")
            option(value="", selected="true") Colonia
            option(v-for="e in this.$store.state.formCotizacion.colonias", :value="e.asenta" ) {{e.asenta}}
          small.form-text.text-danger(v-show="errors.has('colonia')")
            i.fa.fa-exclamation-triangle {{ errors.first('colonia') }}
        .w-100
        .col.pb-2
          input.form-control(name="calle", id="calle", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Calle", :class="{'input': true, 'is-invalid': errors.has('calle') }", aria-label="Calle", maxlength="150", type="text", placeholder="Calle")
          small.form-text.text-danger(v-show="errors.has('calle')")
            i.fa.fa-exclamation-triangle {{ errors.first('calle') }}
        .col.pb-2
          input.form-control(name="noInt", id="noInt", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.NoInt", :class="{'input': true, 'is-invalid': errors.has('noInt') }", aria-label="Numero interior", maxlength="5", type="text", placeholder="No. interior")
          small.form-text.text-danger(v-show="errors.has('noInt')")
            i.fa.fa-exclamation-triangle {{ errors.first('noInt') }}
        .w-100
        .col.pb-2
          input.form-control(name="noExt", id="noExt", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.NoExt", :class="{'input': true, 'is-invalid': errors.has('noExt') }", aria-label="No. Exterior", maxlength="5", type="text", placeholder="No. Exterior")
          small.form-text.text-danger(v-show="errors.has('noExt')")
            i.fa.fa-exclamation-triangle {{ errors.first('noExt') }}
      button.btn.btn-mdb-color.btn-rounded.prevBtn-2.float-left(type="button") Anterior
      button.btn.btn-mdb-color.btn-rounded.float-right(type="button", @click="nextStep('step-2')") Siguiente
</template>
<script>
  import cpService from '~/plugins/codigoPostal';
  export default{
    data() {
      return {
        pais: '',
        ciudad: '',
        poblacion: '',
        colonia: '',
        calle: '',
        noInt: '',
        noExt: ''
      }
    },
    methods: {
        nextStep: function(id) {
            this.$validator.validateAll().then((result) => {

              if(result){
                $('#step-2').hide();
                $('#step-3').show();
              }

            });
        }
    },
    created() {
      this.$store.state.emision.Cliente.Direccion.Colonia='';
      this.$store.state.emision.Cliente.Direccion.Pais="México";
    }
  }
</script>
