<template lang="pug">
  .row.setup-content-2(id="step-4")
    .col-md-12
      h3.font-weight-bold.pl-0.my-4
        strong Datos del Pago
      .form-row(id="datosPago")
        .col.pb-2
          input.form-control(name="Titular de la Tarjeta", id="titularTarjeta", v-validate="{ required: true }", v-model="$store.state.emision.Pago.NombreTarjeta", :class="{'input': true, 'is-invalid': errors.has('titularTarjeta') }", aria-label="Titular de Tarjeta", maxlength="50", type="text", placeholder="Titular de Tarjeta")
          small.form-text.text-danger(v-show="errors.has('titularTarjeta')")
            i.fa.fa-exclamation-triangle {{ errors.first('titularTarjeta') }}
        .col.pb-2
          select.form-control.selectpicker(name="banco", id="banco", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Banco", :class="{'input': true, 'is-invalid': errors.has('banco') }", aria-label="Banco", placeholder="Banco")
            option(value="", selected="true")
            option(v-for="e in this.$store.state.formCotizacion.bancos.Bancos", :value="e.Nombre" ) {{e.Nombre}}
          small.form-text.text-danger(v-show="errors.has('banco')")
            i.fa.fa-exclamation-triangle {{ errors.first('banco') }}
        .w-100
        .col.pb-2
          input.form-control(name="tipoTarjeta", id="tipoTarjeta", v-validate="{ required: true }", v-model="$store.state.emision.Pago.MedioPago", :class="{'input': true, 'is-invalid': errors.has('tipoTarjeta') }", aria-label="Tipo tarjeta", maxlength="20", type="text", placeholder="Tipo tarjeta")
          small.form-text.text-danger(v-show="errors.has('tipoTarjeta')")
            i.fa.fa-exclamation-triangle {{ errors.first('tipoTarjeta') }}
        .col.pb-2
          input.form-control(name="noTarjeta", id="noTarjeta", v-validate="{ required: true }", v-model="$store.state.emision.Pago.NoTarjeta", :class="{'input|password': true, 'is-invalid': errors.has('noTarjeta') }", aria-label="Numero tarjeta", maxlength="20", type="password", placeholder="Numero de tarjeta")
          small.form-text.text-danger(v-show="errors.has('noTarjeta')")
            i.fa.fa-exclamation-triangle {{ errors.first('noTarjeta') }}
        .w-100
        .col.pb-2
          select.form-control.selectpicker(name="mesTarjeta", id="mesTarjeta", v-validate="'required'", v-model="$store.state.emision.Pago.MesExp", :class="{'input': true, 'is-invalid': errors.has('mesTarjeta') }", aria-label="Mes tarjeta")
            option(value="") Mes
            option(value="01") 01
            option(value="02") 02
            option(value="03") 03
            option(value="04") 04
            option(value="05") 05
            option(value="06") 06
            option(value="07") 07
            option(value="08") 08
            option(value="09") 09
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
          small.form-text.text-danger(v-show="errors.has('mesTarjeta')")
            i.fa.fa-exclamation-triangle {{ errors.first('mesTarjeta') }}
        .col.pb-2
          select.form-control.selectpicker(name="anioTarjeta", id="anioTarjeta", v-validate="'required'", v-model="$store.state.emision.Pago.AnioExp", :class="{'input': true, 'is-invalid': errors.has('anioTarjeta') }", aria-label="Año tarjeta")
            option(value="") año
            option(v-for="e in anios", :value="e" ) {{e}}
          small.form-text.text-danger(v-show="errors.has('anioTarjeta')")
            i.fa.fa-exclamation-triangle {{ errors.first('anioTarjeta') }}
        .col-2.pb-2
          input.form-control(name="ccv", id="ccv", v-validate="{ required: true }", v-model="$store.state.emision.Pago.CodigoSeguridad", :class="{'input|password': true, 'is-invalid': errors.has('ccv') }", aria-label="CCV", maxlength="5", type="password", placeholder="CCV")
          small.form-text.text-danger(v-show="errors.has('ccv')")
            i.fa.fa-exclamation-triangle {{ errors.first('ccv') }}
        .col-2.pb-2
      button.btn.btn-mdb-color.btn-rounded.prevBtn-2.float-left(type="button") Anterior
      button.btn.btn-success.btn-rounded.float-right(type="submit", @click="emitirPoliza()") Enviar
</template>
<script>
  import emitirService from '~/plugins/emision'
export default{
data() {
    return {
      titularTarjeta: '',
      banco: '',
      tipoTarjeta: '',
      noTarjeta: '',
      mesTarjeta: '',
      anioTarjeta: '',
      ccv: '',
      anios: [],
    }
  },
  methods: {
      onSubmit() {
          this.$validator.validateAll();
          if (!this.errors.any()) {
              alert('submit');
          } else {
              alert('no-submit');
          }
      },
      llenarAnios() {
        for (var i = new Date().getFullYear(); i <= new Date().getFullYear()+20; i++) {
          this.anios.push(i);
        }
      },
      nextStep: function(id) {
          this.$validator.validateAll().then((result) => {

          });
      },
    emitirPoliza:function () {
        console.log("Enviare:");
        console.log(JSON.stringify(this.$store.state.emision))

        emitirService.emitir(
          JSON.stringify(this.$store.state.emision)
        )
        .then(resp => {
          //Respuesta emision
          console.log(resp)
        })
    }
  },
  created() {
    this.llenarAnios();
  }
}
</script>
