<template lang="pug">
  .row.setup-content-2.first(id="step-1")
    <!-- pre {{this.$store.state.emision.Edad}} -->
    pre {{this.$store.state.emision.Edad}}
    .col-md-12
      h3.font-weight-bold.pl-0.my-4
        strong Datos del Conductor
      .form-row(id="datosConductor")
        .col.pb-2
          select.form-control.selectpicker(name="tipoPersona",id="tipoPersona",v-validate="'required'",v-bind="$store.state.emision.Cliente.TipoPersona",:class="{'input': true, 'is-invalid': errors.has('tipoPersona') }",aria-label="Tipo de persona")
            option(value="", selected) Tipo de persona
            option(value="F") Fisica
            option(value="M") Moral
          small.form-text.text-danger(v-show="errors.has('tipoPersona')")
            i.fa.fa-exclamation-triangle {{ errors.first('tipoPersona') }}
        .col.pb-2
          input.form-control(name="nombre", id="nombre", v-validate="{ required: true, alpha_spaces:true }", v-model="nombre",aria-label="Nombre del cliente",:class="{'input': true, 'is-invalid': errors.has('nombre') }",maxlength="25",type="text",placeholder="Nombre(s)")
          small.form-text.text-danger(v-show="errors.has('nombre')")
            i.fa.fa-exclamation-triangle {{ errors.first('nombre') }}
        .w-100
        .col.pb-2
          input.form-control(name="apellidoPaterno", id="apellidoPaterno", v-validate="{ required: true, alpha_spaces:true }", v-model="apellidoPaterno", aria-label="Apellido paterno", :class="{'input': true, 'is-invalid': errors.has('apellidoPaterno') }", maxlength="25", type="text", placeholder="Apellido paterno")
          small.form-text.text-danger(v-show="errors.has('apellidoPaterno')")
            i.fa.fa-exclamation-triangle {{ errors.first('apellidoPaterno') }}
        .col.pb-2
          input.form-control(name="apellidoMaterno", id="apellidoMaterno", v-validate="{ required: true, alpha_spaces:true }", v-model="apellidoMaterno", aria-label="Apellido materno", :class="{'input': true, 'is-invalid': errors.has('apellidoMaterno') }", maxlength="25", type="text", placeholder="Apellido materno")
          small.form-text.text-danger(v-show="errors.has('apellidoMaterno')")
            i.fa.fa-exclamation-triangle {{ errors.first('apellidoMaterno') }}
        .w-100
        .col.pb-2
          select.form-control.selectpicker(name="genero",id="genero",v-validate="'required'",v-model="$store.state.emision.Cliente.Genero",:class="{'input': true, 'is-invalid': errors.has('genero') }",aria-label="Tipo de persona")
            option(value="") Genero
            option(value="MASCULINO") Masculino
            option(value="FEMENINO") Femenino
          small.form-text.text-danger(v-show="errors.has('genero')")
            i.fa.fa-exclamation-triangle {{ errors.first('genero') }}
        .col.pb-2
          .row
            .col-sm-4
              select.form-control.selectpicker(name="dia", v-validate="'required'", v-model="diaNacimiento", :class="{'input': true, 'is-invalid': errors.has('dia') }", aria-label="Dia", placeholder="Dia")
                option(value="") Dia
                option(v-for="e in dias", :value="e" ) {{e}}
              small.form-text.text-danger(v-show="errors.has('dia')")
                i.fa.fa-exclamation-triangle {{ errors.first('dia') }}
            .col-sm-4
              select.form-control.selectpicker(name="mes", v-validate="'required'", v-model="mesNacimiento", :class="{'input': true, 'is-invalid': errors.has('mes') }", aria-label="Mes", placeholder="Mes")
                option(value="") Mes
                option(v-for="e in meses", :value="e" ) {{e}}
              small.form-text.text-danger(v-show="errors.has('mes')")
                i.fa.fa-exclamation-triangle {{ errors.first('mes') }}
            .col-sm-4
              input.form-control(v-validate="{ required: true }", data-toggle="popover", name="anio", data-trigger="hover", id="disabledTextInput", v-model="anioNacimiento", :class="{'input': true, 'is-invalid': errors.has('fechaNacimiento') }", aria-label="Año de nacimiento", type="text", placeholder="Año", readonly)
              small.form-text.text-danger(v-show="errors.has('anio')")
                i.fa.fa-exclamation-triangle {{ errors.first('anio') }}
        .w-100
        .col.pb-2
          input.form-control(name="rfc", id="rfc", v-validate="{ required: true, max:10, min:10 }", v-model="$store.state.emision.Cliente.RFC", :class="{'input': true, 'is-invalid': errors.has('rfc') }", maxlength="13", aria-label="RFC", type="text", placeholder="RFC")
          small.form-text.text-danger(v-show="errors.has('rfc')")
            i.fa.fa-exclamation-triangle {{ errors.first('rfc') }}
        .col.pb-2
          input.form-control(name="correo", id="correo", v-validate="'required|email'", v-model="$store.state.emision.Cliente.Email", aria-label="Correo electrónico", :class="{'input': true, 'is-invalid': errors.has('correo') }", maxlength="100", type="email", placeholder="Correo electrónico")
          small.form-text.text-danger(v-show="errors.has('correo')")
            i.fa.fa-exclamation-triangle {{ errors.first('correo') }}
        .w-100
        .col.pb-2
          input.form-control(name="telefono1", id="telefono1", v-validate="{ required: true, numeric:true, max:10, min:10}", , v-model="$store.state.emision.Cliente.Telefono", aria-label="Teléfono", :class="{'input': true, 'is-invalid': errors.has('telefono1') }", maxlength="10", type="text", placeholder="Teléfono 1")
          small.form-text.text-danger(v-show="errors.has('telefono1')")
            i.fa.fa-exclamation-triangle {{ errors.first('telefono1') }}
        .col.pb-2
          input.form-control(name="telefono2", id="telefono2", v-validate="{ required: true, numeric:true, max:10, min:10}", v-model="$store.state.emision.Cliente.Telefono2", aria-label="Teléfono", :class="{'input': true, 'is-invalid': errors.has('telefono2') }", maxlength="10", type="text", placeholder="Teléfono 2")
          small.form-text.text-danger(v-show="errors.has('telefono2')")
            i.fa.fa-exclamation-triangle {{ errors.first('telefono2') }}
      button.btn.btn-mdb-color.btn-rounded.float-right(type="button", @click="nextStep('step-1')") Siguiente

</template>
<script>
export default{
  data() {
    return {
      tipoPersona: '',
      nombre: this.$store.state.emision.Cliente.Nombre,
      apellidoPaterno: this.$store.state.emision.Cliente.ApellidoPat,
      apellidoMaterno: this.$store.state.emision.Cliente.ApellidoMat,
      genero: '',
      fechaNacimiento: '',
      diaNacimiento: '',
      mesNacimiento: '',
      anioNacimiento: '',
      rfc: '',
      correo: '',
      telefono1: '',
      telefono2: '',
      meses:[],
      dias:[],
    }
  },
  methods: {
      nextStep: function(id) {
          this.$validator.validateAll().then((result) => {
            if(result){
                $('#step-1').hide();
                $('#step-2').show();
            }
          });
      },
      llenarMeses() {
        for (var i = 1; i <= 12; i++) {
          if(i < 10){
            this.meses.push("0"+i);
          }else{
            this.meses.push(i);
          }
        }
      },
      llenarDias() {
          var numeroMesActual=new Date().getMonth()+1;
          var anioActual=new Date().getFullYear();
          var dias=0;

          if( (numeroMesActual == 1) || (numeroMesActual == 3) || (numeroMesActual == 5) || (numeroMesActual == 7) || (numeroMesActual == 8) || (numeroMesActual == 10) || (numeroMesActual == 12) )
            dias = 31;
          else if( (numeroMesActual == 4) || (numeroMesActual == 6) || (numeroMesActual == 9) || (numeroMesActual == 11) )
            dias = 30;
          else if( numeroMesActual == 2 )

          if( (anioActual % 4 == 0) && (anioActual % 100 != 0) || (anioActual % 400 == 0) )
            dias = 29;
          else
            dias = 28;

          for (var i = 1; i <= dias; i++) {
            if(i<10){
              this.dias.push("0"+i);
            }else{
              this.dias.push(i);
            }

          }
      },
      quitaArticulos(palabra) {
        return palabra.replace("DEL ", "").replace("LAS ", "").replace("DE ",
          "").replace("LA ", "").replace("Y ", "").replace("A ", "");
      },
     esVocal(letra) {
        if (letra == 'A' || letra == 'E' || letra == 'I' || letra == 'O'
          || letra == 'U' || letra == 'a' || letra == 'e' || letra == 'i'
          || letra == 'o' || letra == 'u')
          return true;
        else
          return false;
     },
    calculaRFC() {

      var nombre = this.$store.state.emision.Cliente.Nombre.toUpperCase();
      var apellidoPaterno = this.$store.state.emision.Cliente.ApellidoPat.toUpperCase();
      var apellidoMaterno = this.$store.state.emision.Cliente.ApellidoMat.toUpperCase();

      var rfc = "";

      apellidoPaterno = this.quitaArticulos(apellidoPaterno);
      apellidoMaterno = this.quitaArticulos(apellidoMaterno);

      rfc += apellidoPaterno.substr(0, 1);
      var l = apellidoPaterno.length;
      var c;
      for (var i = 0; i < l; i++) {
        c = apellidoPaterno.charAt(i);
        if (this.esVocal(c)) {
          rfc += c;
          break;
        }
      }
      var fecha = this.$store.state.formCotizacion.fechaNacimiento;
      rfc += apellidoMaterno.substr(0, 1);
      rfc += nombre.substr(0, 1);
      rfc += fecha.substr(8, 10);
      rfc += fecha.substr(3, 5).substr(0, 2);
      rfc += fecha.substr(0, 2);
      this.$store.state.emision.Cliente.RFC=rfc;
      this.$store.state.formCotizacion.rfc=rfc;
    }





  },
  watch: {
     nombre: function (val){
        this.$store.state.emision.Cliente.Nombre=this.nombre;
        this.calculaRFC();
    },
    apellidoPaterno: function (val){
      this.$store.state.emision.Cliente.ApellidoPat=this.apellidoPaterno;
      this.calculaRFC();
    },
    apellidoMaterno: function (val){
      this.$store.state.emision.Cliente.ApellidoMat=this.apellidoMaterno;
      this.calculaRFC();
    },
    diaNacimiento: function (val){
        var fechaNacimiento='';

        if(this.diaNacimiento<10){
          fechaNacimiento = "0"+this.diaNacimiento+'/'+this.mesNacimiento+'/'+this.anioNacimiento;
        }
        if(this.mesNacimiento<10){
          fechaNacimiento = this.diaNacimiento+'/'+this.mesNacimiento+'/'+this.anioNacimiento;
        }
        if(this.mesNacimiento<10 && this.diaNacimiento<10){
          fechaNacimiento = "0"+this.diaNacimiento+'/'+this.mesNacimiento+'/'+this.anioNacimiento;
        }
        this.$store.state.emision.Cliente.FechaNacimiento=fechaNacimiento;
        this.$store.state.formCotizacion.fechaNacimiento= fechaNacimiento;
        this.calculaRFC();
    },
    mesNacimiento: function (val){
      var fechaNacimiento='';

      if(this.diaNacimiento<10){
        fechaNacimiento = this.diaNacimiento+'/'+this.mesNacimiento+'/'+this.anioNacimiento;
      }
      if(this.mesNacimiento<10){
        fechaNacimiento = this.diaNacimiento+'/'+this.mesNacimiento+'/'+this.anioNacimiento;
      }
      if(this.mesNacimiento<10 && this.diaNacimiento<10){
        fechaNacimiento = this.diaNacimiento+'/'+this.mesNacimiento+'/'+this.anioNacimiento;
      }
      this.$store.state.emision.Cliente.FechaNacimiento=fechaNacimiento;
      this.$store.state.formCotizacion.fechaNacimiento= fechaNacimiento;
      this.calculaRFC();
    }
  },
  created() {
    this.llenarMeses();
    this.llenarDias();
    this.$store.state.emision.Cliente.Edad=this.$store.state.formCotizacion.edad;
    this.anioNacimiento=new Date().getFullYear()-this.$store.state.formCotizacion.edad;
  },
  }
</script>
