<template lang="pug">
  .row.setup-content-2(id="step-3")
    .col-md-12
      h3.font-weight-bold.pl-0.my-4
        strong Datos del Vehiculo
      .form-row(id="datosVehiculo")
        .col.pb-2
          input.form-control(name="marca", id="marca", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Marca", :class="{'input': true, 'is-invalid': errors.has('marca') }", aria-label="Marca", maxlength="50", type="text", placeholder="Marca", disabled)
          small.form-text.text-danger(v-show="errors.has('marca')")
            i.fa.fa-exclamation-triangle {{ errors.first('marca') }}
        .col.pb-2
          input.form-control(name="modelo", id="modelo", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Modelo", :class="{'input': true, 'is-invalid': errors.has('modelo') }", aria-label="Modelo", maxlength="50", type="text", placeholder="Modelo", disabled)
          small.form-text.text-danger(v-show="errors.has('modelo')")
            i.fa.fa-exclamation-triangle {{ errors.first('modelo') }}
        .w-100
        .col.pb-2
          input.form-control(name="descripcion", id="descripcion",  v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Descripcion", :class="{'input': true, 'is-invalid': errors.has('descripcion') }", aria-label="Descripción", maxlength="50", type="text", placeholder="Descripción", disabled)
          small.form-text.text-danger(v-show="errors.has('descripcion')")
            i.fa.fa-exclamation-triangle {{ errors.first('descripcion') }}
        .col.pb-2
          input.form-control(name="noSerie", id="noSerie", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.NoSerie", :class="{'input': true, 'is-invalid': errors.has('noSerie') }", aria-label="No. Serie", maxlength="20", type="text", placeholder="No. Serie")
          small.form-text.text-danger(v-show="errors.has('noSerie')")
            i.fa.fa-exclamation-triangle {{ errors.first('noSerie') }}
        .w-100
        .col.pb-2
          input.form-control(name="noMotor", id="noMotor", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.NoMotor", :class="{'input': true, 'is-invalid': errors.has('noMotor') }", aria-label="No. motor", maxlength="20", type="text", placeholder="No. motor")
          small.form-text.text-danger(v-show="errors.has('noMotor')")
            i.fa.fa-exclamation-triangle {{ errors.first('noMotor') }}
        .col.pb-2
          input.form-control(name="placas", id="placas", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.NoPlacas", :class="{'input': true, 'is-invalid': errors.has('placas') }", aria-label="Placas", maxlength="10", type="text", placeholder="Placas")
          small.form-text.text-danger(v-show="errors.has('placas')")
            i.fa.fa-exclamation-triangle {{ errors.first('placas') }}
      button.btn.btn-mdb-color.btn-rounded.prevBtn-2.float-left(type="button") Anterior
      button.btn.btn-mdb-color.btn-rounded.float-right(type="button", @click="nextStep('step-1')") Siguiente
</template>
<script>
export default{
data() {
  return {
      uso: '',
      marca: '',
      modelo: '',
      submarca: '',
      descripcion: '',
      noSerie: '',
      noMotor: '',
      placas: ''
   }
},
methods: {
    nextStep: function(id) {
        this.$validator.validateAll().then((result) => {
          if(result){
            $('#step-3').hide();
            $('#step-4').show();
          }
        });
    }
}
}
</script>
