<template lang="pug">
  div
    <alertaindex-component></alertaindex-component>

    .section.backgroundbody
      div.container-fluid.mb-0
          .container
            .row
              .col-12
                .nav.navbar-nav
                ul.nav.navbar.navbar-light.p-0
                  li.nav-item
                    a.nav-link.active.ml-33(href='/')
                      .sprite-logo
                      //- img.sizelogoAhorra(src='img/funnel-imagenes/logos_aseguradora_ajuste1.png' alt='Logotipo Ahorra Seguros Autos' title='Logotipo Ahorra Seguros Autos' class="img-fluid")
                  li.nav-item.d-none.d-sm-none.d-md-block
                    a.nav-link(href='#')
                  li.nav-item.d-none.d-sm-none.d-md-block
                    a.nav-link(href='#')
                  li.nav-item
                    <a :href="'tel:'+$store.state.config.telefonoPrincipal" class="txtw fone">
                    <img src="img/funnel-imagenes/phone.svg" class="p-tam"/> (55){{$store.state.config.telefonoPrincipal}}</a>


    section.bg-white.prueba
      div.container
        div.row
            .col-12.col-sm-12.col-md-12.col-lg-10.offset-lg-2.mt-3.mb-2
              h1.font-weight-bold.colorAhorra.text_index.mb-0.text-center Cotizar Seguro de Auto en 30 segundos
              p.h6.size13.text-center.d-none.d-sm-none.d-md-block
                | Ingresa los datos de tu auto y encuentra el mejor precio comparando todas las aseguradoras en México

            .col-12.col-sm-12.col-md-4.col-lg-3.mt-5.d-md-block.d-sm-none.d-none
              .card.card_ben
                .row
                  .container
                    .col-12.col-sm-6.col-md-12.col-lg-12
                      i.fa.fa-star.fa-lg.cYellow
                      i.fa.fa-star.fa-lg.cYellow
                      i.fa.fa-star.fa-lg.cYellow
                      i.fa.fa-star.fa-lg.cYellow
                      i.fa.fa-star-half-o.fa-lg.cYellow &nbsp;
                      span.text-card.colorAhorra
                        strong 4.5
                    .col-12.col-sm-6.col-md-12.col-lg-12
                      i.fa.fa-check-circle.fa-lg.Cblue &nbsp;
                      span.text-card.colorAhorra Ahorra Tiempo
                    .col-12.col-sm-6.col-md-12.col-lg-12
                      i.fa.fa-check-circle.fa-lg.Cblue &nbsp;
                      span.text-card.colorAhorra 19 Aseguradoras
                    .col-12.col-sm-6.col-md-12.col-lg-12
                       i.fa.fa-check-circle.fa-lg.Cblue &nbsp;
                       span.text-card.colorAhorra Paga a 12 Meses
                    .col-12.text-center.mt-2
                      .sprite-card




            .col-12.col-sm-12.col-md-8.col-lg-9.mt-30
              form.mt-5(data-vv-scope="form-1", method="POST" action="" ,@submit.prevent="validateForm('form-1')")
                .row
                  .col
                    input(name="marca",v-validate="{required:true}",type="hidden",v-model="$store.state.formCotizacion.marca")
                    input(name="modelo",v-validate="{required:true}",type="hidden",v-model="$store.state.formCotizacion.modelo")
                    input(name="descripcion",v-validate="{required:true}",type="hidden",v-model="$store.state.formCotizacion.descripcion")
                    input(name="subdescripcion",v-validate="{required:true}",type="hidden",v-model="$store.state.formCotizacion.subDescripcion")
                    multiselect.form-control.form-control-lg.chevron.selct_p(
                    ref="multiselect",
                    allowEmpty=false,
                    v-model="value",
                    deselectGroupLabel="",
                    :searchable="false",
                    selectGroupLabel="",
                    tagPlaceholder="",
                    deselectLabel="",
                    selectLabel="",
                    :options="options",
                    :multiple="true",
                    :close-on-select="ready",
                    :clear-on-select="true",
                    :hide-selected="true",
                    :preserve-search="false",
                    :placeholder="placeholderSelect",
                    :loading="isLoading",
                    label="text",
                    track-by="id",
                    open-direction="bottom",
                    :taggable="true",
                    @select="dispatchAction",
                    @close="isOpen = false"
                    @open="isOpen = true"
                    )
                      template(slot="tag", slot-scope="props")
                        span.tag {{ props.option.text }}
                          a.custom__remove(@click="props.remove(props.option); refreshSomething(props.option)")   &nbsp ❌
                            span &nbsp
                    small.form-text.text-danger(v-show="errors.has('form-1.auto')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.auto') }}
                    small.form-text.text-danger(v-show="errors.has('form-1.marca')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.marca') }}
                    small.form-text.text-danger(v-show="errors.has('form-1.modelo')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.modelo') }}
                    small.form-text.text-danger(v-show="errors.has('form-1.descripcion')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.descripcion') }}
                    small.form-text.text-danger(v-show="errors.has('form-1.subdescripcion')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.subdescripcion') }}


                .row.py-2.form-row
                  .col-12.col-sm-12.col-md-4.m_pt
                    select.form-control.form-control-lg.chevron.fs14(id="edad", name="edad",v-validate="'required'",v-model="$store.state.formCotizacion.edad",@change="calculaFechaNacimiento")
                      option(value="") Selecciona tu edad
                      option(v-for="e in edades" ) {{e}}
                    small.form-text.text-danger(v-show="errors.has('form-1.edad')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.edad') }}
                  .col-12.col-sm-12.col-md-4.m_pt
                    select.form-control.form-control-lg.chevron.fs14(id="genero", name="genero",v-validate data-vv-rules="required",v-model="$store.state.formCotizacion.genero", @change="myFocus('cp')")
                      option(value="") Selecciona tu género
                      option(value="MASCULINO") Masculino
                      option(value="FEMENINO") Femenino
                    small.form-text.text-danger(v-show="errors.has('form-1.genero')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.genero') }}
                  .col-12.col-sm-12.col-md-4.m_pt
                    input.form-control.form-control-lg.form-style(id="cp", name="cp", v-validate="'required|numeric'",v-model="$store.state.formCotizacion.codigoPostal", placeholder="Ingresa tu código postal", type="number", @change="myFocus('nombre')")
                    small.form-text.text-danger(v-show="errors.has('form-1.cp')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.cp') }}

                  .col-12.col-sm-12.col-md-4.col-lg-4.m_pt
                    input.form-control.form-control-lg.form-style(id="nombre", name="nombre",v-validate="{required:true,alpha_spaces:true}",v-model="$store.state.formCotizacion.nombre", placeholder="Escribe tu nombre" type="text", @change="myFocus('email')")
                    small.form-text.text-danger(v-show="errors.has('form-1.nombre')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.nombre') }}
                  .col-12.col-sm-12.col-md-4.col-lg-4.m_pt
                    input.form-control.form-control-lg.form-style(id="email", name="email",v-validate="'required|email'",v-model="$store.state.formCotizacion.correo", placeholder="Escribe tu email", type="telefono", @change="myFocus('telefono')")
                    //vue-autosuggest(name="email", id="email", :suggestions="filteredOptions", v-validate="'required|email'", v-model="$store.state.formCotizacion.correo", @change="myFocus('telefono')", type="email", @focus="focusMe", @click="clickHandler", :on-selected="onSelected", :render-suggestion="renderSuggestion", :get-suggestion-value="getSuggestionValue", :input-props="{name:'email', id:'email', class:'form-control form-control-lg form-style', onInputChange: this.onInputChange, placeholder:'Escribe tu Correo Electrónico'}")
                    small.form-text.text-danger(v-show="errors.has('form-1.email')")

                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.email') }}

                  .col-12.col-sm-12.col-md-4.col-lg-4.m_pt
                    input.form-control.form-control-lg.form-style(id="telefono", name="telefono",v-validate="{required: true, numeric:true, max:10, min:10}",v-model="telefono", placeholder="Escribe tu teléfono" type="number")
                    small.form-text.text-danger(v-show="errors.has('form-1.telefono')")
                      i.fa.fa-exclamation-triangle  {{ errors.first('form-1.telefono') }}
                  .col-12.text-center
                    //a(target="_blanck", href="https://wa.me/5215571997592?text=Desea informacion?")
                      i.fa.fa-whatsapp
                    .checkbox.checkbox-primary.custom-checkbox
                      input#checkbox2(type='checkbox' checked='')
                      label.size13(for='checkbox2')
                        | Acepto que he leído el &nbsp;
                        a.aviso(href='/' data-toggle='modal' data-target='#myModal')
                          strong aviso de privacidad.

                        #myModal.modal.container
                          .modal-dialog
                          .modal-content
                            // Modal Header
                            .modal-header
                              h4.modal-title Aviso de privacidad
                              button.close(type='button' data-dismiss='modal') &times;

                            .modal-body
                              article
                                h3.text-left Identidad y domicilio del Responsable
                                p.text-justify
                                  | En virtud de lo dispuesto por la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares (en adelante, la &ldquo;LFPD&rdquo;) y resto de disposiciones aplicables, TRIGARANTE, AGENTE DE SEGUROS Y DE FIANZAS, S.A. DE C.V. (en adelante e indistintamente, &ldquo;Ahorra Seguros&rdquo;), con domicilio para o&iacute;r y recibir notificaciones en Francisco Tamagno 223, Vallejo, 07870 Ciudad de M&eacute;xico; le informa de forma expresa:
                                h4.text-left 1. FINALIDADES DEL TRATAMIENTO DE DATOS PERSONALES &nbsp;
                                p.text-justify
                                  | Los datos personales que recabamos de usted, ser&aacute;n utilizados conforme a lo que establece la Ley, tales datos podr&aacute;n ser obtenidos de manera directa, indirecta o de otras fuentes, mismos datos nos son necesarios para proporcionarle los servicios que se deriven o sean accesorios de la misma, y con ello dar cumplimiento a las siguientes finalidades:
                                ul.text-left
                                  li -Contacto
                                  li -Con fines de identificaci&oacute;n y de verificaci&oacute;n
                                  li
                                    | -Promoci&oacute;n de productos financieros, esta informaci&oacute;n puede ser transferida a instituciones de cr&eacute;dito o instituciones financieras:
                                  li -Cobranza en cualquiera de sus fases
                                  li -Ofrecer y prestar servicios de telemercadeo y servicios relacionados,
                                  li -Encuestas,
                                  li -Promocionar y comercializar todo tipo de bienes y servicios
                                  li
                                    | -Podr&aacute; tratar su informaci&oacute;n para fines publicitarios, promocionales y de investigaciones de mercado,
                                  li
                                    | -Documentar la relaci&oacute;n con los Clientes a trav&eacute;s de la celebraci&oacute;n de contratos y/o convenios correspondientes;
                                  li -Inclusi&oacute;n en el cat&aacute;logo de clientes
                                  li -Intermediaci&oacute;n de seguros y de fianzas.
                                  li
                                    | -Cumplimiento de las obligaciones contenidas en nuestro contrato, convenio o de cualquier relaci&oacute;n jur&iacute;dica que establezcamos conforme a la Legislaci&oacute;n aplicable vigente.
                                  li
                                    | -Realizar las gestiones propias y necesarias para el cumplimiento de los servicios.
                                  li
                                    | -Para intermediar en la evaluaci&oacute;n de su solicitud de seguro, cotizar seguros y fianzas, brindarle la asesor&iacute;a necesaria para la contrataci&oacute;n de su seguro, en la renovaci&oacute;n del mismo y en caso de siniestro;
                                  li -Atender cualquier queja, pregunta o comentario.
                                  li -Enviar notificaciones de cambios a este aviso de privacidad.
                                  li -Ubicaci&oacute;n de clientes
                                  li -Cobranza en cualquiera de sus fases
                                  li -Ofrecer y prestar servicios de telemercadeo y servicios relacionados
                                  li -Promocionar y comercializar servicios financieros
                                  li -Fines de promoci&oacute;n, promocionales y actualizaci&oacute;n de producto o servicio
                                  p.text-justify Finalidades Secundarias
                                  p.text-justify No utilizaremos sus datos para finalidades secundarias.
                                h4.text-left 2. TIPOS DE DATOS
                                p.text-justify
                                  | Para llevara a cabo las finalidades primarias descritas en el presente aviso de privacidad, requerimos de los siguientes datos personales:
                                ul.text-justify
                                  li -Identificaci&oacute;n y de contacto.
                                p.text-justify
                                  | Adem&aacute;s podremos utilizar &uacute;nica y exclusivamente para las finalidades primarias descritas en el presente aviso los siguientes datos personales, mismos que son considerados como sensibles, por lo que requieren de cuidado y protecci&oacute;n especial, los cuales consisten en:
                                ul.text-justify
                                  li -Datos de salud.
                                  li -Datos de caracter&iacute;sticas f&iacute;sicas.
                                  li -Datos patrimoniales y/o financieros.
                                p.text-justify
                                  | La informaci&oacute;n que proporcione el Titular no podr&aacute; ser enajenada por terceras personas. Sin embargo, y con apego a la Ley podr&aacute; ser revelada en los siguientes casos:
                                ul.text-justify
                                  li
                                    | A) Cuando el titular de dicha informaci&oacute;n otorgue su consentimiento de manera expresa.
                                  li
                                    | B) Cuando la transferencia de informaci&oacute;n se efectu&eacute; con terceros para dar cumplimiento a los servicios, gestiones u obligaciones pactadas con el Titular.
                                  li
                                    | C) En los casos que lo exija la Ley, la procuraci&oacute;n o administraci&oacute;n de justicia.
                                p.text-justify
                                  | Asimismo los datos personales pueden ser compartidos dentro del pa&iacute;s con prestadores a organizaciones del sector asegurador, con motivo de las finalidades primarias para fines de contrataci&oacute;n de sus p&oacute;lizas, selecci&oacute;n de riesgos, prevenci&oacute;n de fraude, ajustadores de seguro, servicios hospitalarios y legales para atenderle durante alg&uacute;n siniestro.
                                h4.text-left 4. OPCIONES Y MEDIOS PARA LIMITAR EL USO O DIVULGACI&Oacute;N DE SUS DATOS
                                p.text-justify
                                  | En un plazo de cinco d&iacute;as el titular podr&aacute; oponerse al tratamiento y transferencia de sus datos cuando este aviso de privacidad no se le da a conocer de manera directa o personal. Para limitar el uso y divulgaci&oacute;n de su informaci&oacute;n personal, as&iacute; como para manifestar su oposici&oacute;n para recibir mensajes promocionales de nuestra parte, agradeceremos env&iacute;e su solicitud a trav&eacute;s de la siguiente direcci&oacute;n: info@trigarante.com
                                h4.text-left 5.DERECHOS ARCO
                                ul.text-justify
                                  li -Acceso: Conocer qu&eacute; datos personales obtenemos y para qu&eacute; los utilizamos.
                                  li -Rectificaci&oacute;n: Solicitar correcci&oacute;n de informaci&oacute;n o por estar desactualizada.
                                  li
                                    | -Cancelaci&oacute;n: Consiste en la eliminaci&oacute;n de datos de nuestra base de datos, por uso inadecuado.
                                  li -Oposici&oacute;n: Oponerse al uso de sus datos para fines espec&iacute;ficos.
                                  li -Estos derechos se conocen como derechos ARCO.
                                h4.text-left 6. MECANISMOS PARA EL EJERCICIO DE DERECHOS ARCO Y REVOCACI&Oacute;N DE CONSENTIMIENTO
                                p.text-justify
                                  | Para proceder al ejercicio de sus derechos ARCO o para la revocaci&oacute;n del consentimiento o para limitar la transferencia de sus datos, es necesario dirija su solicitud a nuestro Departamento de Protecci&oacute;n de Datos Personales, ubicado en el domicilio antes indicado, o bien, enviando un correo electr&oacute;nico a: info@trigarante.com de conformidad con lo siguiente:
                                p.text-justify
                                  | Ingresar solicitud por escrito o enviar como se ha dicho la solicitud por correo electr&oacute;nico. La solicitud deber&aacute; contener y acompa&ntilde;arse de lo siguiente:
                                ul.text-justify
                                  li
                                    | A) Nombre completo del titular de los datos y su domicilio, correo electr&oacute;nico u otro medio para comunicarle la respuesta a su solicitud.
                                  li
                                    | B) Documentos que acrediten su identidad, Identificaci&oacute;n oficial o documento con el que se acredite la representaci&oacute;n de tu representante legal.
                                  li
                                    | C) Descripci&oacute;n clara y precisa de la informaci&oacute;n respecto de la cual se solicite el acceso, rectificaci&oacute;n, oposici&oacute;n o cancelaci&oacute;n, seg&uacute;n sea el caso. En caso de solicitudes de rectificaci&oacute;n, acompa&ntilde;ar la documentaci&oacute;n que sustente su petici&oacute;n y las modificaciones a realizarse.
                                  li
                                    | D) Cualquier otro elemento o documento que facilite la localizaci&oacute;n de sus datos personales.
                                  li
                                    | -Se dar&aacute; respuesta a su solicitud en un plazo m&aacute;ximo de 20 d&iacute;as h&aacute;biles contados desde la fecha en que la recibimos y de resultar procedente conforme a la Ley aplicable, se har&aacute; efectiva dentro de los 15 d&iacute;as h&aacute;biles siguientes a la fecha en que se te comunique la respuesta.
                                  li
                                    | -Trat&aacute;ndose de solicitudes de acceso a datos personales proceder&aacute; la entrega mediante cualquier medio f&iacute;sico o electr&oacute;nico, previa acreditaci&oacute;n de la identidad del solicitante o representante legal, seg&uacute;n corresponda, con los documentos originales para su cotejo.
                                  li
                                    | -Los plazos antes referidos podr&aacute;n ser ampliados una sola vez, por un periodo igual, siempre y cuando as&iacute; lo justifiquen las circunstancias del caso.
                                  li
                                    | -La obligaci&oacute;n de acceso a su informaci&oacute;n se dar&aacute; por cumplida cuando se ponga a su disposici&oacute;n los datos personales o bien mediante la entrega de copias, documentos electr&oacute;nicos u otro soporte, la entrega de los datos ser&aacute; gratuita, debiendo el titular cubrir &uacute;nicamente los gastos justificados de env&iacute;o o el costo de reproducci&oacute;n de copias u otros formatos.
                                  li
                                    | -En los casos de rectificaci&oacute;n o cancelaci&oacute;n o se trate de solicitudes de oposici&oacute;n al tratamiento, te informaremos la resoluci&oacute;n correspondiente debidamente fundada de conformidad con lo establecido por la Ley Federal de Protecci&oacute;n de Datos en Posesi&oacute;n de los Particulares. Sin embargo, es importante que tengas en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligaci&oacute;n legal necesitemos seguir tratando sus datos personales.
                                p.text-justify
                                  | Si desea usar el formulario de solicitud que ponemos a su disposici&oacute;n para facilitar el ejercicio de derechos ARCO, puede solicitarlo a trav&eacute;s de la siguiente direcci&oacute;n electr&oacute;nica: info@trigarante.com
                                h4.text-left 7. MODIFICACIONES
                                p.text-justify
                                  | El presente aviso de privacidad puede ser susceptible de modificaciones, cambios o actualizaciones derivadas de la legislaci&oacute;n aplicable. Los cambios o actualizaciones a este Aviso de privacidad podr&aacute;n ser consultados, en nuestro sitio de internet https://ahorraseguros.mx/ en el v&iacute;nculo de &ldquo;aviso de privacidad&rdquo;.
                                h4.text-left 8. COOKIES
                                p.text-justify
                                  | La cookie es una breve informaci&oacute;n que el portal de Internet utiliza y env&iacute;a a tu PC, la cual queda almacenada en el disco duro, para que la pr&oacute;xima vez que ingreses a nuestro portal, podamos usar la informaci&oacute;n almacenada en la cookie para facilitarte el uso a nuestro sitio de internet. Cabe mencionar que las mismas pueden ser eliminadas en el momento que lo desee siguiendo las instrucciones que se proporcionan a trav&eacute;s de su navegador de internet.
                                h4.text-left 9. CONSENTIMIENTO PARA EL TRATAMIENTO DE SUS DATOS PERSONALES
                                p.text-justify
                                  | En caso de que el titular no manifieste la oposici&oacute;n al tratamiento de sus datos personales, se entender&aacute; que el mismo consiente t&aacute;citamente el tratamiento de su informaci&oacute;n personal en los t&eacute;rminos indicados en el Aviso de Privacidad.
                                h4.text-left 10. AHORRA SEGUROS LE RECUERDA:
                                p.text-justify
                                  | Los dep&oacute;sitos bancarios se realizan exclusivamente en cuentas a nombre de las compa&ntilde;&iacute;as de seguros y nunca a nombre de particulares.
                                p.text-justify
                                  | Para mayor informaci&oacute;n puedes acudir a nuestro domicilio, comunicarse al 52810870 extensi&oacute;n 805; enviarnos correo electr&oacute;nico a: correo electr&oacute;nico a:info@trigarante.com, o consultar nuestra p&aacute;gina web, haciendo click en el info@trigarante.com, o consultar nuestra p&aacute;gina web, haciendo click en el v&iacute;nculo de &ldquo;aviso de privacidad&rdquo;

                            .modal-footer
                              button.btn.btn-sm(type='button' data-dismiss='modal') Cerrar
                .row.py-2.mb_d
                  .col
                    button.btn.btn-success.btn-lg.btn-block(type="submit") Ver precios de mi seguro &nbsp;
                      i.fa.fa-chevron-right


    section.spacesection
      .container
        .row
          .col-12.py-4.d-lg-none.d-md-none.d-sm-block
            .card.card_ben
                .row
                  .col-4.col-sm-4.col-md-4
                    i.fa.fa-star.fa-lg.cYellow &nbsp;
                    p.text-card.colorAhorra 4.5/507 opiniones
                  .col-4.col-sm-4.col-md-4
                    i.fa.fa-check-circle.fa-lg.Cblue &nbsp;
                    p.text-card.colorAhorra 19 Aseguradoras
                  .col-4.col-sm-4.col-md-4
                    i.fa.fa-check-circle.fa-lg.Cblue &nbsp;
                    p.text-card.colorAhorra Paga a 12 Meses


    section.back1.mb-2.d-none.d-sm-none.d-md-none.d-lg-block

    section.mt-5
      .container.mt40
        .row
          .col-12
            //- img.img-fluid(src='img/funnel-imagenes/logos_aseguradoras.png')
            ul.slides
              li.col-4.col-sm-3.col-md-3.col-lg-1
                .sprite-aba
              li.col-4.col-sm-3.col-md-3.col-lg-1
                .sprite-afirme
              li.col-4.col-sm-3.col-md-3.col-lg-1
                .sprite-aig
              li.col-4.col-sm-3.col-md-3.col-lg-1
                .sprite-ana
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-atlas
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-axa
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-banorte
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-aguila
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-general
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-sura
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-vexmas
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-gnp
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-hdi
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-inbursa
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-latino
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-mapfre
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-primero
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-qualitas
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-potosi
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-zurich
              li.col-4.col-sm-3.col-md-3.col-lg-1
                a.sprite-miituo

                  .separador



    section.section-bannerP.mt-3
      .container
        .separador
        .row
          .col-12.col-col-sm-12.col-md-6.align-self-center
            h2.title.colorAhorra Cotiza tu seguro de auto en M&eacute;xico
            h5.colorGray
              | Cotiza tu seguro de auto al mejor costo,
              br
              | es la mejor forma de ahorrar como Jos&eacute;:
            .col-12.px-0
              .card-header
                meta(itemprop='itemreviewed' content='ahorraseguros.mx')
                .row.em06.colorGray2
                  .col-12.col-sm-3.col-md-3
                    .rounded-circle.overhidden
                      img.fotoPerfilg(src='img/funnel-imagenes/user.svg' title='' alt='cotiza seguros de autos')
                  .col-12.col-sm-9.col-md-9
                    .row
                      .col-12.col-sm-8.col-md-8
                        ul.ul-noli.rating
                          li
                            i.fa.fa-star.cYellow.size18
                          li
                            i.fa.fa-star.cYellow.size18
                          li
                            i.fa.fa-star.cYellow.size18
                          li
                            i.fa.fa-star.cYellow.size18
                          li
                            i.fa.fa-star.colorGray.size18
                      .col-12.col-sm-4.col-md-4
                        span.text-center.title1 4.5/507 opiniones
                      .col-12.col-sm-11.col-md-11
                        | Buscaba un buen seguro que me permitiera pagar a MSI.
                  .col-12.col-sm-12.col-md-12.text-right.size13.blockquote-footer Jos&eacute; Mendez
          .col-12.col-col-sm-12.col-md-6.align-self-start
            img.bannerP(src='img/funnel-imagenes/imgprincipal.png' title='' alt='Cotiza tu seguro de auto')
          .separador


    section
      .separador
      section
        .container
          h3.text-center.colorAhorra.titles.font-weight-bold ¿Cómo Cotizar un Seguro de Auto en Ahorra Seguros?

          .separador
          .container
          .row
            .col-sm-6.col.align-self-center.text-center
              img.border-round.box-sh.imgPrincip(alt='Cotiza tu seguro de auto' src='img/funnel-imagenes/segundaimagen.png')
              //- .embed-responsive.embed-responsive-16by9
              //-   iframe.embed-responsive-item(width='560' height='315' src='https://www.youtube.com/embed/NLql_5j_1vk?rel=0&controls=0&start=3' frameborder='0'  allowfullscreen='')
            .col-sm-6.col-md-5
              .separador
              ol.process-3
                li.process_item
                  .process__number
                    span 1
                  .process__body.colorGray
                    h4.colorAhorra.size18.sbold Ingresa los datos de tu auto para comparar
                    p
                      | Modelo del auto, Marca del auto, Submarca del auto, Descripci&oacute;n, C.P. (Donde circular&aacute;), Fecha de nacimiento (En muchas ocasiones puedes recibir un descuento extra por tu edad).
                li.process_item
                  .process__number
                    span 2
                  .process__body.colorGray
                    h4.colorAhorra.size18.sbold Elige entre los mejores resultados encontrados en el comparador
                    p
                      | Te mostraremos un listado de los mejores precios y aseguradoras disponibles,
                      | Comparamos: coberturas, precios, beneficios, meses sin intereses y m&aacute;s.
                      | Elige la que se adapte a tus necesidades
                li.process_item
                  .process__number
                    span 3
                  .process__body.colorGray
                    h4.colorAhorra.size18.sbold Registra tu auto y paga
                    p
                      | Registra tu auto para que lo aseguremos, elige el m&eacute;todo de pago que te agrade, realiza el pago correspondiente y &iexcl;Felicidades, ya est&aacute;s asegurado en 3 sencillos pasos!
          .separador
          .separador
        section
          .container
            .col-12
              a.bt.btn-lg.btn-block.btn-primary.text-center(href='#') Recuerda: &iexcl;Ahorra Seguros siempre a la mano!
          .separador
          .illustration
          .separador

    .separador

    section
      .colorGray
        h3.text-center.colorAhorra.titles.smedium.font-weight-bold Ahorraseguros.mx te ayuda a cotizar seguro de auto en 30 Segundos
        .separador
        .container
          .row
            .col-md-12.col-sm-12.col-12
              #accordion.panel-group(role='tablist' aria-multiselectable='true')
                .panel.panel-default
                  #headingOne.panel-heading(role='tab')
                    h4.panel-title
                      a.alink.colorAhorra(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        | 1- ¿Sabes qué es y cómo funciona un
                        strong.sbold   Cotizador de seguros en México?

                  #collapseOne.panel-collapse(role='tabpanel' aria-labelledby='headingOne')
                    .panel-body
                       p
                        |  En la actualidad contar con un seguro para tu auto no solo es cuestión de prevención sino que ya es por ley obligatorio contar con el. La importancia de tener tu seguro de auto es muy importante sin embargo gran parte de la población aún no cuenta con uno, esto puede deberse a diferentes factores pero uno de ellos es porque en el mercado asegurador en México cuenta con una amplia gama posibilidades, pero algo que debes saber es que cuando decidas cotizar seguro de auto, debes hacerlo en la mejor plataforma, con una increíble herramienta que te funcione durante todo tu proceso.
                       p
                        |  Un cotizador de seguros en México es un portal web el cual te permite realizar un análisis comparativo de precios entre diferentes aseguradoras que ofrece el mercado. En ocasiones el invertir tiempo y dinero es visto como un gasto más que de la inversión, sin embargo el principal objetivo de cotizar tu seguro de auto te va a facilitar la tarea de tener que realizar un sin fin de trámites para poder adquirir un seguro.

                       p
                        |  Cotizar tu Seguro de Auto es la primer actividad que debes realizar; en nuestro país ya es obligatorio por Ley contar con un seguro de auto, es por esto que necesitamos contar con un aliado que nos muestre cuáles son las mejores opciones de seguro y cual es el mejor costo.
                       p
                        |  Cotizar tu Seguro de Auto puede brindarte mayor estabilidad económica, con las mejores opciones de seguros, además que tendrás un panorama más amplio de las compañías aseguradoras en nuestro país.
                       p
                        |  Cotizar tu Seguro de Auto con un cotizador de seguros de autos, funciona de acuerdo a los diferentes puntos que nos pueden ayudar a conocer las primas, lo que puede hacerlo en cualquier lugar en donde te encuentres solo debes tener una conexión a internet y los datos de tu auto para que puedas encontrar la mejor opción.

                       p
                        |  Cotizar tu Seguro de Auto en México es la principal herramienta con la que contratar tu seguro de auto es más seguro, confiable, eficaz, haz de tu proceso la sensación más satisfactoria. En AhorraSeguros.Mx el cotizador de seguros de autos es la mejor opción que existe en la actualidad ya que trabaja con las mejores compañías aseguradoras del mercado.


                .panel.panel-default
                  #headingTwo.panel-heading(role='tab')
                    h4.panel-title
                      a.alink.colorAhorra(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
                        | 2- ¿Cómo funciona un
                        strong.sbold    cotizador de seguros de autos
                        | ?

                  #collapseTwo.panel-collapse(role='tabpanel' aria-labelledby='headingTwo')
                    .panel-body
                       p
                        |  ADebes saber que es lo que necesitas para que así puedas partir para cotizar tu seguro de auto.

                       p
                        |  Cotizar un seguro de auto, hoy en día es más fácil, además de que existe una gran herramienta con la que cotizar seguro de auto es además de seguro y de calidad completamente gratis y con grandes beneficios; en AhorraSeguros.Mx trabajamos de la mano de las compañías aseguradoras más importantes del país, con ello deseamos poder ofrecerte cada día más ventajas sobre las demás opciones.
                       p
                        |  Contamos con una base de datos en donde se encuentra desde el tipo de seguro, la póliza y sus coberturas, los beneficios que te brindan a ti y a cada modelo de auto o condición en la que vayas a contratar tu seguro de auto, con todos estos datos arrojaremos la opción que más te beneficie, con el costo que se logre adaptar a tus necesidades y con las especificaciones con las que puedes contratar estos y otros beneficios adicionales, de acuerdo al tipo de póliza y cobertura que requieran contratar.


                .panel.panel-default
                  #headingThree.panel-heading(role='tab')
                    h4.panel-title
                      a.alink.colorAhorra(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        | 3- ¿Cómo utilizar un
                        strong.bold Cotizador de Seguro de Auto
                        |?
                  #collapseThree.panel-collapse(role='tabpanel' aria-labelledby='headingThree')
                    .panel-body
                      ul.styl
                        li.styl 1.- Debes ingresar al sitio web.
                        | En el mercado hay muchas compañías de seguros y todas intentan sobresalir del resto. pero, ¿Cómo saber cuál es la aseguradora de autos que mejor se adapta a tus necesidades?.
                        li.styl 2.-Llena el formulario con los datos necesarios de tu vehículo, con marca, modelo, submarca, descripción, versión y código postal en donde regularmente circula tu auto.
                        li.styl 3.-Ingresa tus datos personales para que puedas obtener una atención en precio personalizado; como el nombre, edad, fecha de nacimiento, y en caso de que sea una renovación fecha de vencimiento de tu contrato, número celular y dirección de correo electrónico.
                        li.styl 4.-Cotiza, antes de elegir cuál será tu compañía aseguradora, asegurate de haber cotizado con las mejores compañías de seguros, para que ante cualquier siniestro o lesión hagas valer al cien por cien tu póliza de seguro, contrata tu seguro de auto de la manera más consciente y firme a tus necesidades, para cuidar mejor de tu patrimonio.
                        li.styl 5.-Solo es cuestión de minutos y podrás estar asegurado, cotiza tu seguro de auto al mejor precio del mercado, con nosotros entra en AhorraSeguros.Mx para que recibas descuentos de acuerdo al modelo de tu vehículo, además de que puedes elegir la cobertura en un plan básico, amplio, plus, entre otras y con las coberturas de plan adicional puedes hacer tu seguro el mejor y más completo.

                      p En AhorraSeguros.Mx se uno de nuestros miles de clientes que ya ahorraron y que además recibieron alguno de nuestros descuentos con los que al cotizar seguro de auto ahorraron mayor cantidad con una póliza de seguro más completa.


                .panel.panel-default
                  #headingFour.panel-heading(role='tab')
                    h4.panel-title
                      a.alink.colorAhorra(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                        | 4- Ahorra al cotizar en tu seguro de auto
                  #collapseFour.panel-collapse(role='tabpanel' aria-labelledby='headingFour')
                    .panel-body
                      p
                        |Una vez que decidas que necesitas contratar el seguro para tu auto y antes de contratar lo más recomendable, ya sea por primera vez o que desees renovar tu póliza de seguro ya contratado, es muy importante que comiences a analizar desde tus necesidades, tu presupuesto y de cada uno tengas en mente que es lo primordial que tengas en tu póliza de seguro.

                      p
                        |Al cotizar seguro de auto, podrás comparar cual es tu mejor opcion, cual te ofrece más y cual te permite ahorrar mayor cantidad, conoce qué es lo que te ofrece cada una, los plazos de pago, las ventajas con las que cada compañía aseguradora te respaldara y la protección que le otorgará a tu vehículo.
                      p
                        |Con AhorraSeguros.Mx encuentrarás la clave para que encuentres el seguro ideal en casos particulares y diferentes, este es un cotizador de seguros de autos con el que ahorras hasta un 20% de descuento desde el momento de la contratación, además de que tu nivel de satisfacción debe ser el más grande ya que al cotizar seguro de auto, te aseguras que el que estás contratando es la mejor opción.

                .panel.panel-default
                  #headingFive.panel-heading(role='tab')
                    h4.panel-title
                      a.alink.colorAhorra(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
                        | 5- ¿Cómo elegir el mejor seguro de auto en el Cotizador de Seguros de Autos, AhorraSeguros.Mx?
                  #collapseFive.panel-collapse(role='tabpanel' aria-labelledby='headingFive')
                    .panel-body
                      p
                        |Uno de los primeros tips que podemos darte es que una vez que cotices seguro de auto, pienses en las coberturas que se te proponen para tu vehículo y una vez que lo hayas hecho que contrates tu seguro con las mejores coberturas, con los adicionales y el precio, que harán de tu póliza de seguro algo completamente útil y en beneficio para cada uno.
                      p
                        |En nuestro país existen 3 tipos principales de coberturas con las que puedes además de cumplir con el seguro que por ley ya es obligatorio, con la garantía de que estarás completamente seguro y respaldado ante los imprevistos que te puedan surgir en tu camino.

                      p
                        |Con la cobertura de seguro RC o mejor conocida como Responsabilidad Civil podrás ahorrar en tu póliza, además que ahorras en el caso de gastos futuros como derivado de un accidente o siniestro en el que puedas ocasionar daños materiales o lesiones físicas a un tercero involucrado.

                      p
                        |Por otro lado podemos encontrar el seguro de auto de póliza con Cobertura Limitada la que se convierte en una de las opciones más económicas y hasta cierto punto una de las que mayores beneficios otorga, ya que además de protegerte de daños a terceros, cubre el robo o la pérdida total de tu auto.

                      p
                        |La otra principal Cobertura de Seguro que puedes encontrar en el mercado asegurador es el seguro de cobertura amplia, con este plan no solo estás protegiendo de tu patrimonio y de ti, sino que estas brindando mayor beneficio y cobertura a tus acompañantes en el camino, pues en caso de accidente, este incluye atención médica para ti y tus acompañante en caso de accidente, cuenta con asistencia vial y atención telefónica los 365 días del año las 24 horas.

                      p
                        |Dentro de cada una de las coberturas que te mencionamos anteriormente, están las opciones de las Coberturas Adicionales, con estas puedes diseñar tu póliza y recibir además de los principales servicios que ofrece la cobertura que prefieras, puedes pagar por beneficios que para ti sean sumamente necesario.

                      p
                        |En el supuesto caso en el desees obtener tus beneficios de seguro fuera del país y fuera el caso en donde tu cobertura no incluye la protección fuera del país puedes pagar un extra por ello, o en caso de que el deducible de tu póliza no te convenza del todo, de igual manera puedes modificarla, entre muchas otras opciones con las que puedes verte beneficiado y el costo no se dispare tanto.

                .panel.panel-default
                  #headingSix.panel-heading(role='tab')
                    h4.panel-title
                      a.alink.colorAhorra(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
                        | 6- ¿Cotizar Seguro de Auto en AhorraSeguros.Mx?
                  #collapseSix.panel-collapse(role='tabpanel' aria-labelledby='headingSix')
                    .panel-body
                      p
                        |En AhorraSeguros.Mx entendemos la necesidad que tienes de que tu Seguro de Auto sea el mejor, además de que es muy importante para ti que este tenga un costo más accesible con el que puedas continuar con tu estabilidad económica y puedas proteger de tu patrimonio como lo harías tú, porque es importante que tu seguro te beneficie a ti y tu familia, ya que hoy en día sabemos que nadie está exento de sufrir un imprevisto o siniestro queremos que puedas sentirte protegido, seguro y completamente convencido que ante alguna de estas eventualidades podrás estar protegido tu y tu familia, para ello es que tenemos a nuestros asesores disponibles para poder atender tus dudas y necesidades, con las que al cotizar seguro de auto podrán ofrecerte las mejores opciones del mercado.
                      p
                        |Con AhorraSeguros.Mx no solo estas cotizando seguro de auto, estás eligiendo lo que será tu respaldo en los siguientes meses, con el que más que un seguro estás adquiriendo un aliado. Con el Cotizador de seguros de autos AhorraSeguros.Mx es muy fácil, solo debes ingresar, cotizar, comparar, elegir, ahorrar y estar completamente seguro tu auto, tu y tu familia..

    .separador
    section
      .container
        .row.google.bgColorgris(itemtype='http://data-vocabulary.org/Review-aggregate' itemscope='')
          meta(itemprop='itemreviewed' content='ahorraseguros.mx')

          .col-12.col-sm-12.col-md-4
            h3.vargasdesignmx.ttlefoot Opiniones de Ahorra Seguros
            .col-3.col-sm-2.col-md-3.col-lg-2.pCero
              a(href='https://www.ahorraseguros.mx/opiniones-ahorraseguros' style='float:left;')
                img.imggoogle(src="img/funnel-imagenes/google.svg" alt='Cotiza tu seguro de auto' title='Cotiza tu seguro de auto')
            .row
              .col-12.pCero
                p.txtColorGray2.left.starCalif.average
                  | 4.7
                  span.votes /589 opiniones
                span(itemprop='rating' itemscope='' itemtype='http://data-vocabulary.org/Rating')
                  meta(itemprop='average' content='4.7')
                  meta(itemprop='best' content='5')
                meta(itemprop='votes' content='589')
              .col-12.pCero.google_rating
                a(href='https://www.ahorraseguros.mx/opiniones-ahorraseguros' style='display:inline-block;float:left;')
                  fieldset.rating.stars(style='display:inline-block;float:left;')
                    i.fa.fa-star.sicolor.sizeW(title='Pésimo - 1 Estrella')
                    i.fa.fa-star.sicolor.sizeW(title='Malo - 2 Estrellas')
                    i.fa.fa-star.sicolor.sizeW(title='Bueno - 3 Estrellas')
                    i.fa.fa-star.sicolor.sizeW(title='Muy Bueno - 4.5 Estrellas')
                    i.fa.fa-star.sicolor.sizeW(title='Excelente - 5 Estrellas')
          .col-12.col-sm-12.col-md-4
                h3.vargasdesignmx.ttlefoot &iexcl;S&iacute;guenos en Redes Sociales!
                //p.lead.txtColorGray2.left Ya somos m&aacute;s de 190K usuarios
                span.overf
                  ul
                    li.float-left(style='margin:10px 10px 0;display:inline-block;')
                      a(href='https://www.youtube.com/user/AhorraSeguros')
                        i.fa.fa-youtube-play.fa-1x
                    li.float-left(style='margin:10px 10px 0;display:inline-block;')
                      a(href='https://www.facebook.com/ahorraseguros')
                        i.fa.fa-facebook-f.fa-1x
                    li.float-left(style='margin:10px 10px 0;display:inline-block;')
                      a(href='https://www.instagram.com/Ahorra_Seguros')
                        i.fa.fa-instagram.fa-1x
                    li.float-left(style='margin:10px 10px 0;display:inline-block;')
                      a(href='https://twitter.com/AhorraSeguros')
                        i.fa.fa-twitter.fa-1x
                    li.float-left(style='margin:10px 10px 0;display:inline-block;')
                      a(href='https://mx.linkedin.com/company/ahorra-seguros')
                        i.fa.fa-linkedin.fa-1x

          .col-12.col-sm-12.col-md-4
            h3.vargasdesignmx.ttlefoot Descarga la App en:
            .row
              a.col(href='#')
                span
                  b.blue App Store
              a.col(href='#')
                span
                  b.blue Google Play

      .container-fluid.heightfoot.mt-2
        .container
          ul#menu-menu-2018.row
            li#menu-item-14224.col-12.col-sm-12.col-md-4.lio
              a.centeronlysm(href='https://ahorraseguros.mx/')
                  img.logo-newasmx-large(alt='logo' src='https://ahorraseguros.mx/wp-content/uploads/2017/11/Logotipo-Ahorra-Seguros-2015.png')
            li#menu-item-14224.col-12.col-sm-12.col-md-4.lio
              a(href='#' style='font-weight:bold;font-size:1em;position:relative;top:6px;') Cotizador de Seguros de Auto
            li#menu-item-14213.col-12.col-sm-12.col-md-4.lio
              a(href='#' style='font-weight:bold;font-size:1em;position:relative;top:6px;') Comparador de Seguros de Auto

          ul.row.pacso
            li#menu-item-14224.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Seguros de autos
            li#menu-item-14224.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Seguros para Taxis
            li#menu-item-14225.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Aseguradoras
            li#menu-item-14213.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Seguros de Hogar
            li#menu-item-14224.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Seguros de Vida
            li#menu-item-14224.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Gastos M&eacute;dicos
            li#menu-item-14224.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Seguros para Uber
            li#menu-item-14224.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Seguros para Motos
            li#menu-item-14224.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Comparador de Seguros
            li#menu-item-14224.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Seguro de Casa
            li#menu-item-14225.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='#') Blog
            li#menu-item-14225.col-6.col-sm-6.col-md-3.lio.pacdi2
              a(href='https://ahorraseguros.mx/mapa-de-sitio/') Mapa de Sitio
      .container-fluid.heightFoot.bgGrayFoot.copiando-a-rastreator
        .container
          .col-12
            | &copy; 2017 AhorraSeguros. Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros
            a
            strong  T&eacute;rminos y condiciones
            | , as&iacute; como el
            a
            strong &nbsp;Aviso de privacidad
            | .

</template>
<script>
  import marcasService from '~/plugins/marcas'
  import modelosService from '~/plugins/modelos'
  import descripcionesService from '~/plugins/descripciones'
  import subdescripcionesService from '~/plugins/subdescripciones'
  import detallesService from '~/plugins/detalles'
  import cotizacionService from '~/plugins/cotizacion'
  import Multiselect from 'vue-multiselect'
  import newProspectService from '~/plugins/wsNuevoProspecto'
  import newSMSPersonalizado from '~/plugins/wsEnviaSMSPersonalizado'
  import wsNuevaCotizacion from '~/plugins/wsNuevaCotizacion'
  import wsSinCotizacion from '~/plugins/wsSinCotizacion'
  import wsTrigaranteCotizacion from '~/plugins/wsSaveTrigarante'
  import getDetallePorVehiculoService from '~/plugins/wsGetDetallePorVehiculo'
  import axios from 'axios'
  import { VueAutosuggest } from 'vue-autosuggest';
  import alertaindexComponent from '~/components/common/alert-seguroobligatorio.vue'
  import publicIp  from 'public-ip'

  export default {
    name: 'app',
    data() {
      return {

        block: "['backspace']",
        isOpen: false,
        selected: {},
        placeholderSelect: 'Selecciona una marca',
        edad: "",
        edades: [],
        genero: "",
        telefono: "",
        cp: "",
        ready: false,
        isLoading: false,
        detalles: [],
        firstStep: true,
        detalleS: [],
        aseguradora: "",
        x: {},
        cotizacionResponse: {},
        descuentoS: '0',
        value: [],
        options: [],
        cotizaciones: [],
        email:'',
        filteredOptions: [],
        suggestions: [
          {
            data: [
              { id: 1, name: "gmail.com"},
              { id: 2, name: "hotmail.com" },
              { id: 3, name: "yahoo.com" },
              { id: 4, name: "ymail.com" },
              { id: 5, name: "outlook.com" },
            ]
          }
        ]
      }
    },
    components: {
      Multiselect,VueAutosuggest,
      alertaindexComponent
    },
    methods: {

      onInputChange(text, oldText) {
        this.email=text;
        this.$store.state.formCotizacion.correo=text;
        var validaTexto='';
        validaTexto=this.email.split("@");

        if(validaTexto.length>1){
          if (text.includes("@") && validaTexto[1].length<1) {
            for (var i=0; this.suggestions[0].data.length>i; i++){
              if(this.suggestions[0].data[i].name.split("@").length>1){
                var resetDomain="";
                resetDomain=this.suggestions[0].data[i].name.split("@");
                resetDomain=resetDomain[this.suggestions[0].data[i].name.split("@").length-1];
                this.suggestions[0].data[i].name=resetDomain;
              }
              this.suggestions[0].data[i].name=this.email+this.suggestions[0].data[i].name;
            }
          }
        }
        // Full customizability over filtering
        const filteredData = this.suggestions[0].data.filter(option => {
          return option.name.toLowerCase().indexOf(text.toLowerCase()) > -1;
        });
        // Store data in one property, and filtered in another
        if(validaTexto.length>1){
          this.filteredOptions = [{ data: filteredData }];
        }

      },
      clickHandler(item) {
        // items are selected by default on click, but you can add some more behavior here!
      },
      onSelected(item) {
        this.$store.state.formCotizacion.correo=item.name;
      },

      renderSuggestion(suggestion) {
        /* You will need babel-plugin-transform-vue-jsx for this kind of syntax for
         * rendering. If you don't use babel or the jsx transform, then you can create
         * the you can create the virtual node yourself using this.$createElement.
         */
        const character = suggestion.item;
        return (
          <div
        style={{
          display: "flex",
            alignItems: "center"
        }}
      >
      {" "}
        <span style={{ color: "navyblue" }}>{character.name}</span>
        </div>
      );
      },
      /**
       * This is what the <input/> value is set to when you are selecting a suggestion.
       */
      getSuggestionValue(suggestion) {
        return suggestion.item.name;
      },
      focusMe(e) {
        console.log(e)
      },

      refreshMarcas: function () {
        this.isLoading = true;
        marcasService.search(this.aseguradora)
          .then(resp => {
            this.options = resp;
            this.isLoading = false;
            this.placeholderSelect = 'Selecciona una marca';

          })
      },
      refreshModelos: function () {
        this.options = [];
        this.isLoading = true;
        modelosService.search(this.aseguradora, this.$store.state.formCotizacion.marca)
          .then(resp => {
            this.options = resp;
            this.isLoading = false;
            this.placeholderSelect = 'Selecciona un modelo';

          })
      },
      refreshDescripciones: function () {
        this.options = [];
        this.isLoading = true;
        descripcionesService.search(this.aseguradora, this.$store.state.formCotizacion.marca, this.$store.state.formCotizacion.modelo)
          .then(resp => {
            this.options = resp;
            this.isLoading = false;
            this.placeholderSelect = 'Selecciona una descripcion';

          })
      },
      refreshSubdescripciones: function () {
        this.options = [];
        this.isLoading = true;

        subdescripcionesService.search(this.aseguradora, this.$store.state.formCotizacion.marca, this.$store.state.formCotizacion.modelo, this.$store.state.formCotizacion.descripcion)
          .then(resp => {
            this.options = resp;
            this.isLoading = false;
            this.placeholderSelect = 'Selecciona una subdescripcion';

          })
      },
      refreshDetalles: function () {

        //this.isLoading = true;
        this.options = [];
        this.ready = true;
        this.placeholderSelect = '';
        this.isOpen = false;
        detallesService.search(this.aseguradora, this.$store.state.formCotizacion.marca, this.$store.state.formCotizacion.modelo, this.$store.state.formCotizacion.descripcion, this.$store.state.formCotizacion.subDescripcion)
          .then(resp => {
            this.detalles = resp;

          })

      },
      limpiarAll: function () {
        this.selected = {};
        this.$store.state.formCotizacion.marca = '0';
        this.$store.state.formCotizacion.modelo = '0';
        this.$store.state.formCotizacion.descripcion = '0';
        this.$store.state.formCotizacion.subDescripcion = '0';
        this.detalleS = [];
        this.aseguradora = '';
        this.value = [];
        this.ready = false;
        this.cotizacionResponse = {};
        this.options = [];
        this.$store.state.cot = [];
        this.$store.state.showLoader = false;
        this.refreshMarcas();

      },
      dispatchAction(newVal) {
        if (newVal.id.charAt(0) === 'm') {
          this.$store.state.formCotizacion.marca = newVal.text;
          this.refreshModelos();
        }
        if (newVal.id.charAt(0) === 'o') {
          this.$store.state.formCotizacion.modelo = newVal.text;
          this.refreshDescripciones();
        }
        if (newVal.id.charAt(0) === 'd') {
          this.$store.state.formCotizacion.descripcion = newVal.text;
          this.refreshSubdescripciones();
        }
        if (newVal.id.charAt(0) === 's') {
          this.$store.state.formCotizacion.subDescripcion = newVal.text;
          this.myFocus("edad");
          this.refreshDetalles();
        }
        if (newVal.aseguradora) {
          this.selected = newVal;
          this.$store.state.formCotizacion.detalle = newVal.text;
          this.$store.state.formCotizacion.detalleid = newVal.id;
          this.options = [];
          this.ready = true;
          this.placeholderSelect = '';


        }
      },
      refreshSomething: function (deleted) {
        if (deleted.id.charAt(0) === 'm') {
          console.log('Elimino una marca');
          this._self.limpiarMarcas();
        }
        if (deleted.id.charAt(0) === 'o') {
          console.log('Elimino un modelo');
          this.limpiarModelos();
          return;
        }
        if (deleted.id.charAt(0) === 'd') {
          console.log('Elimino una descripcion')
          this.limpiarDescripciones();
          return
        }
        if (deleted.id.charAt(0) === 's') {
          console.log('Elimino una subdescripcion');
          this.limpiarSubdescripciones();
          return
        }
        if (deleted.aseguradora) {
          console.log('Elimino un detalle');
          this.limpiarDetalle();
          return
        }

      },
      limpiarMarcas: function () {

        this.selected = {};
        this.$store.state.formCotizacion.subDescripcion = '0';
        this.$store.state.formCotizacion.descripcion = '0';
        this.$store.state.formCotizacion.modelo = '0';
        this.$store.state.formCotizacion.marca = '0';
        this.ready = false;
        this.value = [];
        this.refreshMarcas();
      },
      limpiarModelos: function () {

        this.selected = {};
        this.$store.state.formCotizacion.subDescripcion = '0';
        this.$store.state.formCotizacion.descripcion = '0';
        this.$store.state.formCotizacion.modelo = '0';
        this.ready = false;
        var x = [];
        for (var i in this.value)
          if (this.value[i].id.charAt(0) == 'm')
            x.push(this.value[i]);
        this.value = x;
        this.refreshModelos()

      },
      limpiarDescripciones() {
        this.selected = {};
        this.$store.state.formCotizacion.subDescripcion = '0';
        this.$store.state.formCotizacion.descripcion = '0';
        this.ready = false;
        var x = [];
        for (var i in this.value)
          if (this.value[i].id.charAt(0) == 'm' || this.value[i].id.charAt(0) == 'o')
            x.push(this.value[i]);
        this.value = x;
        this.refreshDescripciones()
      },
      limpiarSubdescripciones() {
        this.selected = {};
        this.$store.state.formCotizacion.subDescripcion = '0';
        this.ready = false;
        var x = [];
        for (var i in this.value)
          if (this.value[i].id.charAt(0) == 'm' || this.value[i].id.charAt(0) == 'o' || this.value[i].id.charAt(0) == 'd')
            x.push(this.value[i]);
        this.value = x;
        this.refreshSubdescripciones()
      },
      limpiarDetalle() {
        this.selected = {};
        this.ready = false;
        var x = [];
        for (var i in this.value)
          if (this.value[i].id.charAt(0) == 'm' || this.value[i].id.charAt(0) == 'o' || this.value[i].id.charAt(0) == 'd' || this.value[i].id.charAt(0) == 's')
            x.push(this.value[i]);
        this.value = x;
        this.refreshDetalles();
      },
      cotizar(idCotizacion) {
        this.$store.state.config.loading=true;
        console.log(this.$store.state.config.loading);
        this.$store.state.cotizaciones = [];
        console.log("# de aseguradoras " + this.detalles.length)
        for (var i = 0; i < this.detalles.length; i++) {
          if (this.$store.state.aseguradoras[this.detalles[i].aseguradora].cotizacion) {
            this.getPrecios(this.detalles[i].aseguradora, this.detalles[i].text, this.detalles[i].id, this.$store.state.aseguradoras[this.detalles[i].aseguradora].descuento,(i==this.detalles.length-1)?true:false, idCotizacion);
          }
        }
      },
      getPrecios: function (aseguradora, detalle, idDetalle, descuento,isTheLast,idCotizacion) {
        cotizacionService.search(
          aseguradora = aseguradora==='ABA'?'ABA2':aseguradora==='HDI'?'HDI2':aseguradora,
          //aseguradora = aseguradora==='ABA'?'ABA2':aseguradora,
          idDetalle,
          this.$store.state.formCotizacion.codigoPostal,
          detalle,
          descuento,
          this.$store.state.formCotizacion.edad,
          this.$store.state.formCotizacion.fechaNacimiento,
          this.$store.state.formCotizacion.genero,
          this.$store.state.formCotizacion.marca,
          this.$store.state.formCotizacion.modelo,
          'cotizacion',
          'AMPLIA',
          'PARTICULAR')
          .then(resp => {

            if (typeof resp != "string") {
              if (Object.keys(resp.Cotizacion).includes('PrimaTotal') && resp.Cotizacion.PrimaTotal != null && resp.Cotizacion.PrimaTotal.length>0) {
                if (resp.Coberturas.length > 0) {

                  this.$store.state.aseguradoras[aseguradora].estatus_cotizacion=true;

                  if(resp.Aseguradora==='ABA2'){
                    this.$store.state.aseguradoras['ABA'].estatus_cotizacion=1;
                  }

                  //this.$store.state.allAseguradoras = Object.values(this.$store.state.aseguradoras).filter(aseguradora=> !aseguradora.estatus_cotizacion);
                  this.$store.state.allAseguradoras = Object.values(this.$store.state.aseguradoras).filter(function (el) {
                                                      return el.estatus_cotizacion === false ;
                                                    });

                  /* WS PARA OBTENER LA INFORMACION (DETALLES POR VEHICULO COTIZADO) */
                  var jsonDatosVehiculoWsGetDetalles=[];
                  jsonDatosVehiculoWsGetDetalles = {
                    aseguradora: aseguradora,
                    marca: this.$store.state.formCotizacion.marca,
                    modelo: this.$store.state.formCotizacion.modelo,
                    descripcion: this.$store.state.formCotizacion.descripcion,
                    subdescripcion: this.$store.state.formCotizacion.subDescripcion
                  };
                  getDetallePorVehiculoService.detalleVehiculo(jsonDatosVehiculoWsGetDetalles)
                    .then(respDetalleVehiculo => {
                      this.$store.state.aseguradoras[aseguradora].detallesAseguradora=respDetalleVehiculo;
                    });
                  /* FIN --- WS PARA OBTENER LA INFORMACION*/


                  //Se eliminan caracteres del presio para que pueda ser ardenado sin problemas
                  resp.Cotizacion.PrimaTotal=resp.Cotizacion.PrimaTotal.replace("$","");
                  resp.Cotizacion.PrimaTotal=resp.Cotizacion.PrimaTotal.replace(",","");
                  //Se eliminan coberturas sin informacion
                  if (resp.Coberturas) {
                    for (var c in resp.Coberturas[0]) {
                      if (resp.Coberturas[0][c] === "-") {
                        delete resp.Coberturas[0][c];
                      }
                    }
                  }

                  /*SEGUNDO WS-PETICIONES Y RESPUESTA*/
                  var jsonWsPorAseguradora={
                    aseguradora : aseguradora,
                    idDetalle : idDetalle,
                    cp : this.$store.state.formCotizacion.codigoPostal,
                    detalle : detalle,
                    descuento : descuento,
                    edad : this.$store.state.formCotizacion.edad,
                    fechaNacimiento : this.$store.state.formCotizacion.fechaNacimiento,
                    genero : this.$store.state.formCotizacion.genero,
                    marca : this.$store.state.formCotizacion.marca,
                    modelo : this.$store.state.formCotizacion.modelo,
                    cotizacion : 'cotizacion',
                    cobertira : 'AMPLIA',
                    tipo_vehiculo : 'PARTICULAR'
                  }

                  var jsonPeticionWs = {
                    id_cotizacion: idCotizacion,
                    num_cotizacion: this.$store.state.config.numCotizacionUsuario,
                    id_aseguradora: this.$store.state.aseguradoras[aseguradora].id_aseguradora,
                    peticion: JSON.stringify(jsonWsPorAseguradora),
                    respuesta: JSON.stringify(resp)
                  };
                  /*JSON configuracion por peticion*/
                  var jsonConfiguracionPeticion={
                    id_cotizacion: idCotizacion,
                    num_cotizacion: this.$store.state.config.numCotizacionUsuario,
                    btnDisabled: false,
                    idCotizacion_a:'',
                  };

                  //Se valida si se esta trabajando con ambiente de pruebas
                  if(!this.$store.state.ambientePruebas){
                        wsNuevaCotizacion.nuevaCotizacion(
                          JSON.stringify(jsonPeticionWs)
                        ).then(respNuevaCotizacion => {
                          jsonConfiguracionPeticion.idCotizacion_a=respNuevaCotizacion.idCotizacionA;
                        });
                  }

                  resp.Show = true;
                  resp.Calificacion = this.$store.state.aseguradoras[resp.Aseguradora].calificacion;
                  resp.configuracionPeticion=jsonConfiguracionPeticion;
                  console.log("");
                  console.log(jsonConfiguracionPeticion);

                  this.$store.state.cotizaciones.push(resp);

                  /*SE ORDENAN LAS COTIZACIONES DE FORMA ASCENDENTE*/
                  this.$store.state.cotizaciones.sort(function(a,b){
                    return a.Cotizacion.PrimaTotal - b.Cotizacion.PrimaTotal;
                  });

                  if(isTheLast){

                    var hash = {};
                    this.$store.state.cotizaciones = this.$store.state.cotizaciones.filter(function(current) {
                      var exists = !hash[current.Aseguradora] || false;
                      hash[current.id] = true;
                      return exists;
                    });

                    this.$store.state.config.loading=false;
                  }
                } else {
                      console.log(aseguradora + " no trajo coberturas D:");
                      var jsonWsPorAseguradora={
                        aseguradora : aseguradora,
                        idDetalle : idDetalle,
                        cp : this.$store.state.formCotizacion.codigoPostal,
                        detalle : detalle,
                        descuento : descuento,
                        edad : this.$store.state.formCotizacion.edad,
                        fechaNacimiento : this.$store.state.formCotizacion.fechaNacimiento,
                        genero : this.$store.state.formCotizacion.genero,
                        marca : this.$store.state.formCotizacion.marca,
                        modelo : this.$store.state.formCotizacion.modelo,
                        cotizacion : 'cotizacion',
                        cobertira : 'AMPLIA',
                        tipo_vehiculo : 'PARTICULAR'
                      }
                      var jsonPeticionWs = {
                        id_cotizacion: idCotizacion,
                        num_cotizacion: this.$store.state.config.numCotizacionUsuario,
                        id_aseguradora: this.$store.state.aseguradoras[aseguradora].id_aseguradora,
                        peticion: JSON.stringify(jsonWsPorAseguradora),
                        respuesta: JSON.stringify(resp),
                        statusCotizacion: 3
                      };
                      //Se valida si se esta trabajando con ambiente de pruebas
                      if(!this.$store.state.ambientePruebas){
                        wsSinCotizacion.sinCotizacion(
                          JSON.stringify(jsonPeticionWs)
                        ).then(respSinCotizacion => {
                        });
                      }
                }
              } else {
                    console.log(aseguradora + " no trajo precios D:");
                    var jsonWsPorAseguradora={
                      aseguradora : aseguradora,
                      idDetalle : idDetalle,
                      cp : this.$store.state.formCotizacion.codigoPostal,
                      detalle : detalle,
                      descuento : descuento,
                      edad : this.$store.state.formCotizacion.edad,
                      fechaNacimiento : this.$store.state.formCotizacion.fechaNacimiento,
                      genero : this.$store.state.formCotizacion.genero,
                      marca : this.$store.state.formCotizacion.marca,
                      modelo : this.$store.state.formCotizacion.modelo,
                      cotizacion : 'cotizacion',
                      cobertira : 'AMPLIA',
                      tipo_vehiculo : 'PARTICULAR'
                    }
                    var jsonPeticionWs = {
                      id_cotizacion: idCotizacion,
                      num_cotizacion: this.$store.state.config.numCotizacionUsuario,
                      id_aseguradora: this.$store.state.aseguradoras[aseguradora].id_aseguradora,
                      peticion: JSON.stringify(jsonWsPorAseguradora),
                      respuesta: JSON.stringify(resp),
                      statusCotizacion: 2
                    };
                    //Se valida si se esta trabajando con ambiente de pruebas
                    if(!this.$store.state.ambientePruebas){
                      wsSinCotizacion.sinCotizacion(
                        JSON.stringify(jsonPeticionWs)
                      ).then(respSinCotizacion => {
                      });
                    }
              }
            } else {
                  console.log("Problema al cotizar con " + aseguradora);
                  var jsonWsPorAseguradora={
                    aseguradora : aseguradora,
                    idDetalle : idDetalle,
                    cp : this.$store.state.formCotizacion.codigoPostal,
                    detalle : detalle,
                    descuento : descuento,
                    edad : this.$store.state.formCotizacion.edad,
                    fechaNacimiento : this.$store.state.formCotizacion.fechaNacimiento,
                    genero : this.$store.state.formCotizacion.genero,
                    marca : this.$store.state.formCotizacion.marca,
                    modelo : this.$store.state.formCotizacion.modelo,
                    cotizacion : 'cotizacion',
                    cobertira : 'AMPLIA',
                    tipo_vehiculo : 'PARTICULAR'
                  }
                  var jsonPeticionWs = {
                    id_cotizacion: idCotizacion,
                    num_cotizacion: this.$store.state.config.numCotizacionUsuario,
                    id_aseguradora: this.$store.state.aseguradoras[aseguradora].id_aseguradora,
                    peticion: JSON.stringify(jsonWsPorAseguradora),
                    respuesta: "",
                    statusCotizacion: 0
                  };
                  //Se valida si se esta trabajando con ambiente de pruebas
                  if(!this.$store.state.ambientePruebas){
                    wsSinCotizacion.sinCotizacion(
                      JSON.stringify(jsonPeticionWs)
                    ).then(respSinCotizacion => {
                    });
                  }
            }

          })
      },
      calculaFechaNacimiento() {
        this.$store.state.formCotizacion.fechaNacimiento = ("01/01/" + (new Date().getFullYear() - this.$store.state.formCotizacion.edad).toString()).toString("dd/MM/yyyy")
        this.myFocus('genero');
      },
      llenarEdades() {
        for (var i = 18; i <= 99; i++) {
          this.edades.push(i);
        }
      },
      validateForm(scope) {
        this.$validator.validateAll(scope).then((result) => {
          if (result) {

            //Se valida si se esta trabajando con ambiente de pruebas
            if(!this.$store.state.ambientePruebas){
                var jsonPeticionWs = {
                  mensaje: "Hola, Bienvenido a AhorraSeguros. Elige todas las aseguradoras que te interesen.",
                  destino: this.$store.state.formCotizacion.telefono,
                };
                newSMSPersonalizado.nuevoSMSPersonalizado(
                  JSON.stringify(jsonPeticionWs)
                ).then(resp => {
                  console.log(resp);
                });
            }
            this.peticionWsNuevoProspecto();
            $nuxt._router.push({path: 'cotizacion'})
          }
        });
      },
      peticionWsNuevoProspecto(){


            var jsonPeticionWs = {
              numero: this.$store.state.formCotizacion.telefono,
              correo: this.$store.state.formCotizacion.correo,
              nombre: this.$store.state.formCotizacion.nombre,
              cp: this.$store.state.formCotizacion.codigoPostal,
              id_pagina: '9',
              id_ejecutivo:this.$store.state.config.idEjecutivo,
              id_cobertura: this.$store.state.config.cobertura.amplia_esencial,
              marca: this.$store.state.formCotizacion.marca,
              modelo: this.$store.state.formCotizacion.modelo,
              descripcion: this.$store.state.formCotizacion.descripcion,
              subdescripcion: this.$store.state.formCotizacion.subDescripcion,
              ip: this.$store.state.config.ipCliente,
              id_tipo_contacto:1,
              mac: 'A56:56D:899:AR9',
              tipo_dispositivo: 'NO SE...',
              sexo:this.$store.state.formCotizacion.genero.charAt(0),
              edad:this.$store.state.formCotizacion.edad
            };

            console.log(jsonPeticionWs);
            //Se valida si se esta trabajando con ambiente de pruebas
            if(!this.$store.state.ambientePruebas) {
                newProspectService.nuevoProspecto(
                    JSON.stringify(jsonPeticionWs)
                ).then(resp => {
                    this.$store.state.config.numCotizacionUsuario=resp.numCotizacion;
                    this.cotizar(resp.idCotizacion);
                });
            }else{
              console.log("Trabajando con ambiente de pruebas");
              this.cotizar();
            }


      },
      myFocus: function (id) {
        document.getElementById(id).focus();
      }
    },
    watch: {
      telefono: function (val){
        var regExp = /(.)\1{3}$/;
        var phone = regExp.exec(this.telefono);
        var ultimoCaracter = this.telefono.charAt(this.telefono.length-1);

        console.log(this.telefono.charAt(this.telefono.length-1)-2);
        console.log(this.telefono.charAt(this.telefono.length-1)-1);
        console.log(this.telefono.charAt(this.telefono.length-1));

        if(this.telefono.charAt(this.telefono.length-2) == this.telefono.charAt(this.telefono.length-1)-1 && this.telefono.charAt(this.telefono.length-3) == this.telefono.charAt(this.telefono.length-1)-2 && this.telefono.charAt(this.telefono.length-4) == this.telefono.charAt(this.telefono.length-1)-3){
          this.telefono=this.telefono.substring(0,this.telefono.length-1)
        }else{
          this.$store.state.formCotizacion.telefono = this.telefono
        }

        if (!phone) {
          this.$store.state.formCotizacion.telefono = this.telefono
        }else{
          this.telefono=this.telefono.substring(0,this.telefono.length-1)
        }
      }
    },
    created() {
      this.refreshMarcas();
      this.llenarEdades();
        publicIp.v4().then(ip => {
          this.$store.state.config.ipCliente=ip;
        });
    }
  };
</script>
<!--<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>-->
<style scope>
.btn-bn-fin {font-weight: 500;border-color: #fff;padding: 2px 12px;font-size: 14px;line-height: 1.5;border-radius: .25rem;
background-color:rgb(252, 164, 44);opacity: .8;}
.fon13{font-size: 14px;color: white;letter-spacing: 2px;/* */text-transform:uppercase;opacity:1;font-weight:600;letter-spacing:0;}
.h5style{font-size: 12px;margin-top: 7px;font-weight: 700;color: white;}
.styleclose{/*margin-top: 10px;*/color:#fff;}
.fixedtext{margin-left: 70px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:45px!important;padding:0px 0 5px;}
.textpromo{font-size:18px;margin-top:5px;font-weight: 600;margin-bottom: -8px;}
.textspan{font-size:12px;color:white;margin-top:10px;}
.alert1 {position: relative;padding: 0;margin-bottom: 0px;margin-top: 0;border: 1px solid transparent;border-radius: 0rem;}
.m0{padding-left: 0;padding-right: 0;}
.padd0{padding: 0;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.fontclose{font-size: 22px;}
.backbuenfin{background-color:#1997fd;}
.alert1{padding: 0!important;margin-bottom: 0;}
.styleclosemovile{color: white;opacity: .8;margin-right: -23px;}
@media (max-width: 768px) and (min-width: 600px){.alert1{background-color: transparent;}}
@media (max-width: 599px) and (min-width: 481px){.alert1{background-color: transparent;}}
@media (max-width: 480px) and (min-width: 320px){
.f10alert{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.textpromo{margin-top:5px!important;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:45px!important;padding:5px 0 5px;}
.textpromo{font-size:14px;}
.textspan{font-size:11px;}
}
@media (max-width: 320px) and (min-width: 280px){
.f10alert{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.textpromo{margin-top: 5px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:45px!important;padding:5px 0 5px;}
.textpromo{font-size:14px;}
.textspan{font-size:11px;}
}
button.close{color:#fff!important;opacity:1!important;}
fieldset[disabled] .multiselect{pointer-events:none}.multiselect__spinner{position:absolute;right:1px;top:1px;width:48px;height:35px;background:#fff;display:block}.multiselect__spinner:after,.multiselect__spinner:before{position:absolute;content:"";top:50%;left:50%;margin:-8px 0 0 -8px;width:16px;height:16px;border-radius:100%;border-color:#41b883 transparent transparent;border-style:solid;border-width:2px;box-shadow:0 0 0 1px transparent}.multiselect__spinner:before{animation:a 2.4s cubic-bezier(.41,.26,.2,.62);animation-iteration-count:infinite}.multiselect__spinner:after{animation:a 2.4s cubic-bezier(.51,.09,.21,.8);animation-iteration-count:infinite}.multiselect__loading-enter-active,.multiselect__loading-leave-active{transition:opacity .4s ease-in-out;opacity:1}.multiselect__loading-enter,.multiselect__loading-leave-active{opacity:0}.multiselect,.multiselect__input,.multiselect__single{font-family:inherit;font-size:16px;-ms-touch-action:manipulation;touch-action:manipulation}.multiselect{box-sizing:content-box;display:block;position:relative;width:100%;min-height:40px;text-align:left;color:#35495e}.multiselect *{box-sizing:border-box}.multiselect:focus{outline:none}.multiselect--disabled{opacity:.6}.multiselect--active{z-index:1}.multiselect--active:not(.multiselect--above) .multiselect__current,.multiselect--active:not(.multiselect--above) .multiselect__input,.multiselect--active:not(.multiselect--above) .multiselect__tags{border-bottom-left-radius:0;border-bottom-right-radius:0}.multiselect--active .multiselect__select{transform:rotate(180deg)}.multiselect--above.multiselect--active .multiselect__current,.multiselect--above.multiselect--active .multiselect__input,.multiselect--above.multiselect--active .multiselect__tags{border-top-left-radius:0;border-top-right-radius:0}.multiselect__input,.multiselect__single{position:relative;display:inline-block;min-height:20px;line-height:20px;border:none;border-radius:5px;background:#fff;padding:0 0 0 5px;width:100%;transition:border .1s ease;box-sizing:border-box;margin-bottom:8px;vertical-align:top}.multiselect__input::-webkit-input-placeholder{color:#35495e}.multiselect__input:-ms-input-placeholder{color:#35495e}.multiselect__input::placeholder{color:#35495e}.multiselect__tag~.multiselect__input,.multiselect__tag~.multiselect__single{width:auto}.multiselect__input:hover,.multiselect__single:hover{border-color:#cfcfcf}.multiselect__input:focus,.multiselect__single:focus{border-color:#a8a8a8;outline:none}.multiselect__single{padding-left:5px;margin-bottom:8px}.multiselect__tags-wrap{display:inline}.multiselect__tags{min-height:40px;display:block;padding:8px 40px 0 8px;border-radius:5px;border:1px solid #e8e8e8;background:#fff;font-size:14px}.multiselect__tag{position:relative;display:inline-block;padding:4px 26px 4px 10px;border-radius:5px;margin-right:10px;color:#fff;line-height:1;background:#41b883;margin-bottom:5px;white-space:nowrap;overflow:hidden;max-width:100%;text-overflow:ellipsis}.multiselect__tag-icon{cursor:pointer;margin-left:7px;position:absolute;right:0;top:0;bottom:0;font-weight:700;font-style:normal;width:22px;text-align:center;line-height:22px;transition:all .2s ease;border-radius:5px}.multiselect__tag-icon:after{content:"\D7";color:#266d4d;font-size:14px}.multiselect__tag-icon:focus,.multiselect__tag-icon:hover{background:#369a6e}.multiselect__tag-icon:focus:after,.multiselect__tag-icon:hover:after{color:#fff}.multiselect__current{min-height:40px;overflow:hidden;padding:8px 12px 0;padding-right:30px;white-space:nowrap;border-radius:5px;border:1px solid #e8e8e8}.multiselect__current,.multiselect__select{line-height:16px;box-sizing:border-box;display:block;margin:0;text-decoration:none;cursor:pointer}.multiselect__select{position:absolute;width:40px;height:38px;right:1px;top:1px;padding:4px 8px;text-align:center;transition:transform .2s ease}.multiselect__select:before{position:relative;right:0;top:65%;color:#999;margin-top:4px;border-style:solid;border-width:5px 5px 0;border-color:#999 transparent transparent;content:""}.multiselect__placeholder{color:#adadad;display:inline-block;margin-bottom:10px;padding-top:2px}.multiselect--active .multiselect__placeholder{display:none}.multiselect__content-wrapper{position:absolute;display:block;background:#fff;width:100%;max-height:240px;overflow:auto;border:1px solid #e8e8e8;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;z-index:1;-webkit-overflow-scrolling:touch}.multiselect__content{list-style:none;display:inline-block;padding:0;margin:0;min-width:100%;vertical-align:top}.multiselect--above .multiselect__content-wrapper{bottom:100%;border-bottom-left-radius:0;border-bottom-right-radius:0;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:none;border-top:1px solid #e8e8e8}.multiselect__content::webkit-scrollbar{display:none}.multiselect__element{display:block}.multiselect__option{display:block;padding:12px;min-height:40px;line-height:16px;text-decoration:none;text-transform:none;vertical-align:middle;position:relative;cursor:pointer;white-space:nowrap}.multiselect__option:after{top:0;right:0;position:absolute;line-height:40px;padding-right:12px;padding-left:20px;font-size:13px}.multiselect__option--highlight{background:#0065cd;outline:none;color:#fff}.multiselect__option--highlight:after{content:attr(data-select);background:#41b883;color:#fff}.multiselect__option--selected{background:#f3f3f3;color:#35495e;font-weight:700}.multiselect__option--selected:after{content:attr(data-selected);color:silver}.multiselect__option--selected.multiselect__option--highlight{background:#ff6a6a;color:#fff}.multiselect__option--selected.multiselect__option--highlight:after{background:#ff6a6a;content:attr(data-deselect);color:#fff}.multiselect--disabled{background:#ededed;pointer-events:none}.multiselect--disabled .multiselect__current,.multiselect--disabled .multiselect__select,.multiselect__option--disabled{background:#ededed;color:#a6a6a6}.multiselect__option--disabled{cursor:text;pointer-events:none}.multiselect__option--group{background:#ededed;color:#35495e}.multiselect__option--group.multiselect__option--highlight{background:#35495e;color:#fff}.multiselect__option--group.multiselect__option--highlight:after{background:#35495e}.multiselect__option--disabled.multiselect__option--highlight{background:#dedede}.multiselect__option--group-selected.multiselect__option--highlight{background:#ff6a6a;color:#fff}.multiselect__option--group-selected.multiselect__option--highlight:after{background:#ff6a6a;content:attr(data-deselect);color:#fff}.multiselect-enter-active,.multiselect-leave-active{transition:all .15s ease}.multiselect-enter,.multiselect-leave-active{opacity:0}.multiselect__strong{margin-bottom:8px;line-height:20px;display:inline-block;vertical-align:top}[dir=rtl] .multiselect{text-align:right}[dir=rtl] .multiselect__select{right:auto;left:1px}[dir=rtl] .multiselect__tags{padding:8px 8px 0 40px}[dir=rtl] .multiselect__content{text-align:right}[dir=rtl] .multiselect__option:after{right:auto;left:0}[dir=rtl] .multiselect__clear{right:auto;left:12px}[dir=rtl] .multiselect__spinner{right:auto;left:1px}@keyframes a{0%{transform:rotate(0)}to{transform:rotate(2turn)}}
.multiselect{width:100%;max-height:32px;min-height:auto;font-size:1.25rem;}
a.aviso{color: #999;}
  .alert-warning {color: #555;background-color: #a2eecb;border-color: #a2eecb;}
    .blue{color:#014f98!important;}
    .fondo{background: #e9ebee;}
    .paddTitles{padding:0 0 25px;}
    .m10{margin: -10px 0;}
    .bgColorgris{background-color:#FBFBFB;background-color:#fff;padding:20px;background:#fff!important;box-shadow:5px 2px 20px 1px #eae9e9!important;}
    .img_vargasdesignmx{max-width:110px;margin:15px 0;display:block;}
    .vargasdesignmx{margin:15px auto 0;font-size:20px !important;color:#044f99 !important;font-weight:bolder;}
    .ttlefoot{margin:20px auto 2rem;}
    .centeronlysm{text-align:left;}
    .height90{height:90px;}
    .padding40{padding: 0 6%;}
    /*INI Stars*/
    fieldset, label {margin: 0; padding: 0!important;}
    .rating {border:none!important;float:inherit!important;}
    .rating > .nocolor {color:#ddd!important;}
    .rating > .sicolor{color:#FFD700!important;}
    .txtColorGray2{color:#436998;}
    .starCalif{font-size:1.5rem;font-weight:bold;color:#5c5c5c!important;}
    .average{display:inline-block;float:left;margin:0.5rem;line-height:0.8;}
    span.votes{font-size:0.5em;}
    .imggoogle{width:60px;height:auto;margin:0px auto 0;}
    .sizeW{font-size:20px;}
    .shadow-cards{box-shadow:4px 4px 17px rgba(228, 221, 221, 0.66);}
    .pCero{padding:0!important;}
    .logo-newasmx-large{width:50%;margin: 0 auto;display:inline-block;height: auto;}
    .bgGrayFoot{background:#f3f2f2;color:#656565;}
    .pacdi{padding:3em 2em;}
    li.lio {display:inline-flex;}
    li.lio a {margin: 0px 0px 10px;display: block;color: #9e9e9e;}
    li.lio a:hover{margin: 0px 0px 10px;display: block;color: #9e9e9e;}
    .pacdi2 {padding: 0.2em 2em;}
    .copiando-a-rastreator{background:#fff;box-shadow:0px -3px 10px #eae9e9;}
    @media(min-width:320px) and (max-width:768px){.centeronlysm{text-align:center;}}
</style>
